.amChartsButtonSelected {
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background-color: #43474D;
    border-style: solid;
    border-color: #43474D;
    border-width: 1px;
    color: #FFFFFF;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 1px;
    margin-top: 10px;

}

.amChartsButton {
    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    color: #000000;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 10px;
}

.amChartsCompareList {
    padding-top: 4px;
    padding-bottom: 4px;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: 1px;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.amChartsCompareList div {
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.amChartsCompareList a:hover {
    /*background-color: #369;*/
    background-color: #297b21;
    color: #FFF;
}


.amChartsCompareList > div > div:last-child {
    top: -2px !important;
}

select {
    border-radius: 5px;
    border: 1px solid rgb(169, 169, 169);
    padding: 5px 0;
}

.amChartsInputField {
    border-radius: 5px;
}

@media (max-width: 768px) {

    select {
        width: 100%;
        margin-bottom: 5px;
    }

    .amChartsDataSetSelector, .amChartsPeriodSelector > div:first-child {
        display: flex !important;
        flex-direction: column !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-bottom: 5px;
    }

    .amChartsDataSetSelector, .amChartsPeriodSelector > div:last-child {
        display: flex !important;
        margin-top: 5px;
    }

    .amChartsPeriodSelector > div:last-child {
        float: left !important;
        margin-bottom: 20px !important;
        align-items: center !important;
    }

    .amChartsDataSetSelector, .amChartsPeriodSelector > div:last-child > input[type="button"] {
        margin-top: 0 !important;
        margin-right: 5px;
    }

    .amChartsDataSetSelector, .amChartsPeriodSelector > div:last-child > input[type="button"]:first-child {
        margin-left: 10px;
    }

    .amChartsInputField {
        width: 100% !important;
        margin-bottom: 5px !important;
    }

    .amChartsButtonSelected {
        margin-bottom: 0 !important;
    }

    table#mobil td {
        background-color: #f2f2f2 !important;
    }
}
.amChartsDataSetSelector,.amChartsPeriodSelector{
    line-height: 1!important;
}
