.mb-20 {
    margin-bottom: 20px;
}

.text-theme-colored {
    color: #1f478d !important;
}

.font-36 {
    font-size: 36px !important;
}

.chartdiv {
    width: 100%;
    height: 500px;
}

.td-tab-1 {
    width: 30px;
    padding: 10px;
    border-bottom: 1px solid #0033a0;
    vertical-align: middle !important;
}

.td-tab-2 {
    border-bottom: 1px solid #0033a0;
    padding: 10px;
}

.acc-content > p, .row.clearfix > p {
    margin-bottom: 15px !important;
}

ul li {
    font-size: 16px;
}

.contact-info {
    min-height: 130px;
}

.testimonial-block-four .inner-box .text {
    font-size: 16px !important;
}

.testimonial-block-four .inner-box {
    min-height: 620px;
}

.portfolio-filter {
    position: relative;
    margin: 0 0 40px 0;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    float: left;
    border-radius: 4px;
}

.portfolio-filter li {
    float: left;
    position: relative;
}

.portfolio-filter li.activeFilter a {
    color: #FFF !important;
    background-color: #1B4889;
    margin: -1px 0;
    padding: 13px 18px;
    font-weight: bold;
}

.portfolio-filter li:first-child a {
    border-left: none;
    border-radius: 4px 0 0 4px;
}

.portfolio-filter li a {
    display: block;
    position: relative;
    padding: 12px 18px;
    font-size: 13px;
    line-height: 15px;
    color: #666;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.pl-15 {
    padding-left: 15px;
}

.proj-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 200px;
    z-index: 999999;
    background-color: #ffffff;
    background-position: center center;
    background-repeat: no-repeat;
}

.preloader img {
    width: 200px;
}

ul.list3 {
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
    /*margin-left: 20px;*/
    font-size: 14px !important;
}

ul.list3 li {
    padding-left: 1.3em;
    text-indent: -0.1em;
    margin-bottom: 10px;
}

ul.list3 li::before {
    content: "";
    background-image: url('../images/lang.png');
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    /*position: absolute;*/
    left: 20px;
    height: 20px;
    margin-right: 8px;
}

.testimonial-block-five .top-content .text {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #242424;
}

.testimonial-block-five .author-info {
    position: relative;
    text-align: right;
    float: left;
    padding: 0px 95px 0px 0px;
}

.author-info .text {
    position: relative;
    font-size: 16px !important;
    font-weight: 600 !important;
    font-style: italic !important;
    color: #242424;
    text-align: left !important;
}

input {
    position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    height: 55px;
    font-size: 14px;
    padding: 10px 50px 10px 15px;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

input, button, select, textarea {
    font-family: 'PT Sans', sans-serif;
}

.emailed-form {
    position: relative;
}

.emailed-form button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60px;
    height: 55px;
    line-height: 40px;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    background: #1F478D;
}

.main-footer {
    padding: 30px 0 0;
}

.main-footer .footer-bottom {
    margin-top: 0;
}

#text1, #text2 {
    font-size: 30px;
}

#text3 {
    font-size: 22px;
}

.main-slider h2 {
    font-size: 46px;
}

.gallery-item .lower-content {
    min-height: 320px;
}

.nosotros .row {
    display: flex;
    align-items: center;
}

.pt-0 {
    padding-top: 0 !important;
}

.tparrows:before {
    line-height: 32px;
}

.metis.tparrows {
    width: 50px;
    height: 50px;
}

.theme-btn.btn-style-one:hover {
    background-color: #1F478D;
    color: white;
}

.news-block .inner-box .lower-content {
    min-height: 220px;
}

.cp, .cp:hover, .cp:focus, .cp:active {
    cursor: pointer !important;
}

.page-title {
    padding: 50px 0px 50px 0px;
}

.sec-title h2.text-center::after {
    left: 37%;
}

.accordion .panel {
    padding: 32px;
    margin-bottom: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 1px;
    background-color: white;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.accordion .panel--heading .accordion-toggle.collapsed::after {
    background-color: transparent;
    content: "\f067";
    color: #282828;
    border: none;
}

.accordion .panel--heading .accordion-toggle::after {
    position: absolute;
    right: 0;
    top: 10px;
    content: "\f068";
    font-family: FontAwesome;
    font-size: 9px;
    color: #ffffff;
    background-color: #3C5090;
    border: 1px solid #1f478d;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.accordion .panel .panel--heading a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3C5090;
    font-weight: 700;
    line-height: 20px;
    text-transform: capitalize;
    position: relative;
    display: block;
}

table {
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

table thead tr th:first-child {
    border-top-left-radius: 2em;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

table thead tr th:last-child {
    border-top-right-radius: 2em;
    border-left: none !important;
    border-top: none !important;
    border-right: none !important;
}

table thead tr th {
    background-color: #042156 !important;
    color: white !important;
    border-top: none !important;
}

table tbody tr:nth-child(even) {
    background-color: rgba(198, 198, 197, .5) !important;
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.zoom-img {
    transition: all 0.5s;
}

.zoom-img:hover {
    transform: scale(1.2);
}

.portafolio figure.image {
    overflow: hidden;
}

.fact-counter .column .inner {
    min-height: 175px;
}

.theme-btn.btn-style-one, .theme-btn.btn-style-one:focus, .theme-btn.btn-style-one:visited {
    color: white;
}

.page-title h1 {
    font-size: 65px;
}

footer a{
    color: #ffffff !important;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .testimonial-block-four .inner-box {
        min-height: 800px;
    }

    #text1, #text2 {
        font-size: 22px;
    }
}

@media (min-width: 764px) and (max-width: 992px) {
    .testimonial-block-four .inner-box {
        min-height: 1100px;
    }

    #text1, #text2 {
        font-size: 25px;
        /*margin-left: 150px;*/
    }

}

@media (min-width: 500px) and (max-width: 763px) {
    .testimonial-block-four .inner-box {
        min-height: 600px;
    }

    #text1, #text2 {
        font-size: 25px;
    }
}

@media (max-width: 499px) {
    .testimonial-block-four .inner-box {
        min-height: 900px;
    }

    .page-title h1 {
        font-size: 36px;
    }

    #text1, #text2 {
        font-size: 18px;
    }

    #text4 {
        font-size: 22px;
    }
}


/***************************
      Accordion
***************************/
.accordion .acd-group .acd-heading:before { font-family: fontawesome; }
.accordion .acd-group .acd-heading:before { cursor: pointer; position: absolute; top: 6px; right: 20px; display: block; padding: 3px 6px 2px; content: "\f105"; font-size: 22px; line-height: 38px; }
.accordion .acd-group > .acd-heading > span { margin-right: 15px; }
.accordion .acd-heading {   transition: 0.5s ; font-weight: 500; position: relative; padding: 20px 0; color: #1F478D; line-height: normal; cursor: pointer; background-color: transparent; margin-bottom: 0px; display: block; font-family:  sans-serif; text-transform: uppercase; border-radius: 3px;  }
.acd-des { padding: 0 20px 20px 0; }
.accordion .acd-group.acd-active .acd-heading, .accordion .acd-group .acd-heading:hover { color: #1F478D; }
.accordion .acd-group.acd-active .acd-heading:before { content: "\f107"; }
.accordion .acd-group.acd-active .acd-heading span { color: #fff; }

/*plus-icon*/
.accordion.plus-icon .acd-group.acd-active .acd-heading:before { content: "\f068"; font-size: 14px; }
.accordion.plus-icon .acd-group .acd-heading:before { content: "\f067"; font-size: 14px; }

/*plus-icon round*/
.accordion.plus-icon.round .acd-group.acd-active .acd-heading:before { content: "\f056"; font-size: 14px; }
.accordion.plus-icon.round .acd-group .acd-heading:before { content: "\f055"; font-size: 14px; }

/*gray*/
.accordion.gray .acd-heading { background-color: #1F478D; }
.accordion.gray .acd-heading  { margin-bottom: 20px; padding: 20px 30px; }
.accordion.gray .acd-des { padding: 0 30px 20px; }
.accordion.gray .acd-group.acd-active .acd-heading, .accordion.gray .acd-group .acd-heading:hover { color: #fff; background: #1F478D; }

/*shadow*/
.accordion.shadow .acd-heading { box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); background: #ffffff; }
.accordion.shadow .acd-heading  { margin-bottom: 20px; padding: 20px 30px; }
.accordion.shadow .acd-des  { padding: 0 30px 20px; }
.accordion.shadow .acd-group.acd-active .acd-heading, .accordion.shadow .acd-group .acd-heading:hover { color: #fff; background: #1F478D; }


/*border*/
.accordion.accordion-border .acd-heading { background: transparent; border:1px solid #eeeeee; box-shadow: none; }
.accordion.accordion-border .acd-heading  { margin-bottom: 20px; padding: 20px 30px; }
.accordion.accordion-border .acd-des  { padding: 0 30px 20px; }
.accordion.accordion-border .acd-group.acd-active .acd-heading, .accordion.accordion-border .acd-group .acd-heading:hover { color: #fff; background: #1F478D; }

/* Accordion Simple */
.accordion.animated .acd-group .acd-heading { box-shadow: none; border:none; font-size: 18px; margin-bottom: 0; color:#1F478D; text-transform: inherit; font-weight: 700; padding: 20px 0px 0; }
.accordion.animated .acd-group.acd-active .acd-heading { font-size: 28px; color: #1F478D; margin-bottom: 20px; background: none !important;}
.accordion.animated .acd-group .acd-heading:hover{background: none !important; color: #1F478D;}
.accordion.animated .acd-group .acd-heading::before { display: none; }
.accordion.animated .acd-group .acd-des { padding: 0 30px 20px; }

.accordion.animated.dark-bg .acd-group.acd-active .acd-heading { color: #ffffff; }
.accordion.animated.dark-bg .acd-group .acd-heading:hover { color: #ffffff; }

/* No border radius*/
.accordion.no-radius .acd-heading{ border-radius: 0; }

/*bootstrap accordion*/
#accordion .card { margin-bottom: 10px; }
#accordion .card .card-header  { box-shadow: none; border-bottom: 0; }
#accordion .card .card-header button { color: #1F478D; font-weight: 500; padding: 0; text-decoration: none; }
#accordion .card .card-header button.collapsed { color: #1F478D; }

#noticias .accordion.shadow .acd-heading {
    box-shadow: none;
    padding: 20px 60px 20px 0;
    border-bottom: 1px solid;
    border-radius: unset;
    margin-bottom: 0;
}

#noticias .accordion .acd-group .acd-heading:before {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    right: 20px;
    display: block;
    padding: 3px 6px 2px;
    content: "\f061";
    font-size: 25px;
    font-weight: normal;
    line-height: 38px;
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

#noticias .cargo {
    font-size: 14px;

}

#noticias .accordion.shadow .acd-group.acd-active .acd-heading {
    box-shadow: none;
    padding: 20px 40px 20px 0;
    border-top: 1px solid #1F478D;
    border-bottom: 1px solid #1F478D;
    border-radius: unset;
    background-color: white;
    color: #1F478D;
    margin-bottom: 14px;
    margin-top: -1px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
}

.accordion.shadow .acd-group:hover .acd-heading {
    /*box-shadow: none;*/
    padding: 20px 100px 20px 10px;
    /*border-top: 1px solid #42A042;*/
    /*border-bottom: 1px solid #42A042;*/
    border-radius: unset;
    background-color: white;
    color: #1F478D;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;


}

.accordion .acd-group .acd-heading:before {
    cursor: pointer;
    position: absolute;
    right: 20px;
    display: flex;
    padding: 3px 6px 2px;
    content: "\f105";
    font-size: 22px;
    line-height: 38px;
    top: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    align-items: center;
    transition: all 0.2s;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.ph-5{
    padding-left: 3rem;
    padding-right: 3rem;
}
.ph-50{
    padding-left:50px;
    padding-right: 50px;
}
