.mb-20 {
    margin-bottom: 20px;
}

.text-theme-colored {
    color: #ce8d0d !important;
}

.font-36 {
    font-size: 36px !important;
}

.chartdiv {
    width: 100%;
    height: 500px;
}

.td-tab-1 {
    width: 30px;
    padding: 10px;
    border-bottom: 1px solid #0033a0;
    vertical-align: middle !important;
}

.td-tab-2 {
    border-bottom: 1px solid #0033a0;
    padding: 10px;
}

.acc-content > p, .row.clearfix > p {
    margin-bottom: 15px !important;
}

ul li {
    font-size: 16px;
}

.contact-info {
     min-height: 130px;
}