{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="product-info-tabs">

                    <!--Product Tabs-->
                    <div class="prod-tabs" id="product-tabs">

                        <!--Tab Btns-->
                        <div class="tab-btns clearfix">
                            <!--<a href="#2019" class="tab-btn">2019</a>-->
                            <a href="#2021" class="tab-btn active-btn">2021</a>
                            <a href="#2020" class="tab-btn">2020</a>
                            <a href="#2019" class="tab-btn">2019</a>
                            <a href="#2018" class="tab-btn">2018</a>
                            <a href="#2017" class="tab-btn">2017</a>
                        </div>

                        <!--Tabs Container-->
                        <div class="tabs-container">
                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="2021">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/01-10-2021-compra-terreno-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/01-10-2021-compra-terreno-en.pdf">
                                              2021-10-01 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/01-10-2021-compra-terreno-en.pdf">
                                                                    Fibra Nova signed a binding agreement for the purchase of 32.7 hectares in Cd Juarez</a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/17-08-2021-contrato-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/17-08-2021-contrato-en.pdf">
                                              2021-08-17 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/17-08-2021-contrato-en.pdf">
                                                                    Fibra Nova announces new lease agreement in Ciudad Juarez</a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/28-07-2021-contrato-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/28-07-2021-contrato-en.pdf">
                                              2021-07-28 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/28-07-2021-contrato-en.pdf">
                                                                    Fibra Nova announces new lease agreement in Reynosa</a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/26-07-2021-contrato.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-07-2021-contrato.pdf">
                                              2021-07-26</a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/26-07-2021-contrato.pdf">
                                                                  Fibra Nova announces new lease in Hermosillo</a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/18-05-2021-Adquisicion.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/18-05-2021-Adquisicion.pdf">
                                              2021-05-18 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/18-05-2021-Adquisicion.pdf">
                                                                    Fibra Nova announces the acquisition of an agro-industrial property focused on the export sector, becoming the first fiber to invest in agribusiness properties in Mexico. </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/17-05-2021-Certificados.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/17-05-2021-Certificados.pdf">
                                              2021-05-17 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/17-05-2021-Certificados.pdf">
                                                                    FIBRA NOVA Announces Final Underwriting Results of Additional Certificates Issuance </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/07-05-2021-Certificados-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/07-05-2021-Certificados-en.pdf">
                                              2021-05-07 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/07-05-2021-Certificados-en.pdf">
                                                                    FIBRA NOVA Announces Subscription Results of Additional Certificates Issuance </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/2021-FNOVA_-_Contrato_de_Suscripción.docx"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/2021-FNOVA_-_Contrato_de_Suscripción.docx">
                                              2021-04-28 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/2021-FNOVA_-_Contrato_de_Suscripción.docx">
                                                                    Subscription contract </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/26-04-2021-Modificaciones.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-04-2021-Modificaciones.pdf">
                                              2021-04-26 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/26-04-2021-Modificaciones.pdf">
                                                                    Modifications to the ex-entitlement and record dates related to the subscription of the additional Certificates </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/21-04-2021-Emision.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/21-04-2021-Emision.pdf">
                                              2021-04-21 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/21-04-2021-Emision.pdf">
                                                                    Additional issuance of Certificates </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/25-03-2021-Convocatoria.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/25-03-2021-Convocatoria.pdf">
                                              2021-03-25 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/25-03-2021-Convocatoria.pdf">
                                                                    Call for Annual Meeting 2020 </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/03-03-2021-Aviso.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/03-03-2021-Aviso.pdf">
                                              2021-03-03 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/03-03-2021-Aviso.pdf">
                                                                    Notice of rights </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/12-02-2021-Compraventa-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/12-02-2021-Compraventa-en.pdf">
                                              2021-02-12 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/12-02-2021-Compraventa-en.pdf">
                                                                    Fibra Nova announces signing of a binding agreement with promise of purchase and sale </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/08-02-2021-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/08-02-2021-Contrato-Arrendamiento-en.pdf">
                                              2021-02-08 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/08-02-2021-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova announces new contract in Ciudad Juárez </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/18-01-2021-Bancomext-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/18-01-2021-Bancomext-en.pdf">
                                              2021-01-18 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/18-01-2021-Bancomext-en.pdf">
                                                                    Fibra Nova announces extension of credit facility with Bancomext </a></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab" id="2020">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/30-12-2020-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/30-12-2020-Contrato-Arrendamiento-en.pdf">
                                              2020-12-30 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/30-12-2020-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova announces execution of a new lease in Chihuahua </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/17-12-2020-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/17-12-2020-Movimiento-Inusitado.pdf">
                                              2020-12-17 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/17-12-2020-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/09-12-2020-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/09-12-2020-Movimiento-Inusitado.pdf">
                                              2020-12-09 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/09-12-2020-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/01-12-2020-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/01-12-2020-Movimiento-Inusitado.pdf">
                                              2020-12-01 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/01-12-2020-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/30-11-2020-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/30-11-2020-Movimiento-Inusitado.pdf">
                                              2020-11-30 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/30-11-2020-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/26-11-2020-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-11-2020-Movimiento-Inusitado.pdf">
                                              2020-11-26 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/26-11-2020-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/04-11-2020-Aviso.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/04-11-2020-Aviso.pdf">
                                              2020-11-04 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/04-11-2020-Aviso.pdf">
                                                                    3Q20 distribution payments </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/03-11-2020-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/03-11-2020-Contrato-Arrendamiento-en.pdf">
                                              2020-11-03 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/03-11-2020-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova announces new lease of Built to Suit property </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/16-10-2020-Calificacion-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/16-10-2020-Calificacion-en.pdf">
                                              2020-10-16 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/16-10-2020-Calificacion-en.pdf">
                                                                    Fibra Nova announces that HR Ratings de México, S.A. de C.V. assigned it a rating of HR AA+ with Stable Outlook; also on October 13, 2020 Fitch México, S.A. de C.V. assigned it a long-term national scale rating of 'AA-(mex)'. </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/27-07-2020-CC-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/27-07-2020-CC-en.pdf">
                                              2020-07-27 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/27-07-2020-CC-en.pdf">
                                                                    Fibra Nova's earnings call </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/20-05-2020-Continuidad-Pago-Rentas-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/20-05-2020-Continuidad-Pago-Rentas-en.pdf">
                                              2020-05-20 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/20-05-2020-Continuidad-Pago-Rentas-en.pdf">
                                                                  Fibra Nova announces continuity of rent payments to its tenants in the face of health emergency </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/27-03-2020-Bancomext.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/27-03-2020-Bancomext.pdf">
                                              2020-03-27 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/27-03-2020-Bancomext.pdf">
                                                                    Fibra Nova announces the availability of a US$50 million credit facility </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/22-01-2020-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/22-01-2020-Contrato-Arrendamiento-en.pdf">
                                              2020-01-22 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/22-01-2020-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova announces new contract in Ciudad Juarez </a></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tab" id="2019">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/26-11-2019-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-11-2019-Contrato-Arrendamiento-en.pdf">
                                              2019-11-26 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/26-11-2019-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova announces new lease agreement in Ciudad Juarez </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/18-10-2019-CC-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/18-10-2019-CC-en.pdf">
                                              2019-10-18 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/18-10-2019-CC-en.pdf">
                                                                    Fibra Nova's earnings call </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/15-10-2019-Visteon-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/15-10-2019-Visteon-en.pdf">
                                              2019-10-15 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/15-10-2019-Visteon-en.pdf">
                                                                    Fibra Nova announces new office development in Querétaro </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/10-10-2019-Contrato-Arrendamiento-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/10-10-2019-Contrato-Arrendamiento-en.pdf">
                                              2019-10-10 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/10-10-2019-Contrato-Arrendamiento-en.pdf">
                                                                    Fibra Nova reaches agreement for new lease in Ciudad Juarez </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/03-09-2019-Movimiento-Inusitado.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/03-09-2019-Movimiento-Inusitado.pdf">
                                              2019-09-03 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/03-09-2019-Movimiento-Inusitado.pdf">
                                                                    Unusual movements in the trading of FNOVA17 representative securities </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/11-07-2019-CC-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/11-07-2019-CC-en.pdf">
                                              2019-07-11 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/11-07-2019-CC-en.pdf">
                                              Fibra Nova's earnings call </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/24-05-2019-Contrato-Arrendamiento.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/24-05-2019-Contrato-Arrendamiento.pdf">
                                              2019-05-24 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/24-05-2019-Contrato-Arrendamiento.pdf">
                                              Fibra Nova announces new lease agreement </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/08-05-2019-Aviso-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/08-05-2019-Aviso-en.pdf">
                                              2019-05-08 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/08-05-2019-Aviso-en.pdf">
                                              FNOVA 17 announces amount to be paid in respect of the cash distribution for the January through March 2019 quarter </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/06-03-2019-Aviso-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/06-03-2019-Aviso-en.pdf">
                                              2019-03-06 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/06-03-2019-Aviso-en.pdf">
                                              FNOVA 17 announces amount to be paid in respect of the cash distribution for the October to December 2018 quarter. </a></td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="2018">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/20-12-2018-Ratificacion-Auditor-Externo-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/20-12-2018-Ratificacion-Auditor-Externo-en.pdf">
                                              2018-12-20 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/20-12-2018-Ratificacion-Auditor-Externo-en.pdf">
                                              Fibra Nova announces ratification of its External Auditor </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/20-11-2018-Distribucion-en.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/20-11-2018-Distribucion-en.pdf">
                                              2018-11-20 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/20-11-2018-Distribucion-en.pdf">
                                              FNOVA 17 announces amount payable for cash distribution in respect to the third quarter, July – September 2018 </a></td>
                                      </tr>
                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/26-10-2018-Aviso.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-10-2018-Aviso.pdf">
                                              2018-10-26 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/26-10-2018-Aviso.pdf">
                                              FNOVA 17 announces amount to be paid in respect of the cash distribution for the July to September 2018 quarter. </a></td>
                                      </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/26-10-2018-CC.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/26-10-2018-CC.pdf">
                                            2018-10-26 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/26-10-2018-CC.pdf">
                                            Fibra Nova announces conference call on third quarter 2018 results. </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/05-10-2018-Contrato-Arrendamiento.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/05-10-2018-Contrato-Arrendamiento.pdf">
                                            2018-10-05 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/05-10-2018-Contrato-Arrendamiento.pdf">
                                            Fibra Nova signs lease agreement with automotive manufacturer </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/24-07-2018-CC.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/24-07-2018-CC.pdf">
                                            2018-07-24 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/24-07-2018-CC.pdf">
                                            Fibra Nova announces second quarter 2018 results conference call </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/5-07-2018-Contrato-Arrendamiento.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/5-07-2018-Contrato-Arrendamiento.pdf">
                                            2018-07-05 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/5-07-2018-Contrato-Arrendamiento.pdf">
                                            Fibra Nova announces new lease </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/03-05-2018-Nuevas-Inversiones.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/03-05-2018-Nuevas-Inversiones.pdf">
                                            2018-05-03 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/03-05-2018-Nuevas-Inversiones.pdf">
                                            Fibra Nova announces new investments </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/02-05-2018-CC.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/02-05-2018-CC.pdf">
                                            2018-05-02 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/02-05-2018-CC.pdf">
                                            Fibra Nova announces conference call on First Quarter 2018 results </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/03-04-2018-Reenvio-Informacion-Financiera-en.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/03-04-2018-Reenvio-Informacion-Financiera-en.pdf">
                                            2018-04-03 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/03-04-2018-Reenvio-Informacion-Financiera-en.pdf">
                                            Fibra Nova announces resubmission of financial information for the fourth quarter of 2017 with no quantitative changes</a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/22-02-2018-CC.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/22-02-2018-CC.pdf">
                                            2018-02-22 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/22-02-2018-CC.pdf">
                                            Fibra Nova announces fourth quarter 2017 results conference call </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/18-01-2018-Contrato-Arrendamiento-en.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/18-01-2018-Contrato-Arrendamiento-en.pdf">
                                            2018-01-18 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/18-01-2018-Contrato-Arrendamiento-en.pdf">
                                            Fibra Nova announces new lease agreement </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/02-01-2018-Nuevas-Inversiones-en.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/02-01-2018-Nuevas-Inversiones-en.pdf">
                                            2018-01-02 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/02-01-2018-Nuevas-Inversiones-en.pdf">
                                            Fibra Nova announces new investments </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="2017">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>

                                      <tr>
                                          <td class="td-tab-1">
                                              <a target="_blank"
                                                 href="{{ urlbase }}/EventosRelevantes/22-11-2017-Aviso.pdf"><i
                                                      class="fa fa-download"></i></a></td>
                                          <td class="td-tab-2"><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/22-11-2017-Aviso.pdf">
                                              2017-11-22 </a><br><a target="_blank"
                                                                    href="{{ urlbase }}/EventosRelevantes/22-11-2017-Aviso.pdf">
                                              Fibra Nova announces payment of distributions for the third quarter 2017 fiscal year </a></td>
                                      </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/13-11-2017-Aviso-en.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/13-11-2017-Aviso-en.pdf">
                                            2017-11-13 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/13-11-2017-Aviso-en.pdf">
                                                                  FNOVA 17 announces amount to be paid in respect of the cash distribution for the July-September 2017 quarter</a></td>
                                    </tr>
                                    <tr>

                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/20-10-2017-Contrato-Arrendamiento.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/20-10-2017-Contrato-Arrendamiento.pdf">
                                            2017-10-20 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/20-10-2017-Contrato-Arrendamiento.pdf">
                                            Fibra Nova announces new lease agreements </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="{{ urlbase }}/EventosRelevantes/08-09-2017-Inauguracion-UNITEC.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="{{ urlbase }}/EventosRelevantes/08-09-2017-Inauguracion-UNITEC.pdf">
                                            2017-09-08 </a><br><a target="_blank"
                                                                  href="{{ urlbase }}/EventosRelevantes/08-09-2017-Inauguracion-UNITEC.pdf">
                                            Fibra Nova announces the inauguration of Unitec Campus Querétaro </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
