{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="faq-column col-md-12">

                    <div class="accordion-box">
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn active">
                              <p class="title">What is a Mexican REIT?</p>
                              <div class="toggle-icon">
                                  <span class="plus fa fa-angle-right"></span><span
                                      class="minus fa fa-angle-down"></span>
                              </div>
                          </div>
                          <div class="acc-content collapsed">
                              <p>
                                A Mexican Real Estate Investment Trust (also known as FIBRA) is an investment instrument that makes the real estate market more accessible for investors who lack sufficient capital or liquidity to acquire or develop real estate with the purpose of receiving lease revenue from such assets. In return for their investment, holders receive Real Estate Trust Certificates (Certificados Bursátiles Fiduciarios Inmobiliarios, or CBFIs for their Spanish acronym) which yield periodic returns as a result of the collection of rents, as well as capital gains realized from their sale.
                              </p>
                          </div>
                      </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Who is Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <span class="plus fa fa-angle-right"></span><span
                                        class="minus fa fa-angle-down"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>
                                  Fibra Nova is a Mexican real estate investment trust listed on the Mexican Stock Exchange, focused on the acquisition, management and development of real estate for lease. Fibra Nova has a real estate portfolio with more than 372 thousand square meters leased in various cities and industries in Mexico, grown through a business model geared towards steady expansion and value creation.
                                </p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Who are your main tenants?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Our customer base includes: Grupo Bafar, UVM, RR Donnelley, Lear, Legget & Platt, FireFox, Veritiv, Truper, CEMEX, UNITEC, BRP, Teleperformance Mexico (Merkafon), among others.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Why invest in Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova has a robust business model underpinned by an internalized management and a brand-new portfolio 100% leased by class "A" clients under long-term contracts. Likewise, the Trust’s equity is well backed by a highly qualified Corporate Governance, whose interests are fully aligned with those of the investors.</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">What is Fibra Nova’s main objective?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova’s main objective is to deliver attractive risk-adjusted returns to its holders through stable distributions and appreciation of its real estate assets. </p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">What are Real Estate Trust Certificates (CBFIs)?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Real Estate Trust Certificates (Certificados Bursátiles Fiduciarios Inmobiliarios, or CBFIs) are securities that represent the assets comprising the real estate portfolio of a Mexican REIT, whose return is linked to the operating income of such properties or, as the case may be, to the proceeds from their sale. These securities are a mix of fixed-income and equity investments, since they entitle their holders a cash distribution of at least 95% of the taxable income (at least once a year), as a dividend, and provide them with an additional return from the appreciation of the certificates. CBFIs can be traded as easily as shares.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Who are Fibra Nova’s key executive officers?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Guillermo de Jesus Medrano Artalejo - Chief Executive Officer</p>
                                <p>Lorena Martinez Molina – Chief Operations Officer</p>
                                <p>Gilberto Delgado Lopez – Director of Real Estate Administration</p>
                                <p>Luis Carlos Piñon Reza - Chief Financial Officer</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">What real estate segments is Fibra Nova focused on?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova is initially focused on investing in the consumer, office, industrial, logistics and educational segments. However, in the future it may target other real estate segments as the Manager and Advisor deems appropriate for the interest of the holders.</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Who provides coverage for Fibra Nova's CBFIs?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova's CBFIs are currently covered by BBVA, GBM and Apalache Analisis.</p>
                            </div>
                        </div>


                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">Where are Fibra Nova's Real Estate Trust Certificates (CBFIs) listed?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova's CBFIs are listed on the Mexican Stock Exchange (BMV) since 2017 under the ticker symbol "FNOVA17".</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">How do taxes work in REITs?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Pursuant to articles 187 and 188 of the Mexican Income Tax Law, there are different tax effects applicable to the return on investments made in FIBRAs by domestic investors:

                            Cash distributions that are categorized as "Taxable Income" will be taxed according to the withholding rate applicable to each investor. Your brokerage firm will withhold the applicable withholding tax and provide you with a withholding certificate at the end of the year.

                            Cash distributions that are categorized as "Capital Refund" will be taxed at 0%.

                            The appreciation of the CBFI (Sales Price - Purchase Price) will have a 0% tax rate.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
