{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div id="fundamentales">
                    <select class="form-control drop-corto" id="select_grafico">
                        <option value="g1" selected>Financial Position</option>
                        <option value="g2">Income Statement</option>
                        <option value="g3">Indicadores Operativos</option>
                        <option value="g4">Flujo de Efectivo</option>
                    </select>
                    <br>

                    <div id="g1" class="hidden" data-divG="chart_situacion">
                        <h3>Financial Position (thousands of Mexican pesos)</h3>
                        <div class="contentTable">
                            <table id="table1" class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">2Q21</th>
                                    <th class="col-md-1">1Q21</th>
                                    <th class="col-md-1">4Q20</th>
                                    <th class="col-md-1">3Q20</th>
                                    <th class="col-md-1">2Q20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Assets</td>
                                    <td>10,286,826</td>
                                    <td>7,575,229</td>
                                    <td>7,087,404</td>
                                    <td>6,950,375</td>
                                    <td>6,915,077</td>
                                <tr>
                                    <td>Liabilities</td>
                                    <td>3,169,585</td>
                                    <td>2,368,112</td>
                                    <td>1,969,495</td>
                                    <td>2,073,355</td>
                                    <td>2,088,141</td>
                                </tr>
                                <tr>
                                    <td>Stockholder's Equity</td>
                                    <td>7,117,241</td>
                                    <td>5,207,117</td>
                                    <td>5,117,909</td>
                                    <td>4,877,020</td>
                                    <td>4,826,936</td>
                                </tr>
                                <tr>
                                    <td>Cash & Cash Equivalents</td>
                                    <td>26,525</td>
                                    <td>30,549</td>
                                    <td>43,854</td>
                                    <td>9,172</td>
                                    <td>3,859</td>
                                </tr>
                                <tr>
                                    <td>Contributions from the Trustors</td>
                                    <td>4,900,530</td>
                                    <td>3,199,264</td>
                                    <td>3,311,014</td>
                                    <td>3,424,313</td>
                                    <td>3,537,883</td>
                                </tr>
                                <tr>
                                    <td>Investment Properties</td>
                                    <td>9,579,359</td>
                                    <td>7,071,246</td>
                                    <td>6,900,837</td>
                                    <td>6,720,068</td>
                                    <td>6,727,966</td>
                                </tr>
                                <tr>
                                    <td>Outstanding Certificates</td>
                                    <td>335,607,770</td>
                                    <td>241,715,825</td>
                                    <td>241,715,825</td>
                                    <td>241,893,855</td>
                                    <td>241,873,024</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button id="btn1" class="float-right">Export</button>
                            </div>
                        </div>
                        <br>
                        <div id="chart_situacion" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g2" class="hidden" data-divG="chart_resultados">
                        <h3>Income Statement (thousands of Mexican pesos)</h3>
                        <div class="contentTable">
                            <table id="table2" class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">2Q21</th>
                                    <th class="col-md-1">1Q21</th>
                                    <th class="col-md-1">4Q20</th>
                                    <th class="col-md-1">3Q20</th>
                                    <th class="col-md-1">2Q20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Revenue</td>
                                    <td>153,099</td>
                                    <td>144,088</td>
                                    <td>142,672</td>
                                    <td>143,831</td>
                                    <td>144,439</td>
                                </tr>
                                <tr>
                                    <td>Lease Revenue</td>
                                    <td>148,727</td>
                                    <td>143,034</td>
                                    <td>141,641</td>
                                    <td>142,309</td>
                                    <td>143,619</td>
                                </tr>
                                <tr>
                                    <td>Operating Expenses</td>
                                    <td>4,297</td>
                                    <td>4,210</td>
                                    <td>3,777</td>
                                    <td>4,267</td>
                                    <td>4,136</td>
                                </tr>
                                <tr>
                                    <td>Net Operating Income (NOI)</td>
                                    <td>148,802</td>
                                    <td>139,878</td>
                                    <td>138,895</td>
                                    <td>139,564</td>
                                    <td>140,303</td>
                                </tr>
                                <tr>
                                    <td>NOI Margin (%)</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                </tr>
                                <tr>
                                    <td>Operating Income</td>
                                    <td>137,946</td>
                                    <td>131,664</td>
                                    <td>129,113</td>
                                    <td>130,988</td>
                                    <td>131,179</td>
                                </tr>
                                <tr>
                                    <td>EBITDA</td>
                                    <td>137,975</td>
                                    <td>131,690</td>
                                    <td>129,198</td>
                                    <td>130,992</td>
                                    <td>131,184</td>
                                </tr>
                                <tr>
                                    <td>EBITDA Margin (%)</td>
                                    <td>90%</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                </tr>
                                <tr>
                                    <td>Comprehensive Financing Result</td>
                                    <td>70,131</td>
                                    <td>(80,705)</td>
                                    <td>180,680</td>
                                    <td>(53,640)</td>
                                    <td>159,317</td>
                                </tr>
                                <tr>
                                    <td>Revaluation of Investment Properties</td>
                                    <td>-</td>
                                    <td>149,999</td>
                                    <td>47,474</td>
                                    <td>85,900</td>
                                    <td>(70,946)</td>
                                </tr>
                                <tr>
                                    <td>Net Income</td>
                                    <td>208,077</td>
                                    <td>200,958</td>
                                    <td>357,311</td>
                                    <td>163,248</td>
                                    <td>219,962</td>
                                </tr>
                                <tr>
                                    <td>Distribution per Certificate (MXN)</td>
                                    <td>0.4626</td>
                                    <td>0.4623</td>
                                    <td>0.4623</td>
                                    <td>0.4676</td>
                                    <td>0.4695</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button id="btn2" class="float-right">Export</button>
                            </div>
                        </div>
                        <br>
                        <div id="chart_resultados" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g3" class="hidden" data-divG="chart_operativos">
                        <h3>Operating Metrics</h3>
                        <div class="contentTable">
                            <table id="table3" class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">2Q21</th>
                                    <th class="col-md-1">1Q21</th>
                                    <th class="col-md-1">4Q20</th>
                                    <th class="col-md-1">3Q20</th>
                                    <th class="col-md-1">2Q20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>GLA (m<sup>2</sup>)</td>
                                    <td>390,619</td>
                                    <td>372,793</td>
                                    <td>350,210</td>
                                    <td>342,737</td>
                                    <td>342,737</td>
                                </tr>
                                <tr>
                                    <td>Occupancy</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Properties</td>
                                    <td>103</td>
                                    <td>100</td>
                                    <td>99</td>
                                    <td>97</td>
                                    <td>97</td>
                                </tr>
                                <tr>
                                    <td>Average Lease Term (years)</td>
                                    <td>7.8</td>
                                    <td>6.2</td>
                                    <td>6.2</td>
                                    <td>6.4</td>
                                    <td>6.8</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button id="btn3" class="float-right">Export</button>
                            </div>
                        </div>
                        <br>
                        <p class="amctitle">Operating Metrics</p>
                        <p class="amcsubtitle">Operating Metrics</p>
                        <div id="chart_operativos" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g4" class="hidden" data-divG="chart_efectivo">
                        <h3>Cash Flow (thousands of Mexican pesos)</h3>
                        <div class="contentTable">
                            <table id="table4" class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">2Q21</th>
                                    <th class="col-md-1">1Q21</th>
                                    <th class="col-md-1">4Q20</th>
                                    <th class="col-md-1">3Q20</th>
                                    <th class="col-md-1">2Q20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Operating Activities</td>
                                    <td>681,459</td>
                                    <td>192,597</td>
                                    <td>127,371</td>
                                    <td>104,206</td>
                                    <td>176,338</td>
                                </tr>
                                <tr>
                                    <td>Investing Activities</td>
                                    <td>(967,909)</td>
                                    <td>(295,493)</td>
                                    <td>(64,574)</td>
                                    <td>47,259</td>
                                    <td>(21,303)</td>
                                </tr>
                                <tr>
                                    <td>Financing Activities</td>
                                    <td>301,459</td>
                                    <td>121,929</td>
                                    <td>(28,115)</td>
                                    <td>(146,152)</td>
                                    <td>(164,206)</td>
                                </tr>
                                <tr>
                                    <td>Cash Generated in the Period</td>
                                    <td>15,009</td>
                                    <td>19,033</td>
                                    <td>34,682</td>
                                    <td>5,313</td>
                                    <td>(9,171)</td>
                                </tr>
                                </tbody>
                            </table>
                            <small>* Including FX effects
                            </small>
                            <div class="text-right">
                                <button id="btn4" class="float-right">Export</button>
                            </div>
                        </div>
                        <br>
                        <div id="chart_efectivo" class="char-fundamentales chartdiv"></div>
                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'js/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'js/amCharts/serial.js' %}"></script>
    <script src="{% static 'js/amCharts/contenido/fundamentales.js' %}"></script>
    <script src="{% static 'js/jquery.table2excel.min.js' %}"></script>

    <script !src="">
        $("#btn1").click(function () {
            $("#table1").table2excel({
                // exclude CSS class
                name: "Situación Financiera",
                filename: "SituacionFinanciera", //do not include extension
                fileext: ".xls", // file extension
                preserveColors: true
            });
        });

        $("#btn2").click(function () {
            $("#table2").table2excel({
                // exclude CSS class
                name: "Estado de Resultados",
                filename: "EstadoResultados", //do not include extension
                fileext: ".xls", // file extension
                preserveColors: true
            });
        });

        $("#btn3").click(function () {
            $("#table3").table2excel({
                // exclude CSS class
                name: "Indicadores Operativos",
                filename: "IndicadoresOperativos", //do not include extension
                fileext: ".xls", // file extension
                preserveColors: true
            });
        });

        $("#btn4").click(function () {
            $("#table4").table2excel({
                // exclude CSS class
                name: "Flujo de Efectivo",
                filename: "FlujoEfectivo", //do not include extension
                fileext: ".xls", // file extension
                preserveColors: true
            });
        });
    </script>
{% endblock %}
