{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
<div class="container calculadora">
    <div class="row justify-content-center">
        <div class=" col-sm-12 col-xs-12">
            <div class="widget text-justify row">
                <div class="col-md-6">
                    <div class="">
                        <div class="card bg-primary p-2 m-2">
                            <h3 class="text-white">Actinver</h3>
                            <span>

                            </span>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <div class="card bg-primary p-2 m-2">
                            Inversión inicial
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="widget text-justify row">
                <div class="col-md-6">
                    <div class="">
                        <div class="card bg-primary p-2 m-2">
                           RESULTADO FINAL
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="">
                        <div class="card bg-primary p-2 m-2">
                            Dividendos recibido
                        </div>

                    </div>
                </div>
            </div><!-- end widget -->

        </div><!-- end col-lg-9 -->
    </div><!-- end row -->
    <div class="clearfix"></div>
</div>
    </section>
{% endblock %}
