{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-dot-style-one owl-nav-none">
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/industrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box">
                                <img src="{% static 'images/contenido/icono1.png' %}" alt="">
                            </div>
                            <h3><a href="{% url 'frontend:portafolio' tab='manufactura' %}">Industrial Portfolio</a></h3>
                            <div class="text">
                                <p>18 properties</p>
                                <p>262,837 m<sup>2</sup></p>
                                <p>100% occupancy</p>
                                <p>5.8 years of weighted-average remaining lease term</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/comercial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono3.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Retail Portfolio</a></h3>
                            <div class="text">
                                <p>65 properties</p>
                                <p>23,431 m<sup>2</sup></p>
                                <p>100% occupancy</p>
                                <p>5.8 years of weighted-average remaining lease term</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/logistico.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono4.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='logistica' %}">Logistics Portfolio </a></h3>
                            <div class="text">
                                <p>10 properties</p>
                                <p>36,345 m<sup>2</sup></p>
                                <p>100% occupancy</p>
                                <p>4.9 years of weighted-average remaining lease term </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/oficina.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono5.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Office Portfolio</a></h3>
                            <div class="text">
                                <p>5 properties</p>
                                <p>24,924 m<sup>2</sup></p>
                                <p>100% occupancy</p>
                                <p>6.6 years of weighted-average remaining lease term </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/educacion.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Educational Facilities Portfolio</a></h3>
                            <div class="text">
                                <p>3 properties</p>
                                <p>43,082 m<sup>2</sup></p>
                                <p>100% occupancy</p>
                                <p>6.6 years of weighted-average remaining lease term </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/agroindustrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Agroindustrial Portfolio</a></h3>
                            <div class="text">
                                <p>2 properties</p>
                                <p>1,645 ha</p>
                                <p>100% occupancy</p>
                                <p>14.8 years of weighted-average remaining lease term </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two-half"
             style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered wow fadeInUp"  data-wow-duration="1.5s" >
                <h2>FIBRA NOVA IN A NUTSHELL (2Q21)</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="846">0</span><span
                                        class="" style="color: white;">+</span>
                                </div>
                                <h4 class="counter-title">Annualized Rent (millions of Mexican pesos)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Occupancy (%)<br> &nbsp;</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="103">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Properties <br> &nbsp;</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="390619">0</span>
                                </div>
                                <h4 class="counter-title">GLA (m<sup>2</sup>) <br> &nbsp;</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title wow fadeInUpBig"  data-wow-duration="1.5s" >
                <h2>Relevant Events</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInUpBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21-en.pdf"><img
                                    src="{% static 'images/contenido/eventos1.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">15-04-2021</div>-->
                            <h3>
                                <a target="_blank"
                                   href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21-en.pdf">Fibra Nova reports results for the second quarter of 2021</a></h3>
                            <div class="text">
                            </div>
                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21-en.pdf"
                               target="_blank" class="detail">Read more <span
                                    class="fa fa-angle-right"></span></a>
{#                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21-en.pdf"#}
{#                               target="_blank" class="detail">Read more <span#}
{#                                    class="fa fa-angle-right"></span></a>#}
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInRightBig">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{% url 'frontend:noticias' no=31 %}"><img
                                    src="{% static 'images/contenido/contrato.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">08-10-2018</div>-->
                            <h3><a href="{% url 'frontend:noticias' no=31 %}">New lease agreement in Ciudad Juarez</a></h3>
                            <div class="text">
                            </div>
                            <a href="{% url 'frontend:noticias' no=31 %}"
                               class="detail">Read more <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInLeftBig">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{% url 'frontend:noticias' no=30 %}"><img
                                    src="{% static 'images/contenido/firma_promesa.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="{% url 'frontend:noticias' no=30 %}">New lease agreement in Reynosa</a></h3>
                            <div class="text">
                            </div>
                            <a href="{% url 'frontend:noticias' no=30 %}"
                               class="detail">Read more <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->


    <section class="clients-section theme-bg">
        <div class="auto-container">
            <div class="sec-title wow fadeInLeftBig" style="margin-bottom: 20px;">
                <h2>Main Tenants</h2>
            </div>
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/1.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/2.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/3.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/4.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/5.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/6.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/7.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/8.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/9.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/10.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/11.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/12.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/14.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/15.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/16.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/17.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/18.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/19.png' %}" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <section class="map-section mt-5">
        <div class="auto-container mt-5 p-5">
            <div class="sec-title sec-title wow fadeInLeft" style="margin-bottom: 20px;">
                <h2>Where does Fibra Nova have properties?</h2>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-4">
                    <h4>Projects located in areas with a high potential for economic and demographic growth in {{ Presencia_ciudades }} cities across {{ Presencia_entidades }} Mexican States</h4>
                    <br><br>
                    <div class="btns-wrap">
                        <a href="{% url 'frontend:perfil-presencia-geografica' %}" class="theme-btn btn-style-one"> Read more</a>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8 col-11 mt-5 mt-md-0">
                    <div class="wow fadeInRightBig" data-wow-duration="2.0s">
                        <img src="{% static 'images/contenido/mapa2-eng.jpg' %}" alt="" width="95%">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Clients Section-->
    <!--INVITACIÓN TRIMESTRAL INICIO-->
    <div id="myModal" class="modal">
        <div class="modal-dialog modal-confirm modal-index" >
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 style="width: 100%;text-align: center"> </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                  <div class="card">
                      <div class="row justify-content-center">
                          <div class="col-md-11 text-center">
                              <h5>FIBRA NOVA INVITES YOU TO PARTICIPATE IN ITS</h5>
                              <h4 style="color: #5254ce">THIRD QUARTER 2021</h4>
                              <h5>EARNINGS</h5>
                              <h4 style="color: #5254ce">CONFERENCE CALL</h4>
                          </div>
                      </div>

                    <div class="row">
                        <div class="col-md-7">
                            <p>
                                <label for="">Date:</label>
                                Thursday, October XX, 2021
                            </p>
                            <p>
                                <label for="">Time:</label>
                                xx:xx a.m. (Central Time, Mexico)<br/>
                                <span class="ml-3">xx:xx a.m. (Eastern Time, N.Y.)</span>
                            </p>
                            <p>
                                <label>Dialing numbers:</label><br/>
                                EE. UU.:+1-XXX-XXX-XXXX<br/>
                                International (Mexico):+1-XX-XXX-XXXX<br/>
                            </p>
                            <p>
                                <label for="">3Q21 earnings release:</label><br/>
                                XXXXXX, October XX, 2021<br/>
                                (at market close)
                            </p>
                        </div>
                        <div class="col-md-5">
                            <p>
                                <label for="">Directed by:</label><br/>
                                    <span>XXXX XXXX, XXXX</span><br/>
                                    <span>XXXX XXXX, XXXX</span><br/>
                                    <span>XXXX XXXX, XXXX</span>
                            </p>
                            <p><label for="">Access code:</label>XXXX</p>
                            <br/>
                            <p><label for="">For more information:</label><br/>
                                XXXXxxx@xxxxx.com<br/>
                                Phone: +XXXXXXXXX
                            </p>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!--INVITACIÓN TRIMESTRAL FIN-->

    <div class="row clearfix"></div>
{% endblock %}
{% block otherscripts %}
    <script>
    $(function(){
        $('#myModal').modal('show');
    })
    </script>
{% endblock %}
