{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="work-section sp-one portafolio">
        <div class="auto-container">

            <div class="row clearfix pl-15">
                <ul id="portfolio-filter" class="portfolio-filter clearfix" data-container="#portfolio">
                    <li class="activeFilter"><a id="todos" href="#" data-filter="all">All</a></li>
                    <!--<li><a href="#" data-filter=".pf-icons">Be</a></li>-->
                    <li><a id="educacion" href="#" data-filter="proj-1">Educational Facilities</a></li>
                    <li><a id="logistica" href="#" data-filter="proj-2">Logistics</a></li>
                    <li><a id="manufactura" href="#" data-filter="proj-3">Industrial</a></li>
                    <li><a id="oficinas" href="#" data-filter="proj-4">Office and Retail</a></li>
                    <li><a id="agroindustrial" href="#" data-filter="proj-5">Agroindustrial</a></li>
                </ul><!-- #portfolio-filter end -->
            </div>

            <div class="row clearfix">

              <!--Gallery Block-->
              <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                  <div class="inner-box">
                      <figure class="image">
                          <img class="zoom-img" src="{% static 'images/portafolio/veritiv.jpg' %}" alt=""/>
                      </figure>
                      <div class="lower-content">
                          <a href="#"><h3>Veritiv</h3></a>
                          <div class="text">
                              Tenant: Veritiv <br>
                              Headquarters: United States<br>
                              Industry: Paper and pulp
                              Location: Juarez, Mexico<br>
                              Area: 15,157  m<sup>2</sup><br>
                              Building type: Manufacturing
                          </div>
                      </div>
                  </div>
              </div>

              <!--Gallery Block-->
              <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                  <div class="inner-box">
                      <figure class="image">
                          <img class="zoom-img" src="{% static 'images/portafolio/lear.jpg' %}" alt=""/>
                      </figure>
                      <div class="lower-content">
                          <a href="#"><h3>Lear</h3></a>
                          <div class="text">
                              Tenant: Lear <br>
                              Headquarters: United States<br>
                              Industry: Automotive
                              Location: Juarez, Mexico<br>
                              Area: 22,584 m<sup>2</sup><br>
                              Building type: Manufacturing
                          </div>
                      </div>
                  </div>
              </div>

              <!--Gallery Block-->
              <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                  <div class="inner-box">
                      <figure class="image">
                          <img class="zoom-img" src="{% static 'images/portafolio/bwi.jpg' %}" alt=""/>
                      </figure>
                      <div class="lower-content">
                          <a href="#"><h3>BWI</h3></a>
                          <div class="text">
                            Tenant: Vehicle Stability Technology<br>
                            Headquarters: United States<br>
                            Industry: Automotive
                            Location: Chihuahua, Mexico<br>
                            Area: 5,746 sq. m<sup>2</sup><br>
                            Building Type: Manufacturing
                          </div>
                      </div>
                  </div>
              </div>

              <!--Gallery Block-->
              <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-5">
                  <div class="inner-box">
                      <figure class="image">
                          <img class="zoom-img" src="{% static 'images/portafolio/agroindustrial1.jpg' %}" alt=""/>
                      </figure>
                      <div class="lower-content">
                          <a href="#"><h3>Bafar</h3></a>
                          <div class="text">
                            Tenant: Bafar / Grupo Bafar SAB<br>
                            Headquarters: Mexico<br>
                            Industry: Agribusiness
                            Location: Chihuahua, Mexico<br>
                            Surface area: 16,535,500 m<sup>2</sup><br>
                            Building Type: Agribusiness
                          </div>
                      </div>
                  </div>
              </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-1">
                    <div class="inner-box">
                        <figure class="image">
                            <img class="zoom-img" src="{% static 'images/portafolio/educacion1.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Laureate International</h3></a>
                            <div class="text">
                              Tenant: UNITEC / Laureate International<br>
                              Headquarters: Mexico<br>
                              Location: Querétaro, Mexico<br>
                              Area: 7,554 m<sup>2</sup><br>
                              Building type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-1">
                    <div class="inner-box">
                        <figure class="image">
                            <img class="zoom-img" src="{% static 'images/portafolio/educacion2.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Laureate International</h3></a>
                            <div class="text">
                              Tenant: UNITEC / Laureate International<br>
                              Headquarters: Mexico<br>
                              Location: Guadalajara, Mexico<br>
                              Area: 13,342 m<sup>2</sup><br>
                              Building type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-1">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/educacion3.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Laureate International</h3></a>
                            <div class="text">
                              Tenant: UVM / Laureate International<br>
                              Headquarters: Mexico<br>
                              Location: Chihuahua, Mexico<br>
                              Area: 11,000 m<sup>2</sup><br>
                              Building type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-2">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/logistica1.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Truper</h3></a>
                            <div class="text">
                              Tenant: Truper<br>
                              Headquarters: Mexico<br>
                              Industry: Construction<br>
                              Location: Guadalajara, Mexico<br>
                              Area: 7,500 m<sup>2</sup><br>
                              Building Type: BTS / Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-2">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/bafar2.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Bafar</h3></a>
                            <div class="text">
                              Tenant: Bafar / Grupo Bafar SAB<br>
                              Headquarters: Mexico<br>
                              Industry: Food<br>
                              Location: Chihuahua, Mexicali, Obregon, Cancun, Hermosillo, Mexico City and Tijuana,
                              Mexico<br>
                              Surface area: 18,700 m<sup>2</sup><br>
                              Building Type: BTS / Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-2">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/logistica3.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Truper</h3></a>
                            <div class="text">
                              Tenant: Truper<br>
                              Headquarters: Mexico<br>
                              Industry: Construction<br>
                              Location: Chihuahua, Mexico<br>
                              Area: 4,300 m<sup>2</sup><br>
                              Building Type: BTS / Warehouse
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gallery Block-->
                <!--<div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-2">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/international.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>International Paper</h3></a>
                            <div class="text">
                                Arrendatario: International Paper<br>
                                Oficinas Centrales: Estados Unidos<br>
                                Industria: Embalajes y papel <br>
                                Ubicación: Chihuahua, México<br>
                                Superficie: 5,806 m<sup>2</sup><br>
                                Tipo de Edificio: Almacén
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/electrolux.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3> Electrolux</h3></a>
                            <div class="text">
                              Tenant: Electrolux<br>
                              Headquarters: Sweden<br>
                              Industry: Appliances<br>
                              Location: Juárez, Mexico<br>
                              Area: 17,826 sq. m<sup>2</sup><br>
                              Building Type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/legget.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Legget</h3></a>
                            <div class="text">
                              Tenant: Legget & Platt Inc.<br> <br>
                              Headquarters: United States <br>
                              Industry: Home and automotive components<br> <br>
                              Location: Juarez, Mexico<br>
                              Surface area: 23,876 m<sup>2</sup><br>
                              Building Type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/avant.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Avant</h3></a>
                            <div class="text">
                              Tenant: Avant Manufacturing<br>
                              Headquarters: United States<br>
                              Industry: Electronics<br>
                              Location: Reynosa, Mexico<br>
                              Area: 11,799 sq. m<sup>2</sup><br>
                              Building type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/alt.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>ALT</h3></a>
                            <div class="text">
                              ALT Technologies B.V.<br>
                              Headquarters: The Netherlands <br>
                              Industry: Automotive<br>
                              Location: Chihuahua, Mexico<br>
                              Floor area: 5,750 m<sup>2</sup><br>
                              Building Type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/shelf.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Shelf</h3></a>
                            <div class="text">
                              Tenant: Shelf Company<br>
                              Headquarters: United States<br>
                              Industry: Furniture<br>
                              Location: Juarez, Mexico<br>
                              Area: 12,211 sq. m<sup>2</sup><br>
                              Building Type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/brp.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>BRP</h3></a>
                            <div class="text">
                              Tenant: BRP Mexico<br>
                              Headquarters: Canada<br>
                              Industry: Recreational Vehicles<br>
                              Location: Juarez, Mexico<br>
                              Surface area: 8,013 m<sup>2</sup><br>
                              Building Type: Manufacturing
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura1.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Bafar</h3></a>
                            <div class="text">
                              Tenant: Bafar/Grupo Bafar SAB<br>
                              Headquarters: Mexico<br>
                              Industry: Food<br>
                              Location: La Piedad, Mexico<br>
                              Surface area: 31,200 m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/weiss.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Weiss</h3></a>
                            <div class="text">
                              Tenant: Weiss-Aug / Weiss-Aug Co.<br> <br>
                              Headquarters: United States<br>
                              Industry: Medical<br>
                              Location: Monterrey, Mexico<br>
                              Surface area: 2,640 m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura3.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Erae</h3></a>
                            <div class="text">
                              Tenant: Erae / Erae Automotive<br>
                              Headquarters: Korea<br>
                              Industry: Automotive<br>
                              Location: Monterrey, Mexico<br>
                              Area: 4,700 sq. m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura4.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Hakkai</h3></a>
                            <div class="text">
                              Tenant: Hakkai / Hakkai Inc.<br>
                              Headquarters: Japan<br>
                              Industry: Automotive<br>
                              Location: Monterrey, Mexico<br>
                              Surface area: 5,000 m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura5.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Beckers</h3></a>
                            <div class="text">
                              Tenant: Beckers Industrial / Aktiebolaget Wilh<br>
                              Headquarters: Sweden<br>
                              Industry: Chemical<br>
                              Location: Monterrey, Mexico<br>
                              Surface area: 5,000 m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura6.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>RR Donnelley</h3></a>
                            <div class="text">
                              Tenant: RR Donnelley / Banta Europe BV<br>
                              Headquarters: The Netherlands<br>
                              Industry: Electronics<br>
                              Location: Juarez, Mexico<br>
                              Area: 15,000 sq m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Warehouse<br>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura7.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Visteon Services</h3></a>
                            <div class="text">
                              Tenant: Altec / Visteon Corporation<br>
                              Headquarters: United States<br>
                              Industry: Automotive<br>
                              Location: Chihuahua, Mexico<br>
                              Area: 3,200 m<sup>2</sup><br>
                              Building type: BTS / Manufacturing and Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura8.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Bafar</h3></a>
                            <div class="text">
                              Tenant: Bafar / Grupo Bafar SAB<br>
                              Headquarters: Mexico<br>
                              Industry: Food<br>
                              Location: Chihuahua, Mexico<br>
                              Surface area: 37,000 m<sup>2</sup><br>
                              Building type: BTS / Manufacturing and Warehouse
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-3">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/manufactura9.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Visteon</h3></a>
                            <div class="text">
                              Tenant: Altec / Visteon Corporation<br>
                              Headquarters: United States<br>
                              Industry: Automotive<br>
                              Location: Chihuahua, Mexico<br>
                              Area: 25,500 sq m<sup>2</sup><br>
                              Building Type: BTS / Manufacturing and Offices<br>
                              Special Characteristics: FM approved fire protection system
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-4">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/visteon.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Visteon Qro</h3></a>
                            <div class="text">
                              Tenant: Visteon Corp<br>
                              Headquarters: United States<br>
                              Industry: Automotive<br>
                              Location: Querétaro, Mexico<br>
                              Area: 22,770 sq. m<sup>2</sup><br>
                              Building Type: Offices
                            </div>
                        </div>
                    </div>
                </div>

                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-4">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/oficina1.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Cemex</h3></a>
                            <div class="text">
                              Tenant: Cemex<br>
                              Headquarters: Mexico<br>
                              Industry: Offices<br>
                              Location: Querétaro, Mexico<br>
                              Area: 1,000 sq. m<sup>2</sup><br>
                              Building Type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-4">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/oficina2.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Bafar</h3></a>
                            <div class="text">
                              Tenant: Bafar / Grupo Bafar SAB<br>
                              Headquarters: Mexico<br>
                              Industry: Retail<br>
                              Location: Various locations throughout the country<br>
                              Surface area: 19,300 m<sup>2</sup><br>
                              Building Type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12 proj-4">
                    <div class="inner-box">
                        <figure class="image ">
                            <img class="zoom-img" src="{% static 'images/portafolio/oficina3.jpg' %}" alt=""/>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Bafar</h3></a>
                            <div class="text">
                              Tenant: Bafar / Grupo Bafar SAB<br>
                              Headquarters: Mexico<br>
                              Industry: Offices<br>
                              Location: Chihuahua, Mexico<br>
                              Area: 7,360 sq. m<sup>2</sup><br>
                              Building Type: BTS / Offices
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}

{% block otherscripts %}
    <script type="text/javascript">
        var tab = '{{ tab }}';

        $(document).on('ready', function () {
            $('a#' + tab).click();
        });

    </script>
{% endblock %}
