{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/10.jpg' %}" alt="Noticia 10">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">81 propiedades en 19 ciudades de México forman Fibra Nova Fideicomiso
                Inmobiliario que se coloca en la Bolsa Mexicana de Valores (BMV)</h2>
                <br>
                <p>A partir de Agosto de 2017 FIBRA NOVA inicia su participación en
                  la Bolsa Mexicana de Valores incluyendo 81 propiedades con un área
                  rentable de 217,562 metros cuadrados en 19 ciudades de México.
              </p>
              <br>
              <p>El portafolio de FIBRA NOVA incluye oficinas, campus universitarios, edificios de logística,
                manufactura y comercios con ingresos operativos netos anuales de 210 millones de pesos. Entre los
                clientes de FIBRA NOVA se encuentran RR Donnelly, Beckers, Truper, Visteon, Universidad del Valle
                de México, Carnemart entre otros.</p>

            </div>
        </div>
    </div>
{% endblock %}
