{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/12.jpg' %}" alt="Noticia 12">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova desarrollara nuevo Parque Industrial
                  en la zona de mayor actividad en Ciudad Juárez, Chihuahua</h2>
                <br>
                <p>Fibra Nova  adquirió una reserva de terreno para el desarrollo de su nuevo
                  Parque Industrial en Cd. Juárez, que estará ubicado ubicado en el Blvd.
                  Independencia identificada como la zona con mayor actividad industrial.</p>
                  <br>
                  <p>Ciudad Juarez es la segunda ciudad en México con mayor número de empresas
                    IMMEX (Industria Manufacturera, Maquiladora y de Servicios de Exportación)
                     destacando en los sectores electrónico, automotriz y médico.</p>
                  <br>
            </div>
        </div>
    </div>
{% endblock %}
