{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/14.jpg' %}" alt="Noticia 14">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Fibra Nova firmo un contrato de arrendamiento con Leggett & Platt Inc.</h2>
                <br>
                <p>Fibra Nova firmó un contrato con Leggett & Platt Inc. para el arrendamiento de un edificio
                  de manufactura de 257,000 pies cuadrados en Ciudad Juárez, Chihuahua.</p>
                  <br>
                  <p>Leggett & Platt Inc. es una compañía Pública listada en la Bolsa de Valores de New York (LEG)
                    fundada en 1883 con 14 unidades de negocio, 22,000 empleados y 120 operaciones en
                    18 diferentes países. Entre sus principales productos están componentes y maquinaria
                    para camas, soportes para asientos de automóviles, componentes para mobiliario de
                    casa y oficina, alambre de acero con alto contenido de carbono, entre otros.</p>
                  <br>
            </div>
        </div>
    </div>
{% endblock %}
