{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/18.jpg' %}" alt="Noticia 18">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Fibra Nova firma contrato de arrendamiento para ampliación
                   de Unitec Campus Guadalajara</h2>
                <br>
                <p>Fibra Nova anuncia la firma de contrato para la construcción de UNITEC Campus Guadalajara
                  en su fase 3. El plazo del arrendamiento es por 9 años, en un acuerdo triple net. El
                   área total construida alcanzará 158,000 pies cuadrados.</p>
                  <br>
                  <p>La Subsidiaria Mexicana de Laurete International Universities – UNITEC en Guadalajara
                     tiene una matrícula de más de 1,200 estudiantes en 20 programas diferentes incluyendo
                      nutrición, enfermería, terapia física, entre otros.</p>
                  <br>
            </div>
        </div>
    </div>
{% endblock %}
