{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/19.jpg' %}" alt="Noticia 19">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova llega a un acuerdo para nuevo arrendamiento en Ciudad Juárez </h2>
                <br>
                <p>Fibra Nova anuncia que ha llegado a un acuerdo por tres años para el arrendamiento
                   de una nave industrial de 86,223 pies cuadrados en Ciudad Juárez.</p>
                  <br>
                  <p>El arrendatario es una empresa pública listada en el TSX Composite Index y
                     en el NASDAQ en Estados Unidos cuyas oficinas centrales se encuentran en Canadá.
                     Tiene presencia alrededor del mundo con más de 12 mil empleados y es una compañía
                      líder en la fabricación de vehículos de recreación.</p>
                  <br>
                  <p>Para el desarrollo de este proyecto Fibra Nova realizará una inversión de 5.8
                    millones de dólares.</p>
            </div>
        </div>
    </div>
{% endblock %}
