{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
    <div class="row">
    <div class="col-12 col-sm-4 mb-3 mb-sm-0">
        <img class="w-100" src="{% static 'images/noticias/2.jpg' %}" alt="Cox Energy América planea expandirse" title="Cox Energy América planea expandirse">
    </div>
    <div class="col-12 col-sm-8">
        <h2 class="text portada11">Unitec Campus Querétaro Inicia Operaciones</h2>
        <br>
        <p>
          Laurate Internacional es una compañía privada con base en Baltimore,
          Estados Unidos con más de 80 campus universitarios, presenciales y en
          línea en más de 28 países ; brindando sus programas a más de un millón de estudiantes.</p>
          <br>

          <p>La subsidiaria de Laurate, UNITEC, inició operaciones en la Ciudad
             de Querétaro en un edificio de 7,500 metros cuadrados, el tercer
             proyecto de Laurate que forma parte de Fibra NOVA después del Campus
             Chihuahua y Guadalajara.</p>



    </div>
    </div>
    </div>
{% endblock %}
