{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
    <div class="row">
    <div class="col-12 col-sm-4 mb-3 mb-sm-0">
        <img class="w-100" src="{% static 'images/noticias/2.jpg' %}" alt="Cox Energy América planea expandirse" title="Cox Energy América planea expandirse">
    </div>
    <div class="col-12 col-sm-8">
        <h2 class="text portada11">Cox Energy América planea expandirse en América Latina</h2>
        <p>Cox Energy America, filial en México de la compañía española <b>Cox Energy Solar (CES)</b>, especializada en proyectos de energía solar,
          obtuvo un financiamiento por 34,8 millones de dólares (765,8 millones de pesos mexicanos al 29 de julio). La operación se desglosa de la siguiente forma:</p>
          <ul class="circle-green ml-2">
              <li>17,9 millones de dólares (393,6 millones de pesos) en su Oferta Pública Inicial (OPI), realizada el 8 de julio en la Bolsa Institucional de Valores (BIVA) de México.
              </li>
              <li>16,9 millones de dólares (372,2 millones de pesos) en una ronda de levantamiento de capital con inversionistas de menudeo e institucionales.
              </li>
          </ul>
          <br>
        <p>Creel, García-Cuéllar, Aiza y Enríquez, con un equipo de tributos, energía y mercados de capitales, trabajó de la mano de Cox Energy America
          en la revisión y análisis de la estructura de la oferta pública, así como en la redacción y negociación de los términos de los documentos de emisión.
          Además, representó a la emisora ante la Comisión Nacional Bancaria y de Valores (CNBV) y BIVA, entre otras gestiones.</p>
        <p>Medina Cuadros Abogados (España) también asesoró a Cox Energy America, pero la firma no respondió nuestras solicitudes de información.</p>
        <p>Ritch, Mueller, Heather y Nicolau asistió Vector Casa de Bolsa, como suscriptor de la oferta. Pricewaterhouse Coopers actuó como auditor externo.</p>
        <p>También comentó acerca del proceso de reestructuración corporativa del grupo antes de la OPI y que&nbsp;se materializó en la transferencia de los
          intereses de las compañías operativas latinoamericanas a Cox Energy. Como parte del proceso, la casa matriz aumentó su capital en 35,2 millones de
          dólares (776 millones de pesos), a través de una operación de capitalización de deuda.</p>


    </div>
    </div>
    </div>
{% endblock %}
