{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/20.jpg' %}" alt="Noticia 20">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Fibra Nova anuncia nuevo desarrollo de oficinas en Querétaro</h2>
                <br>
                <p>Fibra Nova ha firmado un contrato de arrendamiento para la construcción de un nuevo complejo de oficinas de 58,526 pies cuadrados en la ciudad de Querétaro. Este complejo incluye 150 espacios de aparcamiento.</p>
                  <br>
                  <p>El arrendatario es una compañía pública cuyas oficinas centrales se encuentran en Estados Unidos y cotiza en el NYSE. Tiene presencia alrededor del mundo y es una compañía líder en el segmento de tecnología automotriz.</p>
                  <br>
                  <p>Para el desarrollo de este proyecto Fibra Nova realizará una inversión de $5.3 millones de dólares.</p>
            </div>
        </div>
    </div>
{% endblock %}
