{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/22.jpg' %}" alt="Noticia 22">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Nuevo inmueble de 131,000 pies cuadrados en Ciudad Juárez</h2>
                <br>
                <p>Fibra Nova ha firmado un contrato de arrendamiento por cinco años de un inmueble para manufactura de tipo build to suit en Ciudad Juárez con una renta anual de $786,000 dólares bajo condiciones triple net. El arrendatario es una compañía estadounidense que cotiza en el Índice Nasdaq y cuenta con presencia alrededor del mundo.</p>
                  <br>
                  <p>Fibra Nova continúa expandiendo su portafolio industrial en mercados dinámicos con esta nueva inversión en la ciudad de Juárez.</p>
            </div>
        </div>
    </div>
{% endblock %}
