{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/23.jpg' %}" alt="Noticia 23">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Fibra Nova amplía su cartera en el Noreste de México</h2>
                <br>
                <p>Fibra Nova anunció un contrato de arrendamiento de siete años de tipo triple net para un nuevo edificio de fabricación de 127,000 pies cuadrados en Reynosa, Tamaulipas. Con una inversión total de US $ 7,5 millones, el arrendatario es una empresa privada estadounidense de la industria electrónica con presencia en todo el continente americano.</p>
                  <br>
                  <p>Con este nuevo contrato de arrendamiento, Fibra Nova alcanza un crecimiento anual de ingresos del 10.5% como resultado de los nuevos contratos firmados durante 2019, todos ellos en dólares estadounidenses.</p>

            </div>
        </div>
    </div>
{% endblock %}
