{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/25.jpg' %}" alt="Noticia 25">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Nuevo arriendamiento tipo Built to Suit en Chihuahua</h2>
                <br>
                <p>Fibra Nova anuncia la ejecución de un nuevo contrato de arrendamiento por diez años a partir de mayo de 2021 para un edificio de oficinas corporativas BTS de 19,000 pies cuadrados en la ciudad de Chihuahua. El Arrendatario es una empresa automotriz estadounidense que cotiza en la Bolsa de Nueva York.</p>
                  <br>
                  <p>Con este nuevo arrendamiento Fibra Nova continua con la expansión de su portafolio en el norte del país.</p>
            </div>
        </div>
    </div>
{% endblock %}
