{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/28.jpg' %}" alt="Noticia 28">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Fibra Nova firma promesa de compraventa</h2>
                <br>
                <p>Fibra Nova firmó un acuerdo vinculante con promesa de compra para un edificio industrial de 192 mil pies cuadrados ubicado en Cd Juárez arrendado a la trasnacional Electrolux, el due dilligence concluirá a más tardar al final del primer trimestre.</p>
                <br>
                  <p>Con esta transacción los ingresos anualizados en dólares de nuestro portafolio pasaran de 42% a 45%. Durante los primeros 45 días del año 2021 las nuevas inversiones que hemos anunciado alcanzaron los $33 millones de dólares.</p>
                </div>
        </div>
    </div>
{% endblock %}
