{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/3.jpg' %}" alt="Noticia 3">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Cox Energy ve valor en la energía solar de México</h2>
                <p>El directivo apostará por proyectos solares para consumo regional y evitar la congestionar las líneas
                    de
                    transmisión de México.
                </p>

                <p>Cox Energy América busca convertirse en la primera empresa de energía solar en cotizar en un mercado
                    bursátil
                    de América Latina.
                </p>
                <p>La subsidiaria mexicana de la compañía española Cox Energy solicitó inscribir sus acciones ante el
                    registro
                    de la Comisión Nacional Bancaria y de Valores (CNBV) y listarse en la Bolsa Institucional de Valores
                    (BIVA)
                    de México por un monto de hasta 1,000 millones de pesos (40 millones de dólares, aproximadamente).
                </p>
                <p>“Esperamos en el mes de junio poder estar listos para cotizar”, reveló el CEO de Cox Energy America,
                    Enrique
                    Riquelme, en entrevista con Forbes México.
                </p>
                <p>El directivo comentó que México no solo es el país más importante en cuanto a volumen de proyectos
                    renovables, sino el que posee la mayor expectativa de crecimiento, con más necesidad de energía y
                    mayor
                    irradiación solar.</p>
                <p>“Vemos que México tiene el talento, volumen, la banca, tiene todos los componentes para ser un hub”,
                    agregó.</p>
                <p>Según la Agencia Internacional de Energía, México tiene una tasa de demanda energética superior al
                    5%.
                    Además, 85% del territorio nacional es óptimo para proyectos renovables, según la Asociación
                    Mexicana de
                    Energía Solar (Asolmex).</p>
                <p>Hoy nuestro país cuenta con una capacidad fotovoltaica instalada de 5,500 MegaWatts (MW), que
                    equivalen a la
                    electricidad que consumen 26 millones de hogares mexicanos.</p>
                <p>Los recursos que esperan obtener con su oferta pública se utilizarán para comenzar a ejecutar su plan
                    de
                    negocio 2020-2024. La primera parte consiste en desinvertir en proyectos solares de gran tamaño
                    equivalentes
                    a 2,000 MW de su cartera.
                </p>
                <p>La segunda etapa es la más importante de su plan, que busca consolidar y operar proyectos
                    fotovoltaicos de
                    pequeño y mediano tamaño que sumen 1,400 MW, de los cuales, 600 MW estarán en México, y el resto en
                    Chile,
                    Colombia y Centroamérica.
                </p>
                <p>Los nuevos proyectos serán bajo el esquema de compraventa de energía (Power Purchase Agreement) y de
                    venta
                    directa al Mercado Eléctrico Mayorista.</p>
                <p>“Son centrales de alta rentabilidad, estratégicamente instalados en zonas de precios altos de
                    energía, tanto
                    en mercado spot como en contrato entre privados, pero sin congestionar las redes”, mencionó.</p>
                <p>El empresario comentó que la industria solar es capaz de vender energía por debajo de 20 dólares por
                    MW hora,
                    mientras que las plantas de carbón y nucleares están por encima de 100 dólares, por lo que ve un
                    margen de
                    rentabilidad considerable por encima de los 20 dólares.</p>
                <p>El directivo declaró que, a diferencia de España donde la tarifa de transmisión es la misma, México
                    tiene una
                    red de transmisión deficiente, donde el consumo y generación de electricidad crece más rápido que la
                    transmisión, lo que provoca que haya múltoples puntos y precios de interconexión, algunos muy
                    elevados.</p>
                <p>Riquelme consideró que nuestro país necesita inversiones multimillonarias en transmisión para
                    modernizar la
                    matriz energética del país hacia fuentes renovables y evitar que se congestionen, pero no comenta
                    que eso
                    ocurrirá en los siguientes ocho años.</p>
                <p>“Toda la estrategia de Cox está centrada en el consumo local, regional”, agregó.</p>
                <h5 class="mb-3">Cambios del gobierno</h5>
                <p>Al preguntarle por los cambios normativos del gobierno de Andrés Manuel López Obrador a las energías
                    renovables, a los que se ha opuesto la Iniciativa Privada, Riquelme comentó que hay un “ruido
                    innecesario” y
                    que al entrar en detalles, estas modificaciones no afecta a la compañía, incluso en algunas partes
                    la
                    “beneficia”.
                </p>
                <p>Aunque su empresa no posee plantas de subastas, Riquelme reconoce que las autoridades tienen razón
                    “en parte”
                    sobre la falta de pago por transmisión eléctrica, pero también dice que existen matices sobre el
                    tema.
                </p>
                <p>“En el caso de la transmisión, casi toda la energía solar instalada en México viene de la subastas
                    eléctricas, y esas subastas están exentas de pagar peaje, la realidad ninguno de las subastas
                    eléctricas
                    paga”.
                </p>
                <p>Pero mencionó que en México se paga hasta cuatro veces más que en Europa por el peaje de
                    transmisión.</p>
                <p>“Los esquemas anteriores (contratos legados) no pagan porque así estaban las normas y tampoco
                    deberían
                    cambiar”, declaró.</p>
                <p>El CEO de Cox Energy América también dijo que las autoridades deben tener cuidado y gestionar mejor
                    el
                    sistema eléctrico y no llenar de capacidad las líneas de transmisión, además de tratar de inyectar
                    la
                    electricidad en los puntos donde está el consumo y “no generar en Sonora para vender en el Estado de
                    México”, agregó.</p>


            </div>
        </div>
    </div>
{% endblock %}
