{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/5.jpg' %}" alt="Noticia 5">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="text portada11">Unitec, subsidiaria de Laureate inicia operaciones en Gudalajara</h2>
                <br>
                <p>Dieter Holtz, Presidente de Laureate Mexico; Manuel Campuzano,
                  Rector de UNITEC; Guillermo Medrano, Director General de Fibra NOVA ;estudiantes
                   y sus familias así como autoridades gubernamentales se reunieron para celebrar
                    la inauguración de la Subsidiaria Mexicana de Laurete- UNITEC  campus Guadalajara.
                    El campus universitario, se encuentra localizado en el área de Tlaquepaque
                     y tiene un área de construcción de 9,500 metros cuadrados. UNITEC albergará
                     en sus instalaciones a más de 1,200 estudiantes en 15 programas diferentes
                     incluyendo nutrición, enfermería, terapia física, entre otras.
                </p>
                <br>

            </div>
        </div>
    </div>
{% endblock %}
