{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/8.jpg' %}" alt="Noticia 8">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Weiis-Aug Cp. Inc. inicia operaciones en México</h2>
                <br>
                <p>Weiss-Aug Co. Inc., compañía Norteamericana con su corporativo en
                  East Hanover, NJ inició operaciones en un edificio hecho a la medida
                  con una superficie de 2,638 metros cuadrados en el Parque Industrial
                  Aeropuerto en Apodaca, Nuevo León. Este edificio será la primera
                  operación de manufactura fuera de los Estados Unidos para Weiss-Aug Co.
                  </p>
                  <br>
                <p>El edificio de Weiss-Aug Co. Inc. Forma parte del portafolio de Fibra NOVA.</p>
                <br>
                <p>Weiss-Aug fue fundado en 1972, entre sus actividades se encuentra
                  el moldeo, estampado metálico para industria médica y automotriz así como
                  ensamble.</p>
                  <br>

            </div>
        </div>
    </div>
{% endblock %}
