{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/16.jpg' %}" alt="Noticia 16">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova firma contrato con Visteon Corporation</h2>
                <br>
                <p>Visteon Corporation firmó un contrato de arrendamiento de largo plazo con Fibra Nova
                  para la expansión de su planta de Servicios localizada en el Parque Tecnológico Bafar
                  en Chihuahua, Chih., México. El nuevo contrato tendrá las mismas condiciones que el
                  contrato inicial, triple neto, rentas en dólares y un plazo de 9 años.</p>
                  <br>
                  <p>Visteon Corporation es una empresa de origen estadounidense líder en fabricación
                    de componentes para la industria automotriz como sistemas de audio y multimedia,
                    sistemas de entretenimiento, paneles de instrumentos, soluciones de navegación,
                    sistemas de seguridad y software. Sus oficinas corporativas están ubicadas en
                    Van Buren Township, Michigan, U.S y algunos de sus principales clientes son Ford,
                    Honda, Mazda, Nissan y Toyota.</p>
                  <br>
            </div>
        </div>
    </div>
{% endblock %}
