{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/26.jpg' %}" alt="Noticia 26">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova anuncia la ejecución de un nuevo contrato de arrendamiento en Chihuahua</h2>
                <br>
                <p>Fibra Nova firmó un contrato de arrendamiento por cinco años de 60 mil pies cuadrados con una compañía multinacional de fabricación de automóviles, especializada en productos de chasis, suspensión y frenos para el mercado global. El arrendatario tiene instalaciones de fabricación y centros técnicos en Europa, Asia y América del Norte.</p>
                <br>
                  <p>El edificio se encuentra en construcción en la ciudad de Chihuahua y se entregará en abril de 2021.</p>
            </div>
        </div>
    </div>
{% endblock %}
