{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix mb-20">
                <p class="wow fadeInUp" data-wow-duration="3s" data-wow-delay="0.2s">Our external auditor is Mancera, S.C., part of Ernst & Young Global Limited, who has not issued a qualified or negative opinion, nor has it refrained from issuing an opinion on Fibra Nova's financial statements. </p>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 text-center">
                    <img src="{% static 'images/historia/historia1.png' %}" alt="" class="wow fadeInUpBig">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
