{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <section id="accordion1" class="bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="accordion accordion-1" id="accordion01">
                                    <!-- Panel 01 -->
                                    <div class="panel">
                                        <div class="panel--heading">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion01" href="#collapse01-1">Guillermo de Jesús
                                                Medrano
                                                Artalejo <br>
                                                <h5>Director General</h5></a>
                                        </div>
                                        <div id="collapse01-1" class="panel--body panel-collapse collapse">
                                            <br>
                                            Es contador público con Maestría en Administración de Empresas
                                            por
                                            parte del ITESM y estudios en Alta Dirección por el IPADE. Con más de 16
                                            años de
                                            experiencia en el Sector Inmobiliario y más de 10 años de experiencia en el
                                            sector Industrial, ha sido director general de Intermex Parques
                                            Industriales, y
                                            desempeñó importantes posiciones en Grupo Chihuahua. Fue director de la
                                            división
                                            inmobiliaria de Grupo Bafar logrando ubicar esta unidad de negocios como una
                                            de
                                            las de más rápido crecimiento y contribución a los resultados del grupo,
                                            posicionó la marca Bafar dentro del segmento inmobiliario en el norte del
                                            país y
                                            conformó un portafolio en tan sólo 4 años que sirve de base para el
                                            Fideicomiso.
                                            Consolidó una alianza estratégica con Copachisa, una de las empresas de
                                            construcción más importantes del norte del país logrando concretar
                                            importantes
                                            proyectos inmobiliarios. Ha participado en el consejo de la Asociación de
                                            Maquiladoras de la Ciudad de Chihuahua generando una amplia red de negocios
                                            en
                                            el sector maquilador.
                                        </div>
                                    </div>

                                    <!-- Panel 02 -->
                                    <div class="panel">
                                        <div class="panel--heading">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion01" href="#collapse01-2">Lorena Martínez Molina
                                                <br>
                                                <h5>Director de Estructuración y Operaciones</h5></a>
                                        </div>
                                        <div id="collapse01-2" class="panel--body panel-collapse collapse">
                                            <br>
                                            Es contadora pública y tiene una maestría en Fiscal por parte
                                            de la
                                            Universidad Autónoma de Chihuahua, tiene más de 15 años de experiencia en el sector
                                            inmobiliario, desempeñó posiciones de directora de finanzas en Intermex
                                            Parques
                                            Industriales y cuenta con una trayectoria adicional de más de 10 años en el
                                            sector maquilador de la Ciudad de Chihuahua desempeñando diversas posiciones
                                            en
                                            áreas administrativas. Fue directora de operaciones de la división
                                            inmobiliaria
                                            de Grupo Bafar logrando consolidar esta unidad de negocio bajo un modelo
                                            sustentable y de bajo costo, con una estructura mínima de personal y
                                            generando
                                            una relación a largo plazo con los clientes, proveedores y socios
                                            estratégicos.
                                            Ha participado en el consejo del Instituto Mexicano de Contadores Públicos y
                                            en el
                                            del Consejo Nacional de la Industria Maquiladora de Exportación.
                                        </div>
                                    </div>

                                    <!-- Panel 03 -->
                                    <div class="panel">
                                        <div class="panel--heading">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion01" href="#collapse01-3">Gilberto Delgado López
                                                <br>
                                            <h5>Director Inmobiliario</h5></a>
                                        </div>
                                        <div id="collapse01-3" class="panel--body panel-collapse collapse">
                                            <br>
                                            Es licenciado en Administración Financiera por parte del
                                            Instituto
                                            Tecnológico de Monterrey, con maestría en Finanzas por parte de la
                                            Universidad
                                            Autónoma de Chihuahua, cuenta con más de 15 años de experiencia en el sector
                                            inmobiliario, desempeñó posiciones de asset manager en Intermex Parques
                                            Industriales, GE Real Estate y Prudential Real Estate y recientemente en la
                                            división inmobiliaria de Grupo Bafar. Durante su gestión mantuvo una tasa de
                                            desocupación mínima y una estructura de costos de mantenimiento reducida, ha
                                            participado en el diseño e implementación de software para la administración
                                            de
                                            inmuebles y evaluación de proyectos de inversión. Ha implementado programas
                                            de
                                            mejora continua y atención al cliente manteniendo una relación estrecha con
                                            los
                                            arrendatarios y una sana cartera de cuentas por cobrar.
                                        </div>
                                    </div>

                                    <!-- Panel 04 -->
                                    <div class="panel">
                                        <div class="panel--heading">
                                            <a class="accordion-toggle collapsed" data-toggle="collapse"
                                               data-parent="#accordion01" href="#collapse01-4">Luis Carlos Piñón Reza
                                                <br>
                                            <h5>Director de Finanzas y Administración</h5></a>
                                        </div>
                                        <div id="collapse01-4" class="panel--body panel-collapse collapse">
                                            <br>
                                            Es contador público, con maestría en Impuestos y aspirante al
                                            grado de doctor en administración. Con más de 13 años de experiencia en
                                            posiciones gerenciales y directivas de las áreas de administración y
                                            finanzas,
                                            ocupó el cargo de contralor de la división inmobiliaria y posteriormente
                                            contralor corporativo, fue director ejecutivo del Centro de Servicios
                                            Compartidos en Grupo Bafar. Durante su trayectoria profesional se destaca la
                                            implementación del ERP’s SAP y la centralización de todos los procesos
                                            administrativos del grupo, así como ser responsable del área fiscal del mismo.
                                            Por
                                            más de 8 años ha sido encargado de la relación con inversionistas y del
                                            cumplimiento regulatorio ante la Comisión Nacional Bancaria y de Valores y la Bolsa
                                            Mexicana
                                            de Valores; su gestión ha permitido la conformación todos los nuevos
                                            negocios de
                                            Grupo Bafar de los últimos 10 años. Ha sido reconocido por diversas
                                            publicaciones como uno de los más destacados ejecutivos en finanzas en el
                                            estado
                                            de Chihuahua. Es miembro activo del Instituto Mexicano de Contadores
                                            Públicos y
                                            el Instituto Mexicano de Ejecutivos en Finanzas.
                                        </div>
                                    </div>

                                </div>
                                <!-- .accordion end -->
                            </div><!-- .col-md-6 end -->

                        </div><!-- .row end -->
                    </div><!-- .container end -->
                </section><!-- #accordion1 end -->

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
