{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row align-items-center pitch1">
                <div class="col-lg-12" style="margin-bottom: 30px;">

                <div class="col-lg-12 pitch1">
                    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="col-md-7 text"><br><br><p>Fibra Nova has a commitment focused on responsibility and solidarity towards the communities where it operates, promoting socially responsible behavior in all possible areas. In this sense, it is of special interest to move towards an even more responsible business model, aligned with the best Environmental, Social and Governance (ESG) standards in the market.</p><br>
                          </div>
                          <div class="col-md-5 text-center mb-20">
                              <img src="{% static 'images/contenido/foto1.png' %}" alt="" class="wow fadeInUpBig">
                          </div>

                            <div class="col-md-5 text-center mb-20">
                              <img src="{% static 'images/contenido/foto2.png' %}" alt="" class="wow fadeInUpBig">
                            </div>
                            <div class="col-md-7 text wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s"><p>With a strong commitment to environmental protection and conservation, Fibra Nova conducts its operations in accordance with federal and state environmental protection legislation, which takes into consideration, among other things, ecological planning, the preparation of environmental impact and risk studies, atmospheric pollution, the designation of protected natural areas, the protection of flora and fauna, the conservation and rationalization of the use of natural resources, and soil contamination.</p><br>

                            <p>It also makes use of the best modern practices that allow all its facilities to be more efficient in the consumption of electrical energy, through the use of insulated roofs, LED lighting and domes, as well as rigorous control of irrigation and sanitation systems to maximize the use of water.</p>
                            <br>

                        </div>

                    </div>
                </div>

            </div>

            <div class="sec-title sec-title wow fadeInUpBig" style="margin-bottom: 20px;">
                <h2>Corporate Documents</h2>
            </div>

            <br><br>

            <div class="row">
                <div class="col-sm-6 col-md-4 wow fadeInUpBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Codigo-de-Etica-Fibra-Nova.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento1.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>It defines the way in which all those who make up Fibra Nova must behave, placing honesty as the basis for their daily actions.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInRightBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Politica-Corporativa-de-anticorrupcion-FNOVA.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento2.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>It establishes the responsibilities and obligations in anti-corruption matters that collaborators and third parties acting on behalf of Fibra Nova must use as a basis for their daily activities.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeftBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Politica-corporativa-de-integridad-FNOVA.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento3.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>Defines the guidelines and procedures that ensure that Fibra Nova and its Employees comply with the law in an ethical manner.</p>
                            </div>
                        </div>
                    </a>
                </div>


            </div>
            </div>

        </div>
    </section>
{% endblock %}
