{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
              <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">Fibra Nova es una fibra diversificada que cuenta con propiedades dentro del sector
                industrial, educativo, comercial, logístico, oficinas y agroindustria.
                Dentro de estas, se especializa en Edificios Hechos a la Medida (BTS por sus
                siglas en inglés);
                  ofreciendo un edificio construido por el desarrollador de acuerdo con el diseño, ubicación
                  y características físicas del usuario quien arrendará el edificio. Dado que Fibra Nova no está enfocado en el negocio de la construcción, el proceso
                  de edificación se realiza a través de concursos de obra y el usuario tiene acceso al
                  presupuesto ganador. Dicho proyecto tiene una duración aproximada de 6 meses desde la firma
                  del contrato de arrendamiento hasta alcanzar un avance sustancial. Al
                  concluir el edificio el usuario asumirá los costos operacionales, costos de mantenimiento, entre otros.
                  <br>
                  <!-- INFOGRAMA 1 -->
                  <div class="video-image-box mar-bottom-40">
                      <figure class="image">
                          <img src="{% static 'images/infograma1.png' %}" alt="" class="wow fadeInLeftBig">
                      </figure>
                  </div>
                  <br>

                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">El objetivo de Fibra Nova es el de adquirir, arrendar, operar y desarrollar
                    un portafolio de bienes inmuebles destinados a sectores con alto dinamismo económico, para proporcionar retornos atractivos
                    con riesgo ajustado a largo plazo a sus tenedores, mediante
                    distribuciones estables y la generación de plusvalía.</p>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">En los próximos años, Fibra Nova planea expandir de manera selectiva y
                  diversificada su cartera de activos, para convertirse en un participante más relevante
                  en el mercado inmobiliario, considerando entre otras cosas:</p>

                  <br>
                  <!-- INFOGRAMA 2 -->
                  <div class="video-image-box mar-bottom-40">
                      <figure class="image">
                          <img src="{% static 'images/infograma2.png' %}" alt="" class="wow fadeInRightBig">
                      </figure>
                  </div>
                  <br>

                <!--<p>Todo lo anterior acompañado de un sólido gobierno corporativo con una plataforma
                  de administración internalizada que permite maximizar la rentabilidad y alinear su estructura a los intereses de los inversionistas.</p>-->

                <!--<div class="col-md-12 text-center mb-20">
                    <img src="{% static 'images/contenido/infograma1.png' %}" alt="">
                </div>-->

                <!-- <p>Solido modelo de negocios basado en administración internacionalizada con una firme
                    estructura financiera impulsado por un mercado de bienes y raíces en crecimiento con alto
                    potencial de oportunidades. <br>
                    Portafolio en crecimiento respaldado con la experiencia de un selecto grupo de operadores
                    y desarrolladores de inmuebles. <br>
                    Gobierno Corporativo por encima de los estándares del sector con una amplia experiencia y
                    un desarrollo de relaciones con otras empresas sobresaliente.<br>
                    Alto nivel de certidumbre gracias al nivel de ocupación por clientes de clase “A” con
                    contratos a largo plazo (8.3 años en promedio).</p>-->

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
