{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-18.png' %}" alt="Noticia 11">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova (FNOVA) announces the start of operations of Grupo Bafar in La Piedad Michoacan;
                  the acquisition of the properties of Visteon Reynosa and Teleperfomance Chihuahua;
                  and the modification of the contract with CEMEX in Queretaro</h2>
                <br>
                <p>1) Grupo Bafar's production plant in La Piedad Michoacán with a total area of 10,000 square meters
                  started operations. The property owned by FNOVA was tailor-made for Grupo Bafar with an investment
                  of more than $636 million pesos under a 10-year contract. </p>
                  <br>
                  <p>2) FNOVA acquired for US$5.3 million dollars a Call Center type facility «Teleperformance» in
                    the City of Chihuahua, Mexico. The 6,000 square meters facility is leased to a subsidiary
                    Merkafon de México with a NNN lease agreement in US dollars.</p>
                  <br>

                  <p>3) In the city of Reynosa, Tamaulipas a new facility for Visteon Corporation is under
                    construction. The facility has a leasable area of 10,500 square meters and a US$10.6
                    million dollars investment. The lease agreement with FNOVA is for a 11 year lease term and
                    will start paying rent starting April 2018.</p>
                  <br>

                  <p>4) The lease agreement between FNOVA and Cementos Mexicanos (CEMEX) for a 1,000 square
                    meters office space located in the City of Queretaro was amended to extend the lease term
                    from 5 to 10 years with a $18.4 million pesos.</p>
                  <br>


                  <p>For further information visit <br>
                    <a href="https://www.bmv.com.mx/docs-pub/eventore/eventore_787544_1.pdf">https://www.bmv.com.mx/docs-pub/eventore/eventore_787544_1.pdf</a></p>

            </div>
        </div>
    </div>
{% endblock %}
