{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-16.png' %}" alt="Noticia 13">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova signed a lease agreement with Alt Technologies for a 62,000 sq. ft.
                  custom-built building in Chihuahua City, Mexico. </h2>
                <br>
                <p><b>Chihuahua, Mexico, May 3, 2018</b> – Banco Actinver, S.A. Institución de Banca Múltiple,
                  Grupo Financiero Actinver Trustee of Trust F/2870 or Fibra Nova (BMV: FNOVA) Mexican infrastructure
                  and real estate trust announces today to the investing public that it has signed a lease agreement
                  with Alt Technologies for a 62 thousand square foot custom-built building in the city of Chihuahua
                  and the development of a new industrial park in Ciudad Juarez.</p>
                  <br>
                  <p>FNOVA will begin the construction of a build-to-suit for ALT Technologies in Bafar Technological
                    Park in the City of Chihuahua, Mexico with a construction area of 62K sq.ft. This manufacturing
                    operation will be ALT Technologies first manufacturing operation in Mexico. ALT Technologies is
                    an automotive company with headquarters in Holland with a wide variety of products such as
                    identification labels for different surfaces, instrument panels labels, airbag covers,
                    protective components can be made of a wide range of materials such as felts, plastics and
                    metals in combination with a variety of adhesives among others.</p>
                  <br>

                  <p>Additionally, FNOVA acquired a land reserve for the development of a New Industrial Park in the
                    City of Juarez, located on Independencia Blvd, the most active industrial zone in Juarez.
                    Juarez is the second largest city in Mexico with industrial activities mainly in the
                    electronics, automotive and medical sectors.</p>
                  <br>

                  <p>FNOVA´s Board authorized an amount of 80 million dollars for new investments including the
                    mentioned above that will take place in the next twelve months in the cities of Monterrey,
                    Queretaro, Chihuahua and Juarez.</p>
                  <br>


                  <p>
                    <a href="https://www.bmv.com.mx/docs-pub/eventore/eventore_831483_1.pdf">https://www.bmv.com.mx/docs-pub/eventore/eventore_831483_1.pdf</a></p>

            </div>
        </div>
    </div>
{% endblock %}
