{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-14.png' %}" alt="Noticia 15">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova contrato de arrendamiento con fabricante de la industria automotriz</h2>
                <br>
                <p>Fibra Nova firmó un contrato de arrendamiento con plazo inicial de diez años para la
                  construcción de edificio de 22,500 m<sup>2</sup> que incluye 6,000 m<sup>2</sup> de oficinas destinado
                   al diseño de software en Querétaro, QRO. El proyecto incluye 450 cajones de estacionamiento.</p>
                  <br>
                  <p>El arrendatario es una empresa pública que cotiza en la Bolsa de Valores de Nueva York,
                     fabricante de componentes para la industria automotriz de origen estadounidense con
                     más de 10,000 empleados en Asia, Norteamérica y Europa. La inversión de Fibra Nova en
                      este inmueble es de $13.3 millones de dólares.</p>
                  <br>

                  <p>Fibra Nova es un fideicomiso inmobiliario que cotiza en la Bolsa Mexicana de Valores
                    (FNOVA17) con un portafolio de 275,479 metros cuadrados diversificado en sector industrial,
                     comercial, logística, oficinas y educativo. Para mayor información sobre Fibra Nova
                     consulta <a href="https://fibra-nova.com/">https://fibra-nova.com/en/</a></p>
                  <br>

            </div>
        </div>
    </div>
{% endblock %}
