{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-12.png' %}" alt="Noticia 17">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova's real estate development in Queretaro</h2>
                <br>
                <p>The office complex in the city of Querétaro is the latest real estate development of a
                  group of three properties in one of the country's most dynamic plazas. The complex
                  comprises a total of 40,905 square meters of construction space.</p>
                  <br>
                  <iframe src="https://player.vimeo.com/video/353623778" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                  <p><a href="https://vimeo.com/353623778"></a></p>
            </div>
        </div>
    </div>
{% endblock %}
