{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-08.png' %}" alt="Noticia 21">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Visteon celebrates opening ceremony of new technical center in Queretaro</h2>
                <br>
                <p>Matthew Cole, Visteon Senior Vice President of Product Development; Liseth Reyes, Visteon
                  Site Leader; Marco Antonio del Prete, Secretary of Development of the State of Queretaro;
                  Francisco Dominguez Servin, Governor of the State of Queretaro; Francisco Vazquez, Visteon
                  Project Leader, among other dignitaries, celebrated the inauguration ceremony of Visteon's new
                  22,770 square meter facility that includes 6,000 square meters of office space on two floors and
                  450 parking spaces.</p>
                  <br>
                  <p>Visteon Corporation is a US public company a leader of the digital revolution in automotive
                    electronic. Visteon starts this operation with 450 engineers developing software for intelligent
                    and digital cockpit electronics products for North America and will reach 600 engineers by 2020.</p>
                  <br>
                  <img src="{{ urlbase }}/Noticia-Visteon-FibraNova.gif">

            </div>
        </div>
    </div>
{% endblock %}
