{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/27.jpg' %}" alt="Noticia 27">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">New lease agreement in Ciudad Juarez</h2>
                <br>
                <p>Fibra Nova signed a ten-year lease agreement with Lear Corporation for a building in Ciudad Juarez. The tenant is a New York Stock Exchange-listed company headquartered in Southfield, Michigan, is one of the largest manufacturers in the automotive industry with a presence in 39 countries around the world and more than 161,000 employees.</p>
                <br>
                  <p>The property will be a manufacturing BTS with a premium location in one of the most dynamic border cities in Mexico, where Fibra Nova will continue to consolidate its industrial portfolio. This transaction will increase the annualized dollar revenues of the portfolio from 39% to 42%.</p>
                </div>
        </div>
    </div>
{% endblock %}
