{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/28.jpg' %}" alt="Noticia 28">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Fibra Nova signs a purchase and sale agreement</h2>
                <br>
                <p>Fibra Nova signed a binding agreement with a promise to purchase for a 192 thousand square foot industrial building located in Cd Juarez leased to the transnational Electrolux, due diligence will be completed by the end of the first quarter at the latest.</p>
                <br>
                  <p>With this transaction, the annualized dollar revenues of our portfolio will increase from 42% to 45%. During the first 45 days of the year 2021, the new investments we have announced reached US$33 million.</p>
                </div>
        </div>
    </div>
{% endblock %}
