{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/3.jpg' %}" alt="Noticia 3">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Truper inicia operaciones de distribución en Guadalajara</h2>
                <br>
                <p>
                  Truper es una compañía Mexicana, de las principales empresas de manufactura
                  de herramientas con más de 9,000 productos distribuidos en más de 60 países
                  en el mundo. </p>
                  <br>

                  <p>Truper inicia operaciones de distribución en Guadalajara en un edificio
                  de 7,000 metros cuadrados propiedad de Fibra NOVA.
                </p>

            </div>
        </div>
    </div>
{% endblock %}
