{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/4.jpg' %}" alt="Noticia 4">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Erae realiza operaciones de manufactura en Apodaca</h2>
                <br>
                <p>
                  Erae, empresa Coreana dedicada a la manufactura de componentes para
                   la industria automotriz realiza operaciones en Apodaca, Nuevo León.</p>
                  <br>

                  <p>El edificio tiene una superficie de construcción de 4,666 metros
                     cuadrados y forma parte del portafolio de Fibra NOVA.
                </p>
                <br>

            </div>
        </div>
    </div>
{% endblock %}
