{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-23.png' %}" alt="Noticia 6">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Visteon Chihuahua celebrates plant inauguration</h2>
                <br>
                <p>Sachin Lawande, President and CEO of Visteon; Sunil Bilolikar, Visteon Group Vice
                  President and Operations; Raul Sigala, Director of Operations of America; Eugenio
                  Baeza, General Director and CEO of Bafar; and the Governor-elect of the State of Chihuahua,
                  Javier Corral, along with other authorities and guests celebrated the inauguration of the
                  Visteon plant with a construction area of 25,000 square meters located in the Technology
                  Park in the south of the city.</p>
                  <br>
                <p>Raul Sigala -Americas Operations Director-, said that this new plant will be manufacturing
                  over 55 million of electronic parts for Honda, General Motors, Nissan, Ford and Chrysler, among others.</p>
                  <br>
                <p>During his speach, Governor Corral said his goverment is commited to generate good conditions for new
                  investments that will translate in better job opportunities for the people of Chihuahua.</p>
                 <br>
                <p>This new facility was built-to-suit, it includes an FM Approved Fire Protection System as well as
                  cleanrooms. Visteon Chihuahua building is part of Fibra NOVA manufacturing facility portfolio.</p>

                <br>

            </div>
        </div>
    </div>
{% endblock %}
