{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-23.png' %}" alt="Noticia 6">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Visteon Chihuahua celebra la inauguración de su planta</h2>
                <br>
                <p>Sachin Lawande, Presidente y CEO de Visteon; Sunil Bilolikar, Vicepresidente de
                  Grupo Visteon y Operaciones Operations;  Raul Sigala, Director de Operaciones
                  de America;  el Director General y CEO de Bafar, Eugenio Baeza y el Gobernador
                  electo del Estado de Chihuahua, Javier Corral  junto a otras autoridades e invitados
                  celebraron la inauguración de la planta Visteon con un área de construcción de 25,000
                  metros cuadrados ubicada en el Parque Tecnológico en el sur de la Ciudad.</p>
                  <br>
                <p>El Vicepresidente de Visteon, Raúl Sigala, comentó que esta planta producirá
                  más de 55 millones de partes electrónicas para automóviles para Honda, General
                  Motors, Nissan, Ford, Chrysler, entre otros.</p>
                  <br>
                <p>Durante su discurso, el Gobernador Corral habló del compromiso de su Gobierno
                por generar condiciones óptimas para las inversiones que se traducirán en mejores
                 oportunidades laborales para la población de Chihuahua.</p>
                 <br>
                <p>La nueva planta, incluye un sistema contra incendios aprobado por FM así como
                 cuartos limpios y se encuentra dentro del portafolio de Fibra NOVA.</p>

                <br>

            </div>
        </div>
    </div>
{% endblock %}
