{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/7.jpg' %}" alt="Noticia 7">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Apertura de oficina de CEMEX en Querétaro</h2>
                <br>
                <p>CEMEX, compañía global de materiales para la construcción con presencia
                   en más de 50 países, con ventas anuales de US$14.3 billones y más de
                   43,000 empleados inició operaciones en un espacio de oficinas de 1,000
                   metros cuadrados en la Cd. De Querétaro propiedad de Fibra Nova.
              </p>
              <br>

            </div>
        </div>
    </div>
{% endblock %}
