{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/noticia-21.png' %}" alt="Noticia 8">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Weiis-Aug Cp. Inc. starts operations in Mexico</h2>
                <br>
                <p>Weiss-Aug Co. Inc. a North American company headquartered in East Hanover, NJ
                  began operations in a custom-built 2,638 square meter building at the Airport
                  Industrial Park in Apodaca, Nuevo Leon. This building will be the first manufacturing
                  operation outside of the United States for Weiss-Aug Co.
                  </p>
                  <br>
                <p>Weiss manufacturing facility is part of Fibra NOVA portfolio.</p>
                <br>
                <p>Weiss-Aug was founded in 1972 providing custom insert molding, precision
                  medical and automotive metal stamping and assembly solutions.</p>
                  <br>

            </div>
        </div>
    </div>
{% endblock %}
