{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 10px;padding-top: 30px; padding-bottom: 50px">
        <div class="row">
            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                <img class="w-100" src="{% static 'images/noticias/9.jpg' %}" alt="Noticia 9">
            </div>
            <div class="col-12 col-sm-8">
                <h2 class="fnova-a">Se inicia la construcción de la nueva planta de Visteon Corporation en Reynosa, Tamaulipas</h2>
                <br>
                <p>Visteon Corporation, compañía lider en diseño, ingeniería y manufactura
                   de componentes electrónicos para vehículos con sede en   Van Buren Township,
                    Michigan firmó un contrato de arrendamiento para un edificio de manufactura
                     hecho a la medida de 115,000 pies cuadrados en la Cd. de Reynosa, Tamaulipas.</p>
                  <br>

            </div>
        </div>
    </div>
{% endblock %}
