{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <p>De acuerdo con la Ley del Impuesto sobre la renta, la cual estipula que una FIBRA debe distribuir al
                    menos el 95% de su Resultado Fiscal, calculado conforme a la misma ley, considerando ingresos
                    acumulables generados durante el ejercicio fiscal y restando las deducciones autorizadas a la
                    utilidad y la pérdida de ejercicios previos pendiente en caso de existir.</p>
                <p>El Comité Técnico determinara las condiciones de entrega de las Distribuciones, teniendo en cuenta
                    factores como:</p>
                <ul class="list3">
                    <li>Resultados reales de operación</li>
                    <li>Nivel de flujos de efectivo retenidos</li>
                    <li>Términos y condiciones de cualquier financiamiento</li>
                    <li>Cualquier requerimiento relacionado con el servicio de la deuda</li>
                    <li>Requerimientos de CAPEX</li>
                    <li>Ingreso gravable</li>
                    <li>Requerimientos de entrega de Distribuciones conforme la legislación aplicable</li>
                    <li>Gastos de operación</li>
                    <li>Otros factores que nuestro Comité Técnico pueda considerar como importantes</li>
                </ul>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}