{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <p>De acuerdo con la Ley del Impuesto sobre la renta, una FIBRA debe distribuir, cuando menos de forma anual, al menos el 95%
                  de su resultado fiscal, calculado conforme a la misma ley, considerando ingresos acumulables
                  generados durante el ejercicio fiscal y restando las deducciones autorizadas a la utilidad (se debe restar la pérdida de ejercicios fiscales previos pendiente de ser amortizada).</p>
                <p>El Comité Técnico determinará las condiciones de entrega de las Distribuciones en efectivo, teniendo en cuenta
                    factores como:</p>
                <ul class="list3">
                    <li>Resultados reales de operación</li>
                    <li>Nivel de flujos de efectivo retenidos</li>
                    <li>Términos y condiciones de cualquier financiamiento</li>
                    <li>Cualquier requerimiento relacionado con el servicio de la deuda</li>
                    <li>Requerimientos de CAPEX</li>
                    <li>Ingreso gravable</li>
                    <li>Requerimientos de entrega de Distribuciones conforme la legislación aplicable</li>
                    <li>Gastos de operación</li>
                    <li>Otros factores que nuestro Comité Técnico pueda considerar como importantes</li>
                </ul>

                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Aviso a Tenedores</th>
                        <th class="text-center">Fecha de Publicación</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/07-05-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/07-05-2021-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2021-05-07</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/06-05-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/06-05-2021-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2021-05-06</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion-2.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion-2.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2021-04-27</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2021-04-27</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/03-03-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/03-03-2021-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2021-03-03</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/05-11-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/05-11-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-11-05</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/05-08-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/05-08-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-08-05</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/12-05-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/12-05-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-05-12</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/10-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/10-03-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-03-10</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/03-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/03-03-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-03-03</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/02-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/02-03-2020-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2020-03-02</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/21-11-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/21-11-2019-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2019-11-21</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/20-08-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/20-08-2019-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2019-08-20</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-05-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-05-2019-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2019-05-13</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/06-03-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/06-03-2019-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2019-03-06</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-11-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-11-2018-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-11-13</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/29-08-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/29-08-2018-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-08-29</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion-2.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion-2.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-08-28</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-08-28</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/17-05-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/17-05-2018-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-05-17</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/26-02-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/26-02-2018-Distribucion.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2018-02-26</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-11-2017-Distribucion-3T17.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-11-2017-Distribucion-3T17.pdf">
                                                    Aviso a Tenedores  </a></td>
                          <td class="text-center td-tab-2">2017-11-13</td>
                      </tr>
                    </tbody>
                </table>

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
