{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="product-info-tabs">

                    <!--Product Tabs-->
                    <div class="prod-tabs" id="product-tabs">

                        <!--Tab Btns-->
                        <div class="tab-btns clearfix">
                            <a href="#2019" class="tab-btn active-btn">2019</a>
                            <a href="#2018" class="tab-btn">2018</a>
                            <a href="#2017" class="tab-btn">2017</a>
                        </div>

                        <!--Tabs Container-->
                        <div class="tabs-container">
                            <!--Tab / Active Tab-->
                            <div class="tab active-tab" id="2019">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/Informe-1T19-vf.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/Informe-1T19-vf.pdf">
                                            2019-04-24 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/Informe-1T19-vf.pdf">
                                            Crédito Real anuncia sus resultados del 1T19 </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-17-Dividendo.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-17-Dividendo.pdf">
                                            2019-04-17 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-17-Dividendo.pdf">
                                            Pago de dividendos a accionistas de Crédito Real </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf">
                                            2019-04-08 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf">
                                            Los accionistas de Crédito Real aprueban el pago de un dividendo, entre
                                            otros </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf">
                                            2019-04-01 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf">
                                            Crédito Real Conferencia telefónica de resultados del 1T19 </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            2019-03-19 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            CREAL anuncia la convocatoria para su asamblea ordinaria anual de
                                            accionistas </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="2018">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            2019-03-19 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            CREAL anuncia la convocatoria para su asamblea ordinaria anual de
                                            accionistas </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="2017">
                                <table id="table1" class="table table-responsive table-hover">
                                    <thead></thead>
                                    <tbody>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf">
                                            2019-04-08 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-08-Resoluciones-Asamblea.pdf">
                                            Los accionistas de Crédito Real aprueban el pago de un dividendo, entre
                                            otros </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf">
                                            2019-04-01 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-04-01-CC1T19.pdf">
                                            Crédito Real Conferencia telefónica de resultados del 1T19 </a></td>
                                    </tr>
                                    <tr>
                                        <td class="td-tab-1">
                                            <a target="_blank"
                                               href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf"><i
                                                    class="fa fa-download"></i></a></td>
                                        <td class="td-tab-2"><a target="_blank"
                                                                href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            2019-03-19 </a><br><a target="_blank"
                                                                  href="http://cdn.investorcloud.net/creal/EventosRelevantes/2019-03-19-Asamblea-.pdf">
                                            CREAL anuncia la convocatoria para su asamblea ordinaria anual de
                                            accionistas </a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}