{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="faq-column col-md-12">

                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">
                                <p class="title">How can i get help by Investing?</p>
                                <div class="toggle-icon">
                                    <span class="plus fa fa-angle-right"></span><span
                                        class="minus fa fa-angle-down"></span>
                                </div>
                            </div>
                            <div class="acc-content collapsed">
                                <div class="text"><p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                </p></div>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">How can I learn to trade Business?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <div class="text"><p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit. Investing is a global consulting firm
                                    with a twist. We bring big ideas and challenge the norm. We work with our clients,
                                    not at them.

                                </p></div>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">What makes eToro different from business companies?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <div class="text"><p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                </p></div>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">What about loan programs & after bank loan advantage?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <div class="text"><p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum
                                    dolor sit amet, consectetur adipisicing elit.
                                </p></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}