{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="faq-column col-md-12">

                    <div class="accordion-box">
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn active">
                                <p class="title">¿Qué es Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <span class="plus fa fa-angle-right"></span><span
                                        class="minus fa fa-angle-down"></span>
                                </div>
                            </div>
                            <div class="acc-content collapsed">
                                <p>
                                    FIBRA NOVA es un fidecomiso de inversión de Bienes y Raíces que cotiza en la BMV,
                                    contando con más de 285 mil metros cuadrados arrendados en las principales ciudades
                                    industriales en México, el cual se especializa en la adquisición, el desarrollo, y
                                    arrendamiento de inmuebles para posteriormente destinarlos a arrendamiento.
                                    Ofreciendo un modelo de negocio en constante crecimiento y un portafolio enfocado en
                                    construir valor.
                                </p>
                                <h4>Antecedentes de Fibra Nova</h4>
                                <p>
                                    Fibra Nova fue constituido el 10 de Julio de 2017 en la Ciudad de México. Su
                                    actividad principal consiste en la adquisición o construcción de bienes
                                    inmuebles en México que se destinen al arrendamiento.
                                </p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Quiénes son sus arrendatarios?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Dentro de su lista de clientes, se encuentra: UVM, RR Donnelley, Beckers, ERAE,
                                    Hakkai, Visteon, Truper, CEMEX, UNITEC, Weiss-Aug, Teleperformance México
                                    (Merkafon), entre otros.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Porque invertir en Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova cuenta con un sólido modelo de negocios basado en administración
                                    internalizada y un portafolio de reciente creación ocupado al 100% de su capacidad
                                    por clientes de clase A, los cuales cuentan con contratos a largo plazo y además es
                                    respaldado por la alta capacidad de su Gobierno Corporativo enfocado a los intereses
                                    de los inversionistas.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Quiénes son los principales directivos de Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Guillermo de Jesús Medrano Artalejo. Director General</p>
                                <p>Lorena Martínez Molina. Director de Estructuración y Operaciones</p>
                                <p>Gilberto Delgado López. Director Inmobiliario</p>
                                <p>Luis Carlos Piñón Reza. Director de Finanzas y Administracións</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}