{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="product-info-tabs">

                    <!--Product Tabs-->
                    <div class="prod-tabs" id="product-tabs">

                        <!--Tabs Container-->
                        <div class="row container">
                            <div class="col-md-3 text-center">
                                <a href="{{ urlbase }}/InformacionFinanciera/ReportesAnuales/2020-Reporte-Anual-BMV.pdf"
                                   target="_blank"><i class="fa fa-file-pdf-o fa-5x"></i>
                                    <br>
                                    Reporte Anual 2020 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        <div class="row container">
                            <div class="col-md-3 text-center">
                                <a href="{{ urlbase }}/InformacionFinanciera/ReportesAnuales/2019-Reporte-Anual-BMV.pdf"
                                   target="_blank"><i class="fa fa-file-pdf-o fa-5x"></i>
                                    <br>
                                    Reporte Anual 2019 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        <div class="row container">
                            <div class="col-md-3 text-center">
                                <a href="{{ urlbase }}/InformacionFinanciera/ReportesAnuales/2018-Reporte-Anual-BMV.pdf"
                                   target="_blank"><i class="fa fa-file-pdf-o fa-5x"></i>
                                    <br>
                                    Reporte Anual 2018 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                            <div class="col-md-3 text-center">
                                <a href="{{ urlbase }}/InformacionFinanciera/ReportesAnuales/2017-Reporte-Anual-BMV.pdf"
                                   target="_blank"><i class="fa fa-file-pdf-o fa-5x"></i>
                                    <br>
                                    Reporte Anual 2017 <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </section>
{% endblock %}
