{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-dot-style-one owl-nav-none">
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/industrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box">
                                <img src="{% static 'images/contenido/icono1.png' %}" alt="">
                            </div>
                            <h3><a href="{% url 'frontend:portafolio' tab='manufactura' %}">Portafolio Industrial</a></h3>
                            <div class="text">
                                <p>17 propiedades</p>
                                <p>245,011 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/oficina.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono3.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio Comercial</a></h3>
                            <div class="text">
                                <p>65 propiedades</p>
                                <p>23,431 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/logistico.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono4.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='logistica' %}">Portafolio Logístico </a></h3>
                            <div class="text">
                                <p>10 propiedades</p>
                                <p>36,345 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>5.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/educacion.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono5.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio de Oficinas</a></h3>
                            <div class="text">
                                <p>5 propiedades</p>
                                <p>24,924 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/comercial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Portafolio Educativo</a></h3>
                            <div class="text">
                                <p>3 propiedades</p>
                                <p>43,082 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two-half"
             style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered wow fadeInUp"  data-wow-duration="1.5s" >
                <h2>FIBRA NOVA EN NÚMEROS (1T21)</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="648">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">Rentas Anualizadas (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Ocupación (%)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Propiedades</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="372793">0</span>
                                </div>
                                <h4 class="counter-title">ABR (m<sup>2</sup>)</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title wow fadeInUpBig"  data-wow-duration="1.5s" >
                <h2>Eventos Destacados</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInUpBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"><img
                                    src="{% static 'images/contenido/eventos1.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">15-04-2021</div>-->
                            <h3>
                                <a target="_blank"
                                   href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf">Fibra
                                    Nova reporta sus resultados del primer trimestre de 2021</a></h3>
                            <div class="text">
                            </div>
                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"
                               target="_blank" class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
{#                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"#}
{#                               target="_blank" class="detail">Ver más <span#}
{#                                    class="fa fa-angle-right"></span></a>#}
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInRightBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=28 %}"><img
                                    src="{% static 'images/contenido/contrato.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">08-10-2018</div>-->
                            <h3><a target="_blank"
                                   href="{% url 'frontend:noticia' no=28 %}">Fibra Nova firma promesa de compraventa </a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=28 %}"
                               class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInLeftBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=27 %}"><img
                                    src="{% static 'images/contenido/firma_promesa.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">22-10-2017</div>-->
                            <h3><a target="_blank"
                                   href="{% url 'frontend:noticia' no=27 %}">Nuevo contrato de arrendamiento en Ciudad Juárez</a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=27 %}"
                               class="detail">Ver más <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->


    <section class="clients-section theme-bg">
        <div class="auto-container">
            <div class="sec-title wow fadeInLeftBig" style="margin-bottom: 20px;">
                <h2>Principales Inquilinos</h2>
            </div>
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/1.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/2.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/3.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/4.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/5.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/6.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/7.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/8.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/9.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/10.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/11.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/12.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/14.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/15.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/16.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/17.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/18.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/19.png' %}" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <section class="map-section mt-5">
        <div class="auto-container mt-5 p-5">
            <div class="sec-title sec-title wow fadeInLeft" style="margin-bottom: 20px;">
                <h2>¿En donde tiene propiedades Fibra Nova?</h2>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-4">
                    <h4>Proyectos ubicados en zonas con un alto potencial de crecimiento económico y demográfico en 40 ciudades de 19 entidades federativas</h4>
                    <br><br>
                    <div class="btns-wrap">
                        <a href="{% url 'frontend:perfil-presencia-geografica' %}" class="theme-btn btn-style-one"> Conocer más</a>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8 col-11 mt-5 mt-md-0">
                    <div class="wow fadeInRightBig" data-wow-duration="2.0s">
                        <img src="{% static 'images/contenido/mapa2.png' %}" alt="" width="95%">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row clearfix">
    <!--End Clients Section-->
    <div id="myModal" class="modal">
        <div class="modal-dialog modal-confirm" style="max-width: 820px">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="width: 100%;text-align: center"> Canal de Denuncias </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Aquí puede consultar cualquier aspecto relacionado con los <i>lineamientos y políticas de Negocio
                        Responsable de Cox Energy América.</i></p>
                    <p>
                        Todas las comunicaciones recibidas se tratarán de acuerdo a los principios de respeto,
                        fundamento y
                        confidencialidad y de acuerdo con un procedimiento de tramitación y recepción de denuncias
                        recibidas
                        aprobado por el Consejo de Administración de la Compañía.
                    </p>
                    <form action="{% url 'denuncia' %}" method="post" id="form_denuncia"
                          data-success="Correo enviado correctamente">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4 mb-3 mb-md-0">
                                <label for="pais" style="font-size: 0.83em">Selecciona el país<br><br class="d-none d-md-block"></label>
                                <select name="pais" id="pais" class="form-control">
                                    <option value="Chile">Chile</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="España">España</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="México">México</option>
                                    <option value="Panamá">Panamá</option>
                                </select>
                            </div>

                            <div class="col-md-4  pl-md-0 mb-3 mb-md-0">
                                <label for="tematica" style="font-size: 0.83em">Indica la temática de tu consulta o
                                    denuncia</label>
                                <select name="tematica" id="tematica" class="form-control">

                                    <option value="Comunicación responsable">Comunicación responsable</option>
                                    <option value="Derechos humanos">Derechos humanos</option>
                                    <option value="Gestión del talento">Gestión del talento</option>
                                    <option value="Integridad">Integridad</option>
                                    <option value="Libertad de expresión">Libertad de expresión</option>
                                    <option value="Medioambiente">Medioambiente</option>
                                    <option value="Privacidad">Privacidad</option>
                                    <option value="Otros">Otros</option>
                                </select>
                            </div>

                            <div class="col-md-4 pl-md-0 mb-3 mb-md-0">
                                <label for="relacion" style="font-size: 0.83em">Señala tu relación con Cox Energy
                                    América</label>
                                <select name="relacion" id="relacion" class="form-control">
                                    <option value="Accionista">Accionista</option>
                                    <option value="Cliente">Cliente</option>
                                    <option value="Funcionario/Empleado">Funcionario/Empleado</option>
                                    <option value="Inversionista">Inversionista</option>
                                    <option value="Regulador">Regulador</option>
                                    <option value="Colombia">Socio Comercial/Proveedor</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 mb-3">
                                <label for="denuncia_text" style="font-size: 0.83em">Escribe tu consulta o
                                    denuncia</label>
                                <textarea name="denuncia" id="denuncia_text" cols="30" rows="10" class="form-control"
                                          data-rule-required="true"
                                          data-msg-required="Por favor escriba su consulta o denuncia"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="consulta" class="mr-1">¿Quieres hacer la consulta de modo anónimo?</label>
                                <br class="d-block d-md-none">
                                <div class="btn si pl-0 pl-md-3" id="Si" onclick="anoniMo()"><i class="fa fa-dot-circle-o"></i> Sí
                                </div>
                                <div class="btn no active" id="No" onclick="noAnoniMo()"><i
                                        class="fa fa-dot-circle-o"></i> No
                                </div>
                                <input type="radio" name="consulta" id="consulta" checked="false" style="display: none">

                            </div>
                        </div>
                        <div class="row anonimo">
                            <div class="col-12 mb-3">
                                <label for="nombre" style="font-size: 0.83em">Nombre y apellido:</label>

                                <input type="text" name="nombre" id="nombre" class="form-control "
                                       data-rule-required="true" data-msg-required="Por favor escriba su nombre">

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-4 anonimo mb-3">
                                <label for="telefono" style="font-size: 0.83em">Teléfono de contacto:</label>

                                <input type="text" name="telefono" id="telefono" class="form-control "
                                       data-rule-required="true" data-msg-required="Por favor escriba su teléfono">

                            </div>
                            <div class="col-md-8 noanonimo mb-3">
                                <label for="correo" style="font-size: 0.83em">Correo electrónico para hacerte llegar la
                                    respuesta a tu consulta</label>

                                <input type="text" name="correo" id="correo" class="form-control "
                                       data-rule-required="true" data-rule-email="true"
                                       data-msg-required="Por favor escriba su email"
                                       data-msg-email="Por favor escriba una dirección de correo correcta ">

                            </div>

                        </div>
                        <div class="row mt-4 justify-content-center">
                            <div class="col-10 text-center">
                                Al hacer clic en "Enviar" muestra su conformidad con nuestras Condiciones y acepta
                                haber leído y comprendido nuestra <a href="{% url 'index' %}"
                                                                     style="text-decoration: underline;font-weight: bold">Política
                                de Privacidad</a>
                            </div>
                        </div>


                    </form>
                </div>
                <div class="modal-footer justify-content-center ">
                    <button class="btn color-btn btn-block  btn-bg-white enviar col-4" id="send_denuncia">Enviar
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block otherscripts %}
    <script>
    $(function(){
        $('#myModal').modal('show');
    })
    </script>
{% endblock %}