{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-dot-style-one owl-nav-none">
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/industrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box">
                                <img src="{% static 'images/contenido/icono1.png' %}" alt="">
                            </div>
                            <h3><a href="{% url 'frontend:portafolio' tab='manufactura' %}">Portafolio Industrial</a></h3>
                            <div class="text">
                                <p>17 propiedades</p>
                                <p>245,011 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/oficina.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono3.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio Comercial</a></h3>
                            <div class="text">
                                <p>65 propiedades</p>
                                <p>23,431 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/logistico.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono4.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='logistica' %}">Portafolio Logístico </a></h3>
                            <div class="text">
                                <p>10 propiedades</p>
                                <p>36,345 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>5.0 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/educacion.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono5.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio de Oficinas</a></h3>
                            <div class="text">
                                <p>5 propiedades</p>
                                <p>24,924 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/comercial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Portafolio Educativo</a></h3>
                            <div class="text">
                                <p>3 propiedades</p>
                                <p>43,082 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two-half"
             style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered wow fadeInUp"  data-wow-duration="1.5s" >
                <h2>FIBRA NOVA EN NÚMEROS (1T21)</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="648">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">Rentas Anualizadas (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Ocupación (%)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Propiedades</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="372793">0</span>
                                </div>
                                <h4 class="counter-title">ABR (m<sup>2</sup>)</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title wow fadeInUpBig"  data-wow-duration="1.5s" >
                <h2>Eventos Destacados</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInUpBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"><img
                                    src="{% static 'images/contenido/eventos1.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">15-04-2021</div>-->
                            <h3>
                                <a target="_blank"
                                   href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf">Fibra
                                    Nova reporta sus resultados del primer trimestre de 2021</a></h3>
                            <div class="text">
                            </div>
                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"
                               target="_blank" class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
{#                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-1T21.pdf"#}
{#                               target="_blank" class="detail">Ver más <span#}
{#                                    class="fa fa-angle-right"></span></a>#}
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInRightBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=28 %}"><img
                                    src="{% static 'images/contenido/contrato.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">08-10-2018</div>-->
                            <h3><a target="_blank"
                                   href="{% url 'frontend:noticia' no=28 %}">Fibra Nova firma promesa de compraventa </a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=28 %}"
                               class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInLeftBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=27 %}"><img
                                    src="{% static 'images/contenido/firma_promesa.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">22-10-2017</div>-->
                            <h3><a target="_blank"
                                   href="{% url 'frontend:noticia' no=27 %}">Nuevo contrato de arrendamiento en Ciudad Juárez</a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank"
                               href="{% url 'frontend:noticia' no=27 %}"
                               class="detail">Ver más <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->


    <section class="clients-section theme-bg">
        <div class="auto-container">
            <div class="sec-title wow fadeInLeftBig" style="margin-bottom: 20px;">
                <h2>Principales Inquilinos</h2>
            </div>
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/1.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/2.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/3.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/4.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/5.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/6.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/7.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/8.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/9.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/10.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/11.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/12.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/14.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/15.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/16.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/17.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/18.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/19.png' %}" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <section class="map-section mt-5">
        <div class="auto-container mt-5 p-5">
            <div class="sec-title sec-title wow fadeInLeft" style="margin-bottom: 20px;">
                <h2>¿En donde tiene propiedades Fibra Nova?</h2>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-5">
                    <h3>Proyectos ubicados en zonas con un alto potencial de crecimiento económico y demográfico en 40 ciudades de 19 entidades federativas</h3>
                    <br><br>
                    <div class="btns-wrap">
                        <a href="{% url 'frontend:perfil-presencia-geografica' %}" class="theme-btn btn-style-one"> Conocer más</a>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 col-11 mt-5 mt-md-0">
                    <div class="wow fadeInRightBig" data-wow-duration="1.5s">
                        <img src="{% static 'images/contenido/mapa.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row clearfix">
    <!--End Clients Section-->
{% endblock %}
