{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-dot-style-one owl-nav-none">
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/industrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box">
                                <img src="{% static 'images/contenido/icono1.png' %}" alt="">
                            </div>
                            <h3><a href="{% url 'frontend:portafolio' tab='manufactura' %}">Portafolio Industrial</a>
                            </h3>
                            <div class="text">
                                <p>18 propiedades</p>
                                <p>262,837 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>5.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/comercial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono3.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio Comercial</a></h3>
                            <div class="text">
                                <p>65 propiedades</p>
                                <p>23,431 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>5.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/logistico.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono4.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='logistica' %}">Portafolio Logístico </a></h3>
                            <div class="text">
                                <p>10 propiedades</p>
                                <p>36,345 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>4.9 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/oficina.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono5.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='oficinas' %}">Portafolio de Oficinas</a></h3>
                            <div class="text">
                                <p>5 propiedades</p>
                                <p>24,924 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.6 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/educacion.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Portafolio Educativo</a></h3>
                            <div class="text">
                                <p>3 propiedades</p>
                                <p>43,082 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>6.6 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image">
                            <img src="{% static 'images/contenido/agroindustrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="{% url 'frontend:portafolio' tab='educacion' %}">Portafolio Agroindustrial</a>
                            </h3>
                            <div class="text">
                                <p>2 propiedades</p>
                                <p>1,645 ha</p>
                                <p>Ocupación del 100%</p>
                                <p>14.8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two-half"
             style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered wow fadeInUp" data-wow-duration="1.5s">
                <h2>FIBRA NOVA EN NÚMEROS (2T21)</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="846">0</span><span
                                        class="" style="color: white;">+</span>
                                </div>
                                <h4 class="counter-title">Rentas Anualizadas (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="100">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Ocupación (%)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="103">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Propiedades</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="390619">0</span>
                                </div>
                                <h4 class="counter-title">ABR (m<sup>2</sup>)</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title wow fadeInUpBig" data-wow-duration="1.5s">
                <h2>Eventos Destacados</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInUpBig">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank"
                               href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21.pdf"><img
                                    src="{% static 'images/contenido/eventos1.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">15-04-2021</div>-->
                            <h3>
                                <a target="_blank"
                                   href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21.pdf">Fibra
                                    Nova reporta sus resultados del segundo trimestre de 2021</a></h3>
                            <div class="text">
                            </div>
                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21.pdf"
                               target="_blank" class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
                            {#                            <a href="{{ urlbase }}/InformacionFinanciera/ReportesTrimestrales/2021-2T21.pdf"#}
                            {#                               target="_blank" class="detail">Ver más <span#}
                            {#                                    class="fa fa-angle-right"></span></a>#}
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInRightBig">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{% url 'frontend:noticias' no=31 %}"><img
                                    src="{% static 'images/contenido/contrato.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <!--<div class="author">08-10-2018</div>-->
                            <h3><a href="{% url 'frontend:noticias' no=31 %}">Nuevo contrato de arrendamiento en Ciudad Juarez</a></h3>
                            <div class="text">
                            </div>
                            <a href="{% url 'frontend:noticias' no=31 %}"
                               class="detail">Ver más <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

                <div class="news-block col-md-4 col-sm-6 col-xs-12  wow fadeInLeftBig">
                    <div class="inner-box">
                        <div class="image">
                            <a href="{% url 'frontend:noticias' no=30 %}"><img
                                    src="{% static 'images/contenido/firma_promesa.png' %}"
                                    alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <h3><a href="{% url 'frontend:noticias' no=30 %}">Nuevo contrato de arrendamiento en Reynosa</a></h3>
                            <div class="text">
                            </div>
                            <a href="{% url 'frontend:noticias' no=30 %}"
                               class="detail">Ver más <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->


    <section class="clients-section theme-bg">
        <div class="auto-container">
            <div class="sec-title wow fadeInLeftBig" style="margin-bottom: 20px;">
                <h2>Principales Inquilinos</h2>
            </div>
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/1.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/2.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/3.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/4.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/5.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/6.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/7.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/8.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/9.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/10.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/11.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/12.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/14.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/15.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/16.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/17.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/18.png' %}" alt="">
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><img src="{% static 'images/logotipos/19.png' %}" alt="">
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <section class="map-section mt-5">
        <div class="auto-container mt-5 p-5">
            <div class="sec-title sec-title wow fadeInLeft" style="margin-bottom: 20px;">
                <h2>¿En donde tiene propiedades Fibra Nova?</h2>
            </div>
            <div class="row d-md-flex align-items-center">
                <div class="col-md-4">
                    <h4>Proyectos ubicados en zonas con un alto potencial de crecimiento económico y demográfico
                        en {{ Presencia_ciudades }} ciudades de {{ Presencia_entidades }} entidades federativas</h4>
                    <br><br>
                    <div class="btns-wrap">
                        <a href="{% url 'frontend:perfil-presencia-geografica' %}" class="theme-btn btn-style-one">
                            Conocer más</a>
                    </div>
                </div>
                <div class="col-md-1 pt-5 pt-md-0"></div>
                <div class="col-md-8 col-11 mt-5 mt-md-0">
                    <div class="wow fadeInRightBig" data-wow-duration="2.0s">
                        <img src="{% static 'images/contenido/mapa2.jpg' %}" alt="" width="95%">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--End Clients Section-->
    <!--INVITACIÓN TRIMESTRAL INICIO-->
    <div id="myModal" class="modal">
        <div class="modal-dialog modal-confirm modal-index">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h3 style="width: 100%;text-align: center"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="row justify-content-center">
                            <div class="col-md-11 text-center">
                                <h5>FIBRA NOVA LE INVITA A PARTICIPAR EN SU</h5>
                                <h4 style="color: #5254ce">CONFERENCIA TELEFÓNICA</h4>
                                <h5>DE RESULTADOS DEL</h5>
                                <h4 style="color: #5254ce">TERCER TRIMESTRE DE 2021</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <p>
                                    <label for="">Fecha:</label>
                                    Jueves XX de octubre de 2021
                                </p>
                                <p>
                                    <label for="">Hora:</label>
                                    xx:xx a.m. (Hora del centro,México)<br/>
                                    <span class="ml-3">xx:xx a.m. (Hora del Este, N.Y.</span>
                                </p>
                                <p>
                                    <label>Números de marcación:</label><br/>
                                    EE. UU.:+1-XXX-XXX-XXXX<br/>
                                    Internacional (México):+1-XX-XXX-XXXX<br/>
                                </p>
                                <p>
                                    <label for="">Publicación de resultados 3T21:</label><br/>
                                    XXXXXX XX de octubre de 2021<br/>
                                    (al cierre de mercado)
                                </p>
                            </div>
                            <div class="col-md-5">
                                <p>
                                    <label for="">Dirigida por:</label><br/>
                                    <span>XXXX XXXX,Director XXXX</span><br/>
                                    <span>XXXX XXXX,Director de XXXX</span><br/>
                                    <span>XXXX XXXX,Director de  XXXX</span>
                                </p>
                                <p><label for="">Código de acceso:</label>XXXX</p>
                                <br/>
                                <p class="d-sm-none"><label for="">Para mayor información:</label><br/>
                                    XXXXxxx@xxxxx.com<br/>
                                    Tel. +XXXXXXXXX
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--INVITACIÓN TRIMESTRAL FIN-->

    <div class="row clearfix"></div>
{% endblock %}
{% block otherscripts %}
    <script>
        $(function () {
            $('#myModal').modal('show');
        })
    </script>
{% endblock %}
