{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <p>El objetivo de FIBRA NOVA es el de adquirir, administrar y desarrollar
                  un portafolio de bienes inmuebles, proporcionando retornos atractivos
                  con riesgo ajustado a largo plazo a sus tenedores, mediante
                  distribuciones estables y la apreciación de sus activos inmobiliarios.</p>
                  <p>Fibra Nova planea expandir de manera selectiva y diversificada en los
                    próximos años su cartera y convertirse en un participante relevante en el
                    mercado inmobiliario.</p>
                  <p>Todo lo anterior acompañado de un sólido gobierno corporativo con una
                    plataforma de administración internalizada que permite maximizar las
                    ganancias en eficiencias, el apalancamiento operativo y mejores márgenes de utilidad.</p>

                  <h1>Hacer un diagrama:</h1>
                  <p>Solido modelo de negocios basado en administración internacionalizada con una firme
                    estructura financiera impulsado por un mercado de bienes y raíces en crecimiento con alto
                    potencial de oportunidades. <br>
                    Portafolio en crecimiento respaldado con la experiencia de un selecto grupo de operadores
                    y desarrolladores de inmuebles. <br>
                    Gobierno Corporativo por encima de los estándares del sector con una amplia experiencia y
                    un desarrollo de relaciones con otras empresas sobresaliente.<br>
                    Alto nivel de certidumbre gracias al nivel de ocupación por clientes de clase “A” con
                    contratos a largo plazo (8.3 años en promedio).</p>
                    <p>Fibra Nova se especializa en Edificios Hechos a la Medida (BTS por sus siglas en inglés);
                      ofreciendo un edificio construido por el desarrollador de acuerdo con el diseño, ubicación
                      y características físicas del usuario quien arrendara el edificio al desarrollador. Al
                      concluir el edificio el usuario asumirá los costos operacionales, costos de mantenimiento e
                      impuesto predial. Fibra Nova no esta enfocado en el negocio de la construcción, el proceso
                      de edificación se realiza a través de concursos de obra y el usuario tiene acceso al
                      presupuesto ganador. Dicho proyecto tiene una duración aproximada de 6 meses desde la firma
                      del contrato de arrendamiento hasta la terminación substancial.</p>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
