{% extends 'layouts/base.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/timeline/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/historia.css' %}">
{% endblock %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-12" id="historia">
                    <section class="slice  no-padding">
                        <div class="infoGeneral">
                            <div class="w-section inverse">
                                <div class="">

                                    <ul class="timeline">
                                        <li class="year">2019</li>
                                        <li class="event  left_side ">
                                            <div class="event-date">
                                                <p>Comité Técnico paga distribución en efectivo, correspondiente al trimestre de octubre a diciembre de 2018, por un monto total de Ps 95,279,000</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2018</li>
                                        <li class="event  left_side ">
                                            <div class="event-date">
                                                <p>Comité Técnico informa pagar una distribución en efectivo, correspondiente al
                                                  trimestre de Julio a Septiembre de 2018, por un monto total de Ps. 94,595,000.00.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-1.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side ">
                                            <div class="event-date">
                                                <p>Fibra Nova firma nuevo contrato de arrendamiento con fabricante de la industria automotriz por USD 13.3 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-E.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side ">
                                            <div class="event-date">
                                                <p>Fibra Nova anuncia nuevo arrendamiento Legget & Platt Inc. Para el arrendamiento de un edificio de 257,000 ft2 ubicado en Cd. Juárez, Chihuahua por USD 12 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-C.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side ">
                                            <div class="event-date">
                                                <p>Firman contrato de arrendamiento con Alt Technologies en Parque Tecnológico Bafar en Chihuahua, Chihuahua. Cuenta con una superficie de 62 mil ft2 autorizando un total USD 80 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-2.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side ">
                                            <div class="event-date">
                                                <p>Firma contrato de arrendamiento en la ciudad de Querétaro. Dicho contrato contempla 5,577 m2 más áreas de estacionamiento por Ps. 81 millones. </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-D.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side ">
                                            <div class="event-date">
                                                <p>Adquiere una nave industrial ubicada en Chihuahua, Chihuahua por USD $2.5 millones. El inmueble tiene una superficie de 10,692 m2, una proporción de rentas en USD del 27% y un NOI anual estimado de Ps.432 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-F.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2017</li>
                                        <li class="event  left_side ">
                                            <div class="event-date">
                                                <p>Fibra Nova inicia operaciones el 3 de agosto</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        `
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
