{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
              <h1>Acerca de Fibra Nova</h1>
                <p>FIBRA NOVA es un desarrollador líder de bienes raíces industriales
                  en México con más de 285 mil metros cuadrados arrendados en las principales
                  ciudades industriales en México, el cual se especializa en la adquisición,
                  el desarrollo, y arrendamiento de inmuebles para posteriormente destinarlos
                  a arrendamiento. Ofreciendo un modelo de negocio en constante crecimiento y
                  un portafolio enfocado en construir valor.</p>
              <h1>Misión</h1>
              <p>Ofrecer una alternativa de inversión rentable, con un alto nivel de
                certidumbre para mantener y acrecentar su valor. </p>
              <p>Procurar el adecuado mantenimiento, cobranza, administración, comercialización
                y desempeño de nuestras propiedades, y en su caso llevar a cabo las mejoras que
                nos permitan elevar su rentabilidad en el corto plazo. </p>
              <p>Procurar la mejora continua del perfil de nuestros arrendatarios a fin de incrementar
                la rentabilidad de nuestras propiedades al tiempo que reducimos la volatilidad
                potencial de los flujos. Fortalecer la lista de potenciales adquisiciones a fin
                de estar en condiciones de incrementar el tamaño de nuestro portafolio con rapidez
                y de forma sostenida. </p>
              <p>Fortalecer la red de relaciones con corredores inmobiliarios, desarrolladores,
                arrendatarios de marcas con presencia nacional y local, y en general con todos
                los agentes participantes en nuestro segmento de la industria para consolidar
                nuestra presencia en la industria de FIBRAs.</p>
              <p>Construir una relación de confianza con los Tenedores mediante la total
                transparencia de nuestras actividades, el diálogo cercano y la conducción de
                una sana dinámica de trabajo entre los órganos de gobierno del Fideicomiso y
                el Administrador y Asesor. </p>
                <h1>Visión</h1>
                <p>Desarrollar un portafolio inmobiliario a través de la adquisición de
                  propiedades rentadas que creen valor al Fideicomiso, basado en la calidad
                  de sus contratos de arrendamiento, calidad constructiva, plaza y ubicación
                  del inmueble. </p>
                <p>Para alcanzar dichos objetivos, el Fideicomiso se apoya en la experiencia de
                  un selecto grupo de desarrolladores y operadores de inmuebles, así como en un
                  modelo de negocios que integra verticalmente la cadena de valor que va desde
                  la identificación de los conceptos y ubicaciones para los desarrollos inmobiliarios,
                  proceso de comercialización y arrendamiento, operación de los mismos hasta la
                   estabilización y la eventual captura de la plusvalía de existir las condiciones de
                   mercado para la venta del inmueble. </p>
              </div>
            <br><br>
        </div>
    </section>
{% endblock %}
