{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <section class="services-section sp-two nosotros">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title centered">
                <h2>Acerca de Fibra Nova</h2>
            </div>
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <!--video-box-->
                    <div class="video-image-box mar-bottom-40">
                        <figure class="image">
                            <img src="{% static 'images/contenido/acerca.png' %}" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="feature-block-two">
                        <div class="text">FIBRA NOVA es un desarrollador líder de bienes raíces industriales
                            en México con más de 285 mil metros cuadrados arrendados en las principales
                            ciudades industriales en México, el cual se especializa en la adquisición,
                            el desarrollo, y alquiler de inmuebles para posteriormente destinarlos
                            a arrendamiento. Ofreciendo un modelo de negocio en constante crecimiento y
                            un portafolio enfocado en construir valor.
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row clearfix">
            </div>
        </div>
    </section>
    <section class="default-section nosotros pt-0">
        <div class="auto-container">
            <div class="row clearfix mb-20">
                <div class="col-md-8 col-sm-12">
                    <div class="feature-block-two">
                        <h1>Misión</h1>
                        <p>Ofrecer una alternativa de inversión rentable, con un alto nivel de
                            certidumbre para mantener y acrecentar su valor. </p><br>
                        <p>Procurar el adecuado mantenimiento, cobranza, administración, comercialización
                            y desempeño de nuestras propiedades, y en su caso llevar a cabo las mejoras que
                            nos permitan elevar su rentabilidad en el corto plazo. </p><br>
                        <p>Procurar la mejora continua del perfil de nuestros arrendatarios a fin de incrementar
                            la rentabilidad de nuestras propiedades al tiempo que reducimos la volatilidad
                            potencial de los flujos. Fortalecer la lista de potenciales adquisiciones a fin
                            de estar en condiciones de incrementar el tamaño de nuestro portafolio con rapidez
                            y de forma sostenida. </p><br>
                        <p>Fortalecer la red de relaciones con corredores inmobiliarios, desarrolladores,
                            arrendatarios de marcas con presencia nacional y local, y en general con todos
                            los agentes participantes en nuestro segmento de la industria para consolidar
                            nuestra presencia en la industria de FIBRAs.</p><br>
                        <p>Construir una relación de confianza con los Tenedores mediante la total
                            transparencia de nuestras actividades, el diálogo cercano y la conducción de
                            una sana dinámica de trabajo entre los órganos de gobierno del Fideicomiso y
                            el Administrador y Asesor. </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <!--video-box-->
                    <div class="video-image-box mar-bottom-40">
                        <figure class="image">
                            <img src="{% static 'images/contenido/mision.png' %}" alt="">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="row clearfix mb-20">
                <div class="col-md-4 col-sm-12">
                    <!--video-box-->
                    <div class="video-image-box mar-bottom-40">
                        <figure class="image">
                            <img src="{% static 'images/contenido/vision.png' %}" alt="">
                        </figure>
                    </div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="feature-block-two">
                        <h1>Visión</h1>
                        <p>Desarrollar un portafolio inmobiliario a través de la adquisición de
                            propiedades rentadas que creen valor al Fideicomiso, basado en la calidad
                            de sus contratos de arrendamiento, calidad constructiva, plaza y ubicación
                            del inmueble. </p>
                        <p>Para alcanzar dichos objetivos, el Fideicomiso se apoya en la experiencia de
                            un selecto grupo de desarrolladores y operadores de inmuebles, así como en un
                            modelo de negocios que integra verticalmente la cadena de valor que va desde
                            la identificación de los conceptos y ubicaciones para los desarrollos inmobiliarios,
                            proceso de comercialización y arrendamiento, operación de los mismos hasta la
                            estabilización y la eventual captura de la plusvalía de existir las condiciones de
                            mercado para la venta del inmueble. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
