{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <p>Al 31 de diciembre de 2018 nuestro portafolio este compuesto por 92
                  propiedades con un total de 285,758 metros cuadrados de Área Bruta Rentable
                  (ABR), principalmente enfocado en el sector inmobiliario de consumo,
                  oficinas, manufactura, logística y educativo.</p>
                  <p>Fibra Nova se encuentra ubicado en 40 ciudades de 19 entidades federativas:</p>
                  <p>TABLA</p>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
