{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix mb-20">

                <div class="col-md-12 text-center mb-20">
                    <img src="{% static 'images/presencia_geografica.jpg' %}" alt="">
                </div>

                <p>Al 31 de diciembre de 2018 nuestro portafolio este compuesto por 92
                    propiedades con un total de 285,758 metros cuadrados de Área Bruta Rentable
                    (ABR), principalmente enfocado en el sector inmobiliario de consumo,
                    oficinas, manufactura, logística y educativo.</p>
                <p>Fibra Nova se encuentra ubicado en 40 ciudades de 19 entidades federativas:</p>
            </div>
            <div class="row clearfix">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Propiedades</th>
                        <th>ABR (m<sup>2</sup>)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Chihuahua</td>
                        <td>35</td>
                        <td>149,220.40</td>
                    </tr>
                    <tr>
                        <td>Michoacán</td>
                        <td>1</td>
                        <td>42,596.00</td>
                    </tr>
                    <tr>
                        <td>Jalisco</td>
                        <td>3</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Querétaro</td>
                        <td>4</td>
                        <td>20,998.90</td>
                    </tr>
                    <tr>
                        <td>Nuevo León</td>
                        <td>3</td>
                        <td>17,393.70</td>
                    </tr>
                    <tr>
                        <td>Otros</td>
                        <td>46</td>
                        <td>34,496.20</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>92</th>
                        <th>285,758.60</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
