{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="container calculadora">
            <div class="row justify-content-center">
                <div class=" col-sm-12 col-xs-12">
                    <div class="widget text-justify row">
                        <div class="col-md-6">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    Datos de la inversión
                                </div>
                                <div class="panel-body ">
                                    <form class="form" id="calculadora" action="/es/calculate">
                                        <div class="form-group" id="group_cbfi">
                                            <label for="cbfis" class="control-label">CANTIDAD DE ACCIONES
                                                FNOVA17 </label>
                                            <input type="number" id="cbfis" min="0" step="1" data-bind="value:cbfis"
                                                   class="form-control"/>
                                            <!--<span class="form-control-feedback">Debe seleccionar un número mayor a 0</span>-->
                                        </div>
                                        <div class="form-group group-fechas">
                                            <label for="start_date" class="control-label">FECHA INICIAL</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="start_date">
                                                <div class="input-group-addon">
                                                    <span class="icon-picons-date"></span>
                                                </div>
                                            </div>
                                            <!--<span class="form-control-feedback">Debe seleccionar una fecha inferior a la fecha final</span>-->
                                        </div>
                                        <div class="form-group group-fechas">
                                            <label for="end_date">FECHA FINAL</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control datepicker" id="end_date">
                                                <div class="input-group-addon">
                                                    <span class="icon-picons-date"></span>
                                                </div>
                                            </div>
                                            <!--<span class="form-control-feedback">Debe seleccionar una fecha superior a la fecha de inicio</span>-->
                                        </div>
                                        <br>
                                        <div class="input-group mb-15">
                                            <button type="button" class="btn btn-info disabled btn-maincolor"
                                                    id="calculate">CALCULAR
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    Inversión inicial
                                </div>
                                <div class="panel-body ">
                                    <div class="form-group"><label for="precio_i">PRECIO DE ACCIONES DE FNOVA17:</label>
                                        <div class="value" id="precio_i">0</div>
                                    </div>

                                    <div class="form-group"><label for="cantidad_i">CANTIDAD DE ACCIONES:</label>
                                        <div class="value" id="cantidad_i">0</div>
                                    </div>

                                    <div class="form-group"><label for="monto_i">MONTO INVERTIDO:</label>
                                        <div class="value" id="monto_i">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget text-justify row">
                        <div class="col-md-6">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    RESULTADO FINAL
                                </div>
                                <div class="panel-body ">
                                    <div class="form-group"><label for="precio_f">PRECIO DE ACCIONES DE FNOVA17:
                                    </label>

                                        <div class="value" id="precio_f">0</div>
                                    </div>

                                    <div class="form-group"><label for="monto_f">VALOR INVERSIÓN:</label>

                                        <div class="value" id="monto_f">0</div>
                                    </div>

                                    <div class="form-group"><label for="rendimiento">RENDIMIENTO:</label>
                                        <div class="value" id="rendimiento">0</div>
                                    </div>

                                    <div class="form-group"><label for="rendimiento_p">RENDIMIENTO:</label>
                                        <div class="value" id="rendimiento_p">0</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    Dividendos recibido
                                </div>
                                <div class="panel-body ">
                                    <div class="form-group"><label for="cantidad_d">CANTIDAD DE ACCIONES:</label>
                                        <div class="value" id="cantidad_d">0</div>
                                    </div>

                                    <div class="form-group"><label for="dividendos_p">DIVIDENDOS PERIODO EMISORA
                                        :</label>

                                        <div class="value" id="dividendos_p">0</div>
                                    </div>

                                    <div class="form-group"><label for="monto_d">DIVIDENDOS RECIBIDOS:</label>
                                        <div class="value" id="monto_d">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end widget -->
                    <div class="widget text-justify row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    Rendimiento final
                                </div>

                                <div class="panel-body ">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="rendimiento_t">RENDIMIENTO
                                                TOTAL:</label>
                                                <div class="value" id="rendimiento_t">0</div>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="rendimiento_tp">RENDIMIENTO
                                                TOTAL:</label>
                                                <div class="value" id="rendimiento_tp">0</div>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group"><label for="rendimiento_a">RENDIMIENTO
                                                ANUALIZADO:</label>
                                                <div class="value" id="rendimiento_a">0</div>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-6">
                                    <img src="{% static 'images/contenido/chart.png' %}" alt="">
                                </div>-->
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="widget text-justify row">
                        <div class="col-md-12">
                            <div class="">
                                <div class="panel-heading bg-primary p-2">
                                    Visualiza tu inversión
                                </div>
                                <div class="panel-body ">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-md-6 d-flex justify-content-center">
                                            <div class="index-graph-info">
                                                <p><strong>Elige:</strong> </p><br>
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-6">
                                                        <p>Monto inicial</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="montoinicial"
                                                                id="montoinicial">
                                                            <option value="100000">100000</option>
                                                            <option value="200000">200000</option>
                                                            <option value="300000">300000</option>
                                                            <option value="400000">400000</option>
                                                            <option value="500000">500000</option>
                                                            <option value="600000">600000</option>
                                                            <option value="700000">700000</option>
                                                            <option value="800000">800000</option>
                                                            <option value="900000">900000</option>
                                                            <option value="1000000" selected>1000000</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-6">
                                                        <p>Depósito anual</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="depositomensual"
                                                                id="depositomensual">
                                                            <option value="10000">10000</option>
                                                            <option value="20000">20000</option>
                                                            <option value="30000">30000</option>
                                                            <option value="40000">40000</option>
                                                            <option value="50000">50000</option>
                                                            <option value="60000">60000</option>
                                                            <option value="70000">70000</option>
                                                            <option value="80000">80000</option>
                                                            <option value="90000">90000</option>
                                                            <option value="100000" selected>100000</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row d-flex align-items-center">
                                                    <div class="col-md-6">
                                                        <p>Plazo de inversión</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select class="form-control" name="plazoinversion"
                                                                id="plazoinversion">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30" selected>30</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mt-5" id="chartdiv" style="width:100%; height: 400px;"></div>
                                        </div>
                                    </div>
                                    <div class="row d-flex chart-legend-calc" style="justify-content: space-between">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center bl-blue">
                                                    <p class="font-weight-normal mr-2 pl-2">Inversión en
                                                        Fibra Nova</p>
                                                </div>
                                                <p class="strong">MX$<span id="inversion_fmty">25,688,779</span></p>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center bl-gray">
                                                    <p class="font-weight-normal mr-2 pl-2">Inversión
                                                        tradicional</p>
                                                </div>
                                                <p class="strong">MX$<span id="inversion_tradicional">12,227,499</span></p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center bl-black">
                                                    <p class="font-weight-normal mr-2 pl-2">Bancos</p>
                                                </div>
                                                <p class="strong">MX$<span id="inversion_bancos">5,868,170</span></p>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- end col-lg-9 -->
            </div><!-- end row -->
            <div class="clearfix"></div>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <script>
        var api_url = "https://hkpy.irstrat.com/intradia/170?date=";
        var symbol_id = 170;
    </script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.es.js' %}"></script>
    <script src="{% static 'js/calculadora.js' %}?v=1.0.1"></script>
    <script src="{% static 'js/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'js/amCharts/serial.js' %}"></script>
    <script src="{% static 'js/inversion.js' %}?v=1.0.1"></script>
{% endblock %}
{% block otherstyles %}
    <link type="text/css" href="{% static 'css/bootstrap-datepicker.css' %}"/>
    <style>
        .datepicker table thead tr th:first-child {
            border-top-left-radius: 0px;
        }

        .datepicker table thead tr th:last-child {
            border-top-right-radius: 0px;
        }

        .datepicker .day, .datepicker .prev, .datepicker .next {
            cursor: pointer;
        }

        .datepicker .active.day {
            background: #0f3e68;
            color: white;
        }
    </style>
{% endblock %}
