{% load static i18n %}
<div class="theme-bg pt-5">
<section class="">
    <div class="container-fluid container-relative">
        <div class="row align-items-center justify-content-center preguntas-finales d-md-flex">
            <div class="col-12 col-lg-6 col-md-10 p-5">
                <div class="p-5">
                <div class="sec-title sec-title wow fadeInLeft" style="margin-bottom: 20px;">
                    <h2>{% trans 'Infórmate mas' %}</h2>
                </div>
                <div class="panel-group accordion-event accordion-style-03 margin-4-rem-bottom lg-margin-2-rem-bottom">
                    <!-- start accordion item -->
                    <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                         data-wow-delay="0.4s">
                        <div class="panel-heading">
                            <a class="accordion-toggle" href="{% url 'frontend:perfil-nosotros' %}" aria-expanded="false">
                                <div class="boton-info1">
                                    <span>{% trans 'Conoce más de Fibra Nova' %}</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- start accordion item -->
                    <div class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                         data-wow-delay="0.6s" style="border: 1px solid #1f478d;">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" href="{% url 'frontend:portafolio' tab='manufactura' %}"
                               aria-expanded="false">
                                <div class="boton-info1">
                                    <span>{% trans 'Conoce más del portafolio' %}</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- start accordion item -->
                    <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                         data-wow-delay="0.6s">
                        <div class="panel-heading">
                            <a class="accordion-toggle collapsed" href="{% url 'frontend:como-invertir' %}"
                               aria-expanded="false">
                                <div class="boton-info1">
                                    <span>{% trans 'Conoce cómo invertir' %}</span>
                                    <i class="indicator fa fa-angle-right text-tussock icon-extra-small"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-xl-1 col-md-10 wow animate__fadeInRight position-relative"
                 style="visibility: visible; animation-name: fadeInRight;">
                <div class="outside-box-right position-relative index-box">
                    <img src="{% static 'images/main-slider/slider2.jpg' %}" class="overflow-hidden"
                         data-no-retina="">
                    <div class="texto-redes mt-2">
                        <h2 class="siguenos">{% trans 'Síguenos en nuestras redes sociales' %} </h2>
                        <div class="mt-2">
                        <a target="_blank" class="index-social-link" href="https://twitter.com/NovaFibra">
                            <i class="fa fa-twitter fa-3x"></i>
                        </a>
                        <a target="_blank" class="index-social-link" href="https://www.facebook.com/Fibra-NOVA-103086728587783">
                            <i class="fa fa-facebook fa-3x"></i>
                        </a>
                        <a target="_blank" class="index-social-link"
                           href="https://www.instagram.com/fibranova17/">
                            <i class="fa fa-instagram fa-3x"></i>
                        </a>
                        <a target="_blank" class="index-social-link"
                           href="https://www.linkedin.com/company/fibra-nova17/?originalSubdomain=mx">
                            <i class="fa fa-linkedin fa-3x"></i>
                        </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</div>
<footer class="main-footer">
    <div class="ph-50">
        <div class="row clearfix justify-content-center">
            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget logo-widget">
                    <div class="footer-logo">
                        <figure><a href="{% url 'frontend:index' %}"><img
                                src="{% static 'images/logo-footer.png' %}"
                                alt=""></a></figure>
                    </div>
                    <div class="widget-content">
                        <div class="text">{% trans 'Fibra Nova es un Fideicomiso de Inversión en Bienes raíces (FIBRA), su objetivo es el de adquirir, administrar y desarrollar un portafolio de bienes inmuebles de alta calidad en México, contando en la actualidad con más de 372 mil m<sup>2</sup> en sus 100 propiedades distribuidas en 19 entidades federativas del país.' %}</div>
                    </div>
                </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget links-widget">
                    <h2>{% trans 'Enlaces sugeridos' %}</h2>
                    <div class="widget-content">
                        <ul class="list">
                            <li><a href="{% url 'frontend:perfil-historia' %}">{% trans 'Historia' %}</a></li>
                            <li><a href="{% url 'frontend:portafolio' tab='todos' %}">{% trans 'Portafolio' %}</a></li>
                            {#                                    <li><a href="{% url '' %}">Inversionistas</a></li>#}
                            <li><a href="{% url 'frontend:inversionistas-eventos-relevantes' %}">{% trans 'Eventos Relevantes' %}</a></li>
                            <li><a href="{% url 'frontend:gobierno-directivos' %}">{% trans 'Directivos' %}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Footer Column-->
            <!--<div class="footer-column col-md-2 col-sm-6 col-xs-12">
                <div class="footer-widget logo-widget">
                    <h2>Oficinas centrales</h2>
                    <div class="widget-content">
                        <div class="text">
                            KM 7.5 carretera a Cuauhtémoc, colonia Las Ánimas en la Ciudad de Chihuahua, Chihuahua,
                            México
                        </div>

                        {#                                <ul class="list">#}
                        {#                                    <li><a href="#">About us</a></li>#}
                        {#                                    <li><a href="#">Customer</a></li>#}
                        {#                                    <li><a href="#">Service</a></li>#}
                        {#                                    <li><a href="#">Collection</a></li>#}
                        {#                                    <li><a href="#">Blog</a></li>#}
                        {#                                    <li><a href="#">BestSellers</a></li>#}
                        {#                                </ul>#}
                    </div>

                </div>
            </div>-->

            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget info-widget">
                    <h2>{% trans 'Contacto' %}</h2>
                    <div class="widget-content">
                        <ul class="list-style-one">
                          <li style="font-size: 19px !important;">{% trans 'Inversionistas' %}:</li>
                            <li style="margin-top:-5px;"><span class="icon flaticon-user"></span>Luis Carlos Piñón Reza</li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-envelope"></span>
                              <a class="tc-white" href="mailto:lpinon@fibra-nova.com">lpinon@fibra-nova.com</a>
                            </li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-envelope"></span>
                              <a class="tc-white"href="mailto:investor@fibra-nova.com">investor@fibra-nova.com</a>
                            </li>
                            <li style="font-size: 19px; !important">{% trans 'Asuntos inmobiliarios' %}:</li>
                            <li style="margin-top:-5px;"><span class="icon flaticon-user"></span>Guillermo Medrano</li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-envelope"></span>
                              <a class="tc-white"href="mailto:gmedrano@fibra-nova.com">gmedrano@fibra-nova.com</a>
                            </li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-user"></span>Laura Garza</li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-envelope"></span>
                              <a class="tc-white"href="mailto:lgarza@fibra-nova.com">lgarza@fibra-nova.com</a>
                            </li>
                            <li style="font-size: 19px; !important">{% trans 'Clientes' %}:</li>
                            <li style="margin-top:-5px;"><span class="icon flaticon-user"></span>Gilberto Delgado</li>
                            <li style="margin-top:-12px;"><span class="icon flaticon-envelope"></span>
                              <a class="tc-white"href="mailto:gdelgado@fibra-nova.comm">gdelgado@fibra-nova.com</a>
                            </li>
                            {#<li><span class="icon flaticon-line-chart"></span>Director de Finanzas yAdministración</li>#}
                            {#<li><span class="icon flaticon-phone-call"></span>+880 1723 801 729</li>#}
                        </ul>

                        {#                                <ul class="social-icon-one">#}
                        {#                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>#}
                        {#                                </ul>#}
                    </div>
                </div>
            </div>
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget info-widget logo-widget">
                    <h2>{% trans 'Mantente informado' %}</h2>
                    <div class="text">
                        {% trans 'Suscríbete para recibir información relacionada con FNOVA' %}
                    </div>
                <div class="emailed-form">
                    <form method="post" action="{% url 'frontend:suscribir' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="{% trans 'Correo electrónico' %}"
                                   required>
                            <button type="submit" class="theme-btn"><span
                                    class="fa fa-angle-right"></span></button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">&copy;
                        <script !src="">document.write(new Date().getFullYear())</script> {% trans 'Fibra Nova - Diseñado y generado por' %} <a href="http://www.irdesign.mx/" target="_blank" class="theme_color">IRDesign</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
