{% load static %}

<footer class="main-footer">

    <div class="ph-50">
        <div class="row clearfix justify-content-center">


            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget logo-widget">
                    <div class="footer-logo">
                        <figure><a href="{% url 'frontend:index' %}"><img
                                src="{% static 'images/logo-footer.png' %}"
                                alt=""></a></figure>
                    </div>
                    <div class="widget-content">
                        <div class="text">Fibra Nova es un Fideicomiso de Inversión en Bienes
                            raíces (FIBRA), su objetivo es el de adquirir, administrar y desarrollar
                            un portafolio de bienes inmuebles de alta calidad en México, contando en
                            la actualidad con más de 372 mil m<sup>2</sup> en sus 100 propiedades distribuidas
                            en 19 entidades federativas del país
                        </div>

                    </div>
                </div>
            </div>

            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget links-widget">
                    <h2>Enlaces sugeridos</h2>
                    <div class="widget-content">
                        <ul class="list">
                            <li><a href="{% url 'frontend:perfil-historia' %}">Historia</a></li>
                            <li><a href="{% url 'frontend:portafolio' tab='todos' %}">Portafolio</a></li>
                            {#                                    <li><a href="{% url '' %}">Inversionistas</a></li>#}
                            <li><a href="{% url 'frontend:inversionistas-eventos-relevantes' %}">Eventos
                                Relevantes</a></li>
                            <li><a href="{% url 'frontend:gobierno-directivos' %}">Directivos</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Footer Column-->
            <!--<div class="footer-column col-md-2 col-sm-6 col-xs-12">
                <div class="footer-widget logo-widget">
                    <h2>Oficinas centrales</h2>
                    <div class="widget-content">
                        <div class="text">
                            KM 7.5 carretera a Cuauhtémoc, colonia Las Ánimas en la Ciudad de Chihuahua, Chihuahua,
                            México
                        </div>

                        {#                                <ul class="list">#}
                        {#                                    <li><a href="#">About us</a></li>#}
                        {#                                    <li><a href="#">Customer</a></li>#}
                        {#                                    <li><a href="#">Service</a></li>#}
                        {#                                    <li><a href="#">Collection</a></li>#}
                        {#                                    <li><a href="#">Blog</a></li>#}
                        {#                                    <li><a href="#">BestSellers</a></li>#}
                        {#                                </ul>#}
                    </div>

                </div>
            </div>-->

            <!--Footer Column-->
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget info-widget">
                    <h2>Contacto</h2>
                    <div class="widget-content">
                        <ul class="list-style-one">
                            <li><span class="icon flaticon-user"></span>Luis Carlos Piñón Reza</li>
                            <li><span class="icon flaticon-line-chart"></span>Director de Finanzas y
                                Administración
                            </li>
                            {#                                    <li><span class="icon flaticon-phone-call"></span>+880 1723 801 729</li>#}
                            <li><span class="icon flaticon-envelope"></span><a class="tc-white"
                                                                               href="mailto:lpinon@fibra-nova.com">lpinon@fibra-nova.com</a>
                            </li>
                            <li><span class="icon flaticon-envelope"></span><a class="tc-white"
                                                                               href="mailto:investor@fibra-nova.com">
                                investor@fibra-nova.com
                            </a>
                            </li>
                        </ul>

                        {#                                <ul class="social-icon-one">#}
                        {#                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
                        {#                                    <li><a href="#"><span class="fa fa-dribbble"></span></a></li>#}
                        {#                                </ul>#}
                    </div>
                </div>
            </div>
            <div class="footer-column col-md-3 col-sm-6 col-xs-12">
                <div class="footer-widget info-widget logo-widget">
                    <h2>Mantente informado</h2>
                    <div class="text">
                        Suscríbete para recibir información relacionada con FNOVA
                    </div>
                <div class="emailed-form">
                    <form method="post" action="{% url 'frontend:suscribir' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Correo electrónico"
                                   required>
                            <button type="submit" class="theme-btn"><span
                                    class="fa fa-angle-right"></span></button>
                        </div>
                    </form>
                </div>
                </div>
            </div>

        </div>
    </div>

    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">&copy; 2021 Fibra Nova -
                        Diseñado y generado por <a href="http://www.irdesign.mx/" target="_blank" class="theme_color">IRDesign</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
