<li class="current dropdown"><a href="#">Perfil</a>
    <ul>
        <li><a href="{% url 'frontend:perfil-nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'frontend:perfil-presencia-geografica' %}">Presencia Geográfica</a></li>
        <li><a href="{% url 'frontend:perfil-historia' %}">Historia</a></li>
        <li><a href="{% url 'frontend:perfil-estrategia' %}">Estrategia</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Portafolio</a>
    <ul>
        <li><a href="{% url 'frontend:portafolio' tab='todos' %}">Propiedades</a></li>
        <li><a href="{% url 'frontend:indicadores-operativos' %}">Indicadores Operativos</a></li>

    </ul>
</li>

<li><a href="{% url 'frontend:noticias'%}">Noticias</a></li>
<li class="dropdown"><a href="#">Inversionistas</a>
    <ul>
        <li><a href="{% url 'frontend:inversionistas-reportes-trimestrales' %}">Reportes Trimestrales</a></li>
        <li><a href="{% url 'frontend:inversionistas-reportes-anuales' %}">Reportes Anuales</a></li>
        <li><a href="{% url 'frontend:inversionistas-fundamentales' %}">Fundamentales</a></li>
        <li><a href="{% url 'frontend:inversionistas-eventos-relevantes' %}">Eventos Relevantes</a></li>
        <li><a href="{% url 'frontend:inversionistas-faqs' %}">Preguntas Frecuentes</a></li>
        <li><a href="{% url 'frontend:gobierno-prospectos-suplementos' %}">Prospectos <span style="text-transform: lowercase">y</span> Suplementos</a></li>
    </ul>
</li>
{#<li class="dropdown"><a href="#">Información Bursátil</a>#}
{#    <ul>#}
{#        <li><a href="{% url 'frontend:bursatil-cotizacion' %}">Cotización</a></li>#}
{#        <li><a href="{% url 'frontend:bursatil-precio-historico' %}">Precio Histórico</a></li>#}
{#        <li><a href="{% url 'frontend:bursatil-distribuciones' %}">Distribuciones</a></li>#}
{#    </ul>#}
{#</li>#}
<li class="dropdown"><a href="#">Gobierno <br>Corporativo</a>
    <ul>
        <li><a href="{% url 'frontend:gobierno-directivos' %}">Directivos</a></li>
        <li><a href="{% url 'frontend:gobierno-comites' %}">Comités</a></li>
        <li><a href="{% url 'frontend:gobierno-auditor-externo' %}">Auditor Externo</a></li>
        <li><a href="{% url 'frontend:gobierno-asambleas' %}">Asambleas</a></li>
        <li><a href="{% url 'frontend:gobierno-codigo-etica' %}">Código <span style="text-transform: lowercase">d</span>e ética</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Información<br> Bursátil</a>
    <ul>
        <li><a href="{% url 'frontend:bursatil-distribuciones' %}">Distribuciones</a></li>
        <li><a href="{% url 'frontend:bursatil-cotizacion' %}">Comportamiento <span style="text-transform: lowercase">d</span>e <span style="text-transform: lowercase">l</span>a acción</a></li>
        <li><a href="{% url 'frontend:bursatil-precio-historico' %}">Precios Historicos</a></li>
        <li><a href="{% url 'frontend:bursatil-calculadora' %}">Calculadora <span style="text-transform: lowercase">d</span>e rendimientos</a></li>
        <li><a href="{% url 'frontend:bursatil-cobertura-analistas' %}">Cobertura <span style="text-transform: lowercase">d</span>e Analistas</a></li>

    </ul>
</li>
<li><a href="{% url 'frontend:contacto' %}">Contacto</a></li>
