<li class="current dropdown"><a href="#">Perfil</a>
    <ul>
        <li><a href="{% url 'frontend:perfil-nosotros' %}">Nosotros</a></li>
        <li><a href="{% url 'frontend:perfil-presencia-geografica' %}">Presencia Geografica</a></li>
        <li><a href="{% url 'frontend:perfil-historia' %}">Historia</a></li>
        <li><a href="{% url 'frontend:perfil-estrategia' %}">Estrategia</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">About</a>
    <ul>
        <li><a href="about.html">About Us</a></li>
        <li><a href="faqs.html">FAQs</a></li>
        <li><a href="team.html">Our Team</a></li>
        <li><a href="testimonial.html">Testimonial</a></li>
        <li><a href="error-page.html">Error 404</a></li>
        <li><a href="commingsoon.html">Comming soon</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Services</a>
    <ul>
        <li><a href="services.html">services</a></li>
        <li><a href="services-single.html">Financial Advise</a></li>
        <li><a href="services-single.html">Market Research</a></li>
        <li><a href="services-single.html">Sales & Trading</a></li>
        <li><a href="services-single.html">Performance & Growth</a></li>
        <li><a href="services-single.html">Consulting</a></li>
        <li><a href="services-single.html">Immigration Services</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Projects</a>
    <ul>
        <li><a href="projects-1.html">Projects Standard</a></li>
        <li><a href="projects-2.html">Projects Modern</a></li>
        <li><a href="projects-3.html">Projects Masonry</a></li>
        <li><a href="projects-4.html">Projects Fullwidth</a></li>
        <li><a href="projects-5.html">Projects With Sidebar</a></li>
        <li><a href="project-details.html">Project Details</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Shop</a>
    <ul>
        <li><a href="shop.html">Our Shop</a></li>
        <li><a href="shop-single.html">Product Details</a></li>
        <li><a href="shopping-cart.html">Shopping Cart</a></li>
        <li><a href="checkout.html">Checkout</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">Blog</a>
    <ul>
        <li><a href="blog.html">Blog Classic View</a></li>
        <li><a href="blog-grid.html">Blog Grid View</a></li>
        <li><a href="blog-details.html">Blog Details</a></li>
    </ul>
</li>
<li><a href="contact.html">Contact</a></li>