{% load change_languaje i18n %}

<li class="current dropdown"><a href="#">{% trans 'Perfil' %}</a>
    <ul>
        <li><a href="{% url 'frontend:perfil-nosotros' %}">{% trans 'Nosotros' %}</a></li>
        <li><a href="{% url 'frontend:perfil-presencia-geografica' %}">{% trans 'Presencia Geográfica' %}</a></li>
        <li><a href="{% url 'frontend:perfil-historia' %}">{% trans 'Historia' %}</a></li>
        <li><a href="{% url 'frontend:perfil-estrategia' %}">{% trans 'Estrategia' %}</a></li>
    </ul>
</li>
<li class="dropdown"><a href="#">{% trans 'Portafolio' %}</a>
    <ul>
        <li><a href="{% url 'frontend:portafolio' tab='todos' %}">{% trans 'Propiedades' %}</a></li>
        <li><a href="{% url 'frontend:indicadores-operativos' %}">{% trans 'Indicadores Operativos' %}</a></li>
    </ul>
</li>

<li><a href="{% url 'frontend:noticias' no=31 %}">{% trans 'Noticias' %}</a></li>
<li class="dropdown"><a href="#">{% trans 'Inversionistas' %}</a>
    <ul>
        <li><a href="{% url 'frontend:inversionistas-reportes-trimestrales' %}">{% trans 'Reportes Trimestrales' %}</a>
        </li>
        {#        <li><a href="{% url 'frontend:inversionistas-reportes-anuales' %}">Reportes Anuales</a></li>#}
        <li><a href="{% url 'frontend:inversionistas-fundamentales' %}">{% trans 'Fundamentales' %}</a></li>
        <li><a href="{% url 'frontend:inversionistas-eventos-relevantes' %}">{% trans 'Eventos Relevantes' %}</a></li>
        <li><a href="{% url 'frontend:gobierno-prospectos-suplementos' %}">{% trans 'Prospectos <span style="text-transform: lowercase">y</span> Suplementos' %}</a></li>
        <li><a href="{% url 'frontend:como-invertir' %}">{% trans 'Cómo Invertir' %}</a></li>
        <li><a href="{% url 'frontend:inversionistas-faqs' %}">{% trans 'Preguntas Frecuentes' %}</a></li>
    </ul>
</li>
{#<li class="dropdown"><a href="#">Información Bursátil</a>#}
{#    <ul>#}
{#        <li><a href="{% url 'frontend:bursatil-cotizacion' %}">Cotización</a></li>#}
{#        <li><a href="{% url 'frontend:bursatil-precio-historico' %}">Precio Histórico</a></li>#}
{#        <li><a href="{% url 'frontend:bursatil-distribuciones' %}">Distribuciones</a></li>#}
{#    </ul>#}
{#</li>#}
<li class="dropdown"><a href="#">{% trans 'Gobierno <br>Corporativo' %}</a>
    <ul>
        <li><a href="{% url 'frontend:gobierno-directivos' %}">{% trans 'Directivos' %}</a></li>
        <li><a href="{% url 'frontend:gobierno-comites' %}">{% trans 'Comités' %}</a></li>
        <li><a href="{% url 'frontend:gobierno-auditor-externo' %}">{% trans 'Auditor Externo' %}</a></li>
        <li><a href="{% url 'frontend:gobierno-asambleas' %}">{% trans 'Asambleas' %}</a></li>
        {#        <li><a href="{% url 'frontend:gobierno-codigo-etica' %}">Código <span style="text-transform: lowercase">d</span>e#}
        {#            ética</a></li>#}
    </ul>
</li>
<li class="dropdown"><a href="#">{% trans 'Información<br> Bursátil' %}</a>
    <ul>
        <li><a href="{% url 'frontend:bursatil-distribuciones' %}">{% trans 'Distribuciones' %}</a></li>
        <li><a href="{% url 'frontend:bursatil-cotizacion' %}">{% trans 'Cotización' %}</a>
        </li>
        <li><a href="{% url 'frontend:bursatil-precio-historico' %}">{% trans 'Precio Histórico' %}</a></li>
        <li><a href="{% url 'frontend:bursatil-calculadora' %}">{% trans 'Calculadora' %}</a></li>
        <li><a href="{% url 'frontend:bursatil-cobertura-analistas' %}">{% trans 'Cobertura <span style="text-transform: lowercase">de</span> Analistas' %}</a></li>
    </ul>
</li>
<li><a href="{% url 'frontend:ESG' %}">{% trans 'ESG' %}</a></li>
<li><a href="{% url 'frontend:contacto' %}">{% trans 'Contacto' %}</a></li>
{% if request.LANGUAGE_CODE == 'en' %}
    <li class="nav-item nav-item-anim-icon">
        <a class="nav-link pl-0" href="{% change_lang 'es' %}">
            ES</a>
    </li>
{% else %}
    <li class="nav-item nav-item-anim-icon">
        <a class="nav-link pl-0" href="{% change_lang 'en' %}">
            EN</a>
    </li>
{% endif %}
