{% load static %}

<section class="main-slider">

    <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
        <div class="rev_slider fullwidthabanner" id="rev_slider_one" data-version="5.4.1">
            <ul>

                <li data-description="Slide Description" data-easein="default" data-easeout="default"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0"
                    data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1=""
                    data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6=""
                    data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off"
                    data-slotamount="default" data-thumb="images/main-slider/slider1.jpg" data-title="Slide Title"
                    data-transition="3dcurtain-vertical">
                    <img alt="" class="rev-slidebg" data-bgfit="100% 100%" data-bgparallax="0"
                         data-bgposition="unset" data-bgrepeat="no-repeat" data-no-retina=""
                         src="{% static 'images/main-slider/slider1.jpg' %}">

                    {#                    <div class="tp-caption"#}
                    {#                         data-paddingbottom="[0,0,0,0]"#}
                    {#                         data-paddingleft="[0,0,0,0]"#}
                    {#                         data-paddingright="[0,0,0,0]"#}
                    {#                         data-paddingtop="[0,0,0,0]"#}
                    {#                         data-responsive_offset="on"#}
                    {#                         data-type="text"#}
                    {#                         data-height="none"#}
                    {#                         data-width="['600','600','600','360']"#}
                    {#                         data-whitespace="normal"#}
                    {#                         data-hoffset="['15','15','15','15']"#}
                    {#                         data-voffset="['-85','-90','-80','-65']"#}
                    {#                         data-x="['left','left','left','left']"#}
                    {#                         data-y="['middle','middle','middle','middle']"#}
                    {#                         data-textalign="['top','top','top','top']"#}
                    {#                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'#}
                    {#                         style="z-index: 7; white-space: nowrap;">#}
                    {#                        <h2>Right plan can <br> give you real values!</h2>#}
                    {#                    </div>#}

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-fontsize="[80,40,50,50]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['250','200','130','130']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div id="text1" class="text">Fibra Nova cuenta con 92 propiedades <br
                                class="visible-xs visible-sm"> en su portafolio, totalizando un ABR de
                            <br>
                            285,758 m<sup>2</sup> distribuidos a través de 40 <br class="visible-xs visible-sm"> ciudades de 19
                            entidades federativas.
                        </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','400','360']"
                         data-whitespace="normal"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['115','105','90','85']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <a href="{% url 'frontend:portafolio' %}" class="theme-btn btn-style-one">Portafolio </a>&ensp;
                        &nbsp;
                        {#                        <a href="about.html" class="theme-btn btn-style-two">Learn More</a>#}
                    </div>

                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="slotzoom-horizontal"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688"
                    data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3=""
                    data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                    data-rotate="0" data-saveperformance="off" data-slotamount="default"
                    data-thumb="images/main-slider/slider2.jpg" data-title="Slide Title"
                    data-transition="slidingoverlayright">
                    <img alt="" class="rev-slidebg" data-bgfit="100% 100%" data-bgparallax="0"
                         data-bgposition="unset" data-bgrepeat="no-repeat" data-no-retina=""
                         src="{% static 'images/main-slider/slider2.jpg' %}">

                    {#                    <div class="tp-caption"#}
                    {#                         data-paddingbottom="[0,0,0,0]"#}
                    {#                         data-paddingleft="[0,0,0,0]"#}
                    {#                         data-paddingright="[0,0,0,0]"#}
                    {#                         data-paddingtop="[0,0,0,0]"#}
                    {#                         data-responsive_offset="on"#}
                    {#                         data-type="text"#}
                    {#                         data-height="none"#}
                    {#                         data-width="['600','600','600','360']"#}
                    {#                         data-whitespace="normal"#}
                    {#                         data-hoffset="['15','15','15','15']"#}
                    {#                         data-voffset="['-85','-90','-80','-65']"#}
                    {#                         data-x="['left','left','left','left']"#}
                    {#                         data-y="['middle','middle','middle','middle']"#}
                    {#                         data-textalign="['top','top','top','top']"#}
                    {#                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'#}
                    {#                         style="z-index: 7; white-space: nowrap;">#}
                    {#                        <h2>Looking for first class <br> Business Plan?</h2>#}
                    {#                    </div>#}

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['200','130','130','130']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div id="text2" class="text">Fibra Nova desarrolla propiedades <br
                                class="visible-xs visible-sm"> que garantizan retornos <br>
                            atractivos a sus tenedores.
                        </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','400','360']"
                         data-whitespace="normal"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['115','105','90','85']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <a href="{% url 'frontend:perfil-nosotros' %}" class="theme-btn btn-style-one">Nosotros </a>&ensp;
                        &nbsp;
                        {#                        <a href="about.html" class="theme-btn btn-style-two">Learn More</a>#}
                    </div>
                </li>

                <li data-description="Slide Description" data-easein="default" data-easeout="default"
                    data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="slotzoom-horizontal"
                    data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689"
                    data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3=""
                    data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
                    data-rotate="0" data-saveperformance="off" data-slotamount="default"
                    data-thumb="images/main-slider/slider3.jpg" data-title="Slide Title"
                    data-transition="slidingoverlayright">
                    <img alt="" class="rev-slidebg" data-bgfit="100% 100%" data-bgparallax="0"
                         data-bgposition="unset" data-bgrepeat="no-repeat" data-no-retina=""
                         src="{% static 'images/main-slider/slider3.jpg' %}">

                    <div class="tp-caption"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','600','360']"
                         data-whitespace="normal"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['-85','-90','-80','-65']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <h2 id="text4">Reporte de resultados 1T19</h2>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-whitespace="nowrap"
                         data-width="none"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['130','130','130','130']"
                         data-x="['left','left','left','left']"
                         data-y="['top','top','top','top']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <div id="text3" class="text hidden-xs hidden-sm">Los ingresos totales de Fibra Nova al <br
                                class="visible-xs visible-sm"> 31 de Marzo del 2019 ascendieron a Ps.118 mills.
                        </div>
                    </div>

                    <div class="tp-caption tp-resizeme"
                         data-paddingbottom="[0,0,0,0]"
                         data-paddingleft="[0,0,0,0]"
                         data-paddingright="[0,0,0,0]"
                         data-paddingtop="[0,0,0,0]"
                         data-responsive_offset="on"
                         data-type="text"
                         data-height="none"
                         data-width="['600','600','400','360']"
                         data-whitespace="normal"
                         data-hoffset="['70','130','130','30']"
                         data-voffset="['115','105','90','85']"
                         data-x="['left','left','left','left']"
                         data-y="['middle','middle','middle','middle']"
                         data-textalign="['top','top','top','top']"
                         data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
                         style="z-index: 7; white-space: nowrap;">
                        <a href="http://fibra-nova.com/es/wp-content/uploads/2019/04/Press-Release-FNOVA-1T19.pdf"
                           target="_blank" class="theme-btn btn-style-one">Descargar </a>&ensp;
                        &nbsp;
                        {#                        <a href="about.html" class="theme-btn btn-style-two">Learn More</a>#}
                    </div>

                </li>

            </ul>

        </div>
    </div>
</section>
