{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-phone font-36 mb-20 text-theme-colored"></i>
                        <h4>Teléfono</h4>
                        <h6 class="text-gray">(81) 8625 5757</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-map-marker font-36 mb-20 text-theme-colored"></i>
                        <h4>Oficinas Corporativas</h4>
                        <h6 class="text-gray">Torre KOI, Piso 64. David Alfaro Siqueiros 106,
                            Colonia Valle Oriente, San Pedro Garza García, N.L.</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="contact-info text-center">
                        <i class="fa fa-envelope font-36 mb-20 text-theme-colored"></i>
                        <h4>Email</h4>
                        <h6 class="text-gray">you@yourdomain.com</h6>
                    </div>
                </div>
                <br><br>
            </div>
    </section>
    <!-- Get in Touch -->
    <section class="getintouch sp-one">
        <div class="auto-container">
            <div class="sec-title centered">
                <h2>Get In Touch </h2>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="contact-form default-form">
                        <form method="post" action="sendemail.php" id="contact-form">
                            <div class="row clearfix">

                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="group-inner">
                                        <input type="text" name="username" value="" placeholder="Name *">
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <div class="group-inner">
                                        <input type="email" name="email" value="" placeholder="Email *">
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="group-inner">
                                        <input type="text" name="subject" placeholder="Subject">
                                    </div>
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div class="group-inner">
                                        <textarea name="message" placeholder="Message *"></textarea>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="theme-btn btn-style-one">SUBMIT</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <!--Map Section-->
                    <div class="map-section">
                        <div class="map-outer">
                            <!--Map Canvas-->
                            <div class="map-canvas"
                                 data-zoom="13"
                                 data-lat="40.723211"
                                 data-lng="-74.006945"
                                 data-type="roadmap"
                                 data-hue="#fff"
                                 data-title="Envato"
                                 data-content="New York, NY, USA<br><a href='mailto:info@youremail.com'>info@youremail.com</a>"
                                 style="height: 380px;">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
