{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-nav-none">
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/contenido/industrial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box">
                                <img src="{% static 'images//contenido/icono5.png' %}" alt="">
                            </div>
                            <h3><a href="#">Portafolio Industrial</a></h3>
                            <div class="text">
                                <p>11 propiedades</p>
                                <p>167,456 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/contenido/educacion.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono1.png' %}" alt=""></div>
                            <h3><a href="#">Portafolio Educativo</a></h3>
                            <div class="text">
                                <p>3 propiedades</p>
                                <p>37,505 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>9 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/contenido/comercial.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono2.png' %}" alt=""></div>
                            <h3><a href="#">Portafolio Comercial</a></h3>
                            <div class="text">
                                <p>65 propiedades</p>
                                <p>23,431 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/contenido/logistico.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono3.png' %}" alt=""></div>
                            <h3><a href="#">Portafolio Logístico </a></h3>
                            <div class="text">
                                <p>10 propiedades</p>
                                <p>36,345 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>7 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="services-block-three">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/contenido/oficina.jpg' %}" alt=""/>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><img src="{% static 'images/contenido/icono4.png' %}" alt=""></div>
                            <h3><a href="#">Portafolio de Oficinas</a></h3>
                            <div class="text">
                                <p>3 propiedades</p>
                                <p>21,021 m<sup>2</sup></p>
                                <p>Ocupación del 100%</p>
                                <p>8 años de vigencia de contratos promedio </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two"
             style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered">
                <h2>FIBRA NOVA EN NÚMEROS</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="517">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">Rentas Anualizadas (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="502">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">NOI Anualizado (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="92">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Propiedades</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="285758">0</span>
                                </div>
                                <h4 class="counter-title">ABR (m<sup>2</sup>)</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>Eventos Destacados</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank" href="http://fibra-nova.com/es/wp-content/uploads/2019/04/Press-Release-FNOVA-1T19.pdf"><img src="{% static 'images/contenido/eventos1.png' %}"
                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">26-04-2019</div>
                            <h3><a target="http://fibra-nova.com/es/wp-content/uploads/2019/04/Press-Release-FNOVA-1T19.pdf" href="http://fibra-nova.com/es/wp-content/uploads/2019/04/Press-Release-FNOVA-1T19.pdf">Fibra Nova reporta sus resultados del primer trimestre de 2019</a></h3>
                            <div class="text">
                            </div>
                            <a href="http://fibra-nova.com/es/wp-content/uploads/2019/04/Press-Release-FNOVA-1T19.pdf"
                               target="_blank" class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank" href="https://centrourbano.com/2018/10/08/fibra-nova-construira-inmueble-oficinas-queretaro/"><img src="{% static 'images/contenido/eventos2.png' %}"
                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">08-10-2018</div>
                            <h3><a target="_blank" href="https://centrourbano.com/2018/10/08/fibra-nova-construira-inmueble-oficinas-queretaro/">Fibra Nova construirá inmueble de oficinas en Querétaro </a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank" href="https://centrourbano.com/2018/10/08/fibra-nova-construira-inmueble-oficinas-queretaro/" class="detail">Ver más <span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a target="_blank" href="https://www.eleconomista.com.mx/mercados/Fibra-Nova-anuncia-primeras-inversiones-luego-de-OPI-en-Bolsa-20171022-0038.html"><img src="{% static 'images/contenido/eventos3.png' %}"
                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">22-10-2017</div>
                            <h3><a target="_blank" href="https://www.eleconomista.com.mx/mercados/Fibra-Nova-anuncia-primeras-inversiones-luego-de-OPI-en-Bolsa-20171022-0038.html">Fibra Nova anuncia primeras inversiones luego de OPI en Bolsa</a></h3>
                            <div class="text">
                            </div>
                            <a target="_blank" href="https://www.eleconomista.com.mx/mercados/Fibra-Nova-anuncia-primeras-inversiones-luego-de-OPI-en-Bolsa-20171022-0038.html" class="detail">Ver más <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->


    <section class="clients-section theme-bg sp-one">
        <div class="auto-container">
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/1.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/2.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/3.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/4.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos1.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/2.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/3.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/logotipos/4.png' %}" alt=""></a>
                    </figure>
                </li>
            </ul>
        </div>
    </section>
    <!--End Clients Section-->
{% endblock %}
