{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <!--welcome Section-->
    <section class="welcome-section sp-two">
        <div class="auto-container">
            <div class="big-title">We work with the world’s leading organizations to provide <br> collaborative
                solutions to your business
            </div>
            <div class="row clearfix">

                <!--Services Block Three-->
                <div class="services-block-three col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">

                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/resource/services-5.jpg' %}" alt=""/>
                            <figcaption>
                                <div>
                                    <a href="services-single.html">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-chart-1"></span></div>
                            <h3><a href="services-single.html">Business Consulting</a></h3>
                            <div class="text">We offer management consulting services, with management and onground
                                operational support, to help run your global operations.
                            </div>
                        </div>

                    </div>
                </div>

                <!--Services Block Three-->
                <div class="services-block-three col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/resource/services-6.jpg' %}" alt=""/>
                            <figcaption>
                                <div>
                                    <a href="services-single.html">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-chart"></span></div>
                            <h3><a href="services-single.html">Advanced Analytics</a></h3>
                            <div class="text">We offer management consulting services, with management and onground
                                operational support, to help run your global operations.
                            </div>
                        </div>

                    </div>
                </div>

                <!--Services Block Three-->
                <div class="services-block-three col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/resource/services-7.jpg' %}" alt=""/>
                            <figcaption>
                                <div>
                                    <a href="services-single.html">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="content">
                            <div class="icon-box"><span class="icon flaticon-world-grid"></span></div>
                            <h3><a href="services-single.html">Customer Insights</a></h3>
                            <div class="text">We offer management consulting services, with management and onground
                                operational support, to help run your global operations.
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End Services Section-->

    <!--about Section-->
    <section class="about-section sp-three grey-bg">
        <div class="auto-container">
            <div class="row clearfix">


                <!--Text Column -->
                <div class="about-style-two text-column col-md-6 col-sm-12 col-xs-12">
                    <!--Section Title-->
                    <h2>We have experience from 30 years.</h2>
                    <div class="inner-box">
                        <div class="text">
                            <h4>We are headquartered in North Eastern France 19 <br> associates location. </h4>
                            <p>We provide marketing services to startups and small businesses to looking for a partner
                                for their digital media, design-dev, lead generation, and communications requirents.</p>
                            <div class="link-box padd-top-20"><a href="services.html" class="theme-btn btn-style-one">Read
                                More <span class="fa fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Skills -->
                <div class="column col-md-6 col-sm-12 col-xs-12">

                    <!--Progress Levels-->
                    <div class="progress-levels">

                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="100ms" data-wow-duration="1500ms">
                            <div class="box-title">FINANCIAL PLANNING</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="80"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                            <div class="box-title">BUSINESS PLANNING</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="90"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="box-title">Strategy Planning</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="72"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--Skill Box-->
                        <div class="progress-box wow fadeInRight" data-wow-delay="400ms" data-wow-duration="1500ms">
                            <div class="box-title">Website Analysis</div>
                            <div class="inner">
                                <div class="bar">
                                    <div class="bar-innner">
                                        <div class="bar-fill" data-percent="88"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- services Section-->
    <section class="services-section sp-two">
        <div class="auto-container">

            <div class="row clearfix">

                <!--Services Block Four-->
                <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-travel"></span>
                        </div>
                        <h3><a href="services-single.html">Banking Investment</a></h3>
                        <div class="text">We offer management consulting service with including interim management.
                        </div>
                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-money"></span>
                        </div>
                        <h3><a href="services-single.html">Sales & Trading</a></h3>
                        <div class="text">We offer management consulting service with including interim management.
                        </div>
                    </div>
                </div>

                <!--Services Block Four-->
                <div class="services-block-four col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="icon-box">
                            <span class="icon flaticon-planning"></span>
                        </div>
                        <h3><a href="services-single.html">Google Analysis</a></h3>
                        <div class="text">We offer management consulting service with including interim management.
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!--End Two Default Section-->

    <!--Fun Facts Section-->
    <section class="fact-counter-section sp-two" style="background-image:url({% static 'images/background/parallax-3.jpg' %});">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title light centered">
                <h2>FIBRA NOVA EN NÚMEROS</h2>
            </div>
            <div class="fact-counter">
                <div class="auto-container">
                    <div class="row clearfix">

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="3500" data-stop="517">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">Rentas Anualizadas (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="502">0</span><span
                                        class="plus-icon">+</span>
                                </div>
                                <h4 class="counter-title">NOI Anualizado (Ps. mills.)</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="92">0</span><span
                                        class="plus-icon"></span>
                                </div>
                                <h4 class="counter-title">Propiedades</h4>
                            </div>
                        </div>

                        <!--Column-->
                        <div class="column counter-column col-md-3 col-sm-6 col-xs-12">
                            <div class="inner">
                                <div class="count-outer count-box">
                                    <span class="count-text" data-speed="2000" data-stop="285758">0</span>
                                </div>
                                <h4 class="counter-title">ABR (m<sup>2</sup>)</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

  

    <!-- experience section -->
    <section class="experience-section sp-three grey-bg">
        <div class="auto-container">
            <div class="row">
                <div class="feature-text-one col-md-5 col-sm-12">
                    <h2>We complete every project with experience hand</h2>
                    <div class="text">
                        I am here to share a few simple yet creative ways, to advertise your new home business. A few
                        suggestions would be, newspapers is the one source that many people go to, and money where you
                        can be spending it on something else.
                    </div>
                    <div class="link"><a href="#" class="theme-btn btn-style-four">Read More</a></div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row feature-right-column">
                        <div class="services-block-seven col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-monitor"></span>
                                </div>
                                <h3><a href="services-single.html">How to Start Business</a></h3>
                                <div class="text">We offer management consulting service with including interim
                                    management.
                                </div>
                            </div>
                        </div>
                        <div class="services-block-seven col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-business"></span>
                                </div>
                                <h3><a href="services-single.html">Online Marketing</a></h3>
                                <div class="text">We offer management consulting service with including interim
                                    management.
                                </div>
                            </div>
                        </div>
                        <div class="services-block-seven col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-shapes"></span>
                                </div>
                                <h3><a href="services-single.html">Planing & Management</a></h3>
                                <div class="text">We offer management consulting service with including interim
                                    management.
                                </div>
                            </div>
                        </div>
                        <div class="services-block-seven col-md-6 col-sm-6 col-xs-12">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="icon flaticon-line-chart"></span>
                                </div>
                                <h3><a href="services-single.html">Best Business Idea</a></h3>
                                <div class="text">We offer management consulting service with including interim
                                    management.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- testimonial -->
    <section class="testimonial-section sp-one">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>What Client Say</h2>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme row-10 owl-nav-none">
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></div>
                        <h4>Adam Smith</h4>
                        <p>CEO- Founder</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-2.jpg' %}" alt=""></div>
                        <h4>Rose Elisha</h4>
                        <p>Developer</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></div>
                        <h4>Robert Boult</h4>
                        <p>Manager</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></div>
                        <h4>Adam Smith</h4>
                        <p>CEO- Founder</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-2.jpg' %}" alt=""></div>
                        <h4>Rose Elisha</h4>
                        <p>Developer</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></div>
                        <h4>Robert Boult</h4>
                        <p>Manager</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></div>
                        <h4>Adam Smith</h4>
                        <p>CEO- Founder</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-2.jpg' %}" alt=""></div>
                        <h4>Rose Elisha</h4>
                        <p>Developer</p>
                    </div>
                </div>
                <div class="testimonial-block-three">
                    <div class="quote-icon">
                        <span class="flaticon-left-quotes-sign"></span>
                    </div>
                    <div class="text">Focus Lab took a unique and very cool-looking design approach to its testimonial
                        page -- which is fitting, seeing as its trade is in creating visual branding systems.
                    </div>
                    <div class="author">
                        <div class="image"><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></div>
                        <h4>Robert Boult</h4>
                        <p>Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- pricing -->
    <section class="pricing-section sp-one">
        <div class="auto-container">
            <div class="sec-title light centered">
                <h2>Pricing Plan </h2>
            </div>
            <div class="cd-pricing-container cd-has-margins">
                <div class="cd-pricing-switcher">
                    <p class="fieldset">
                        <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                        <label for="monthly-2">Monthly</label>
                        <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                        <label for="yearly-2">Yearly</label>
                        <span class="cd-switch"></span>
                    </p>
                </div> <!-- .cd-pricing-switcher -->

                <ul class="cd-pricing-list cd-bounce-invert">
                    <li>
                        <ul class="cd-pricing-wrapper">
                            <li data-type="monthly" class="is-visible">
                                <header class="cd-pricing-header">
                                    <h2>Basic</h2>

                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">30</span>
                                        <span class="cd-duration">mo</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>256MB</em> Memory</li>
                                        <li><em>1</em> User</li>
                                        <li><em>1</em> Website</li>
                                        <li><em>1</em> Domain</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>

                            <li data-type="yearly" class="is-hidden">
                                <header class="cd-pricing-header">
                                    <h2>Basic</h2>

                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">320</span>
                                        <span class="cd-duration">yr</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>256MB</em> Memory</li>
                                        <li><em>1</em> User</li>
                                        <li><em>1</em> Website</li>
                                        <li><em>1</em> Domain</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>
                        </ul> <!-- .cd-pricing-wrapper -->
                    </li>

                    <li class="cd-popular">
                        <ul class="cd-pricing-wrapper">
                            <li data-type="monthly" class="is-visible">
                                <header class="cd-pricing-header">
                                    <h2>Popular</h2>
                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">60</span>
                                        <span class="cd-duration">mo</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>512MB</em> Memory</li>
                                        <li><em>3</em> Users</li>
                                        <li><em>5</em> Websites</li>
                                        <li><em>7</em> Domains</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>

                            <li data-type="yearly" class="is-hidden">
                                <header class="cd-pricing-header">
                                    <h2>Popular</h2>

                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">630</span>
                                        <span class="cd-duration">yr</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>512MB</em> Memory</li>
                                        <li><em>3</em> Users</li>
                                        <li><em>5</em> Websites</li>
                                        <li><em>7</em> Domains</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>
                        </ul> <!-- .cd-pricing-wrapper -->
                    </li>

                    <li>
                        <ul class="cd-pricing-wrapper">
                            <li data-type="monthly" class="is-visible">
                                <header class="cd-pricing-header">
                                    <h2>Premier</h2>

                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">90</span>
                                        <span class="cd-duration">mo</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>1024MB</em> Memory</li>
                                        <li><em>5</em> Users</li>
                                        <li><em>10</em> Websites</li>
                                        <li><em>10</em> Domains</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>

                            <li data-type="yearly" class="is-hidden">
                                <header class="cd-pricing-header">
                                    <h2>Premier</h2>

                                    <div class="cd-price">
                                        <span class="cd-currency">$</span>
                                        <span class="cd-value">950</span>
                                        <span class="cd-duration">yr</span>
                                    </div>
                                </header> <!-- .cd-pricing-header -->

                                <div class="cd-pricing-body">
                                    <ul class="cd-pricing-features">
                                        <li><em>1024MB</em> Memory</li>
                                        <li><em>5</em> Users</li>
                                        <li><em>10</em> Websites</li>
                                        <li><em>10</em> Domains</li>
                                        <li><em>Unlimited</em> Bandwidth</li>
                                        <li><em>24/7</em> Support</li>
                                    </ul>
                                </div> <!-- .cd-pricing-body -->

                                <footer class="cd-pricing-footer">
                                    <a class="cd-select" href="#">Select</a>
                                </footer>  <!-- .cd-pricing-footer -->
                            </li>
                        </ul> <!-- .cd-pricing-wrapper -->
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!--Call To Action-->
    <section class="call-to-action hidden">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="column col-md-8 col-sm-12 col-xs-12">
                    <div class="text">We are the best business consulting company ever!!</div>
                </div>
                <div class="column text-right col-md-4 col-sm-12 col-xs-12">
                    <a href="#" class="theme-btn btn-style-three">Purchase Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--End Call To Action-->

    <!-- newsletter -->
    <section class="newsletter">
        <div class="auto-container">
            <div class="cd-form-wrapper cd-container">
                <form class="cd-form">
                    <label class="cd-label" for="cd-email">Newsletter</label>
                    <input type="email" id="cd-email" class="cd-email" name="cd-email"
                           placeholder="Enter your email address">
                    <input type="submit" class="cd-submit" value="Submit">
                    <div class="cd-loading"></div>
                </form>

                <div data-type="message" class="cd-response cd-response-error">Ops! Error message here</div>
                <div data-type="message" class="cd-response-success"><p>Great! Success message here</p></div>
                <div data-type="message" class="cd-response cd-response-notification">Hey! Notification message here
                </div>
            </div>
        </div>
    </section>

    <!--News Section-->
    <section class="news-section sp-two grey-bg">
        <div class="auto-container">
            <!--Sec Title-->
            <div class="sec-title">
                <h2>Latest News</h2>
            </div>
            <div class="row clearfix">

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a href="blog-details.html"><img src="{% static 'images/resource/news-1.jpg' %}"
                                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">By Venenda | April 24, 2017</div>
                            <h3><a href="blog-details.html">Crafted & Crispy Design</a></h3>
                            <div class="text">The ship set ground on the shore of desert isle with Gilligan the Skipper
                                and wife...
                            </div>
                            <a href="blog-details.html" class="detail">More Details <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a href="blog-details.html"><img src="{% static 'images/resource/news-2.jpg' %}"
                                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">By Tylor | Feb 24, 2017</div>
                            <h3><a href="blog-details.html">Marketing Makes Business</a></h3>
                            <div class="text">The ship set ground on the shore of desert isle with Gilligan the Skipper
                                and wife...
                            </div>
                            <a href="blog-details.html" class="detail">More Details <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

                <!--News Block-->
                <div class="news-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image">
                            <a href="blog-details.html"><img src="{% static 'images/resource/news-3.jpg' %}"
                                                             alt=""/></a>
                        </div>
                        <div class="lower-content">
                            <div class="author">By William | Jan 24, 2017</div>
                            <h3><a href="blog-details.html">Share Your Idea with Us</a></h3>
                            <div class="text">The ship set ground on the shore of desert isle with Gilligan the Skipper
                                and wife...
                            </div>
                            <a href="blog-details.html" class="detail">More Details <span
                                    class="arrow flaticon-arrow-pointing-to-right"></span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--End News Section-->

    <!--
    <section class="clients-section theme-bg sp-one">
        <div class="auto-container">
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a>
                    </figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a>
                    </figure>
                </li>
            </ul>
        </div>
    </section>-->
    <!--End Clients Section-->
{% endblock %}
