{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container pt-30" style="padding-top: 30px;margin-top: 10px">

        <div id="acordion">
            <div class="accordion plus-icon shadow mb-30" id="accordion_2020">
                <div class="acd-group">
                    <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">

                            Los 100 españoles más creativos en el mundo de los negocios<br/>
                            (en Forbes)
                        </div>
                    </a>
                    <div id="2" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                             title="Enrique Riquelme">
                                        <div class="media-body">
                                            <p>
                                                Empresario y emprendedor alicantino, Enrique Riquelme (Cox, 1989)
                                                pertenece
                                                a la
                                                tercera
                                                generación de una familia con dilatada experiencia empresarial. En 2009
                                                se
                                                instala
                                                en
                                                Panamá, donde crea Grupo El Sol, centrado en minería, cemento,
                                                infraestructuras
                                                y
                                                energía y se convirtió en el mayor proveedor de arena para las obras de
                                                ampliación
                                                del
                                                Canal de Panamá. En 2014 funda Cox Energy, compañía del sector de
                                                energías
                                                renovables,
                                                solar fotovoltaica, presente en Chile, México, Panamá, Colombia, España
                                                y
                                                Portugal y
                                                continúa su expansión internacional (próximamente se posicionará en
                                                Italia,
                                                El
                                                Salvador
                                                y Guatemala) para reforzar su posición como uno de los referentes del
                                                sector.
                                            </p>
                                                                                <a href="{% url 'frontend:noticia' no=1 %}"  class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acd-group">
                    <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">

                            Cox Energy América planea expandirse en América Latina<br/>
                            (en Lexlatin)
                        </div>
                    </a>
                    <div id="2" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-3.png' %}" alt="Blog image"
                                             title="Coxenergy">
                                        <div class="media-body">

                                            <p>
                                                Cox Energy America, filial en Mexico de la compañia española Cox Energy
                                                Solar (CES),
                                                especializada en proyectos de energia solar, obtuvo un financiamiento
                                                por
                                                34,8
                                                millones de dolares (765,8 millones de pesos mexicanos
                                                al 29 de julio). La operación se desglosa de la siguiente forma:</p>
                                            <p>
                                            <ul class="circle-green">
                                                <li>17.9 millones de dólares (393,6 millones de pesos) en su Oferta
                                                    Pública
                                                    Inicial
                                                    (OPI), realizada el 8 de julio en
                                                    la Bolsa Institucional de Valores (BIVA) de México.
                                                </li>
                                                <li>
                                                    16,9 millones de dólares (372,2 millones de pesos) en una ronda de
                                                    levantamiento
                                                    de capital con inversionistas de menudeo e
                                                    institucionales.
                                                </li>
                                            </ul>
                                            <p>
                                                Creel, Garcia-Cuéllar, Aiza y Enríquez, con un equipo de tributos,
                                                energía y
                                                mercados de capitales, trabajó de la mano de Cox Energy America en la
                                                revisión
                                                y análisis de la estructura de la oferta pública, asi como en la
                                                redacción y
                                                negociación de los términos de los
                                                documentos de emisión. Además, representó a la emisora ante la Comisión
                                                Nacional
                                                Bancaria y de Valores (CNBV) y BIVA, entre otras gestiones.</p>
                                                                                <a href="{% url 'frontend:noticia' no=2 %}" class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acd-group">
                    <a data-target="#3" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">

                            Cox Energy ve valor en la energía solar de México<br/>
                            (en Forbes)
                        </div>
                    </a>
                    <div id="3" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-2.png' %}" alt="Blog image"
                                             title="Blog image">
                                        <div class="media-body">

                                            <p>
                                                La subsidiaria mexicana de la compañía española Cox Energy solicitó
                                                inscribir sus
                                                acciones ante el registro de la Comisión Nacional Bancaria y de Valores
                                                (CNBV) y
                                                listarse en la Bolsa Institucional de Valores (BIVA) de México por un
                                                monto
                                                de hasta
                                                1,000 millones de pesos (40 millones de dólares, aproximadamente).</p>

                                            <p>El directivo comentó que México no solo es el país más importante en
                                                cuanto a
                                                volumen
                                                de proyectos renovables, sino el que posee la mayor expectativa de
                                                crecimiento, con
                                                más necesidad de energía y mayor irradiación solar.</p>

                                            <p>“Vemos que México tiene el talento, volumen, la banca, tiene todos los
                                                componentes
                                                para ser un hub”, agregó.</p>
                                                                                <a href="{% url 'frontend:noticia' no=3 %}"  class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block otherscripts %}
    <script>
        $('.accordion').each(function (i, elem) {
            var $elem = $(this),
                $acpanel = $elem.find(".acd-group > .acd-des"),
                $acsnav = $elem.find(".acd-group > .acd-heading");
            $acpanel.hide().first().slideDown("easeOutExpo");
            $acsnav.first().parent().addClass("acd-active");
            $acsnav.on('click', function () {
                if (!$(this).parent().hasClass("acd-active")) {
                    var $this = $(this).next(".acd-des");
                    $acsnav.parent().removeClass("acd-active");
                    $(this).parent().addClass("acd-active");
                    $acpanel.not($this).slideUp("easeInExpo");
                    $(this).next().slideDown("easeOutExpo");
                } else {
                    $(this).parent().removeClass("acd-active");
                    $(this).next().slideUp("easeInExpo");
                }
                return false;
            });
        });
    </script>
{% endblock %}