{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="container pt-30" style="padding-top: 30px;margin-top: 10px">

      <div id="acordion">
          <div class="accordion plus-icon shadow mb-30" id="accordion_2020">

            <div class="acd-group">
                <a data-target="#11" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        Fibra Nova (FNOVA) anuncia el inicio de operaciones de Grupo Bafar en la Piedad Michoacán;
                        la adquisición de los inmuebles de Visteon Reynosa y Teleperfomance Chihuahua y
                        la modificación del contrato con CEMEX en Querétaro
                    </div>
                </a>
                <div id="11" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                      <p>1) La planta de producción de Grupo Bafar en la Piedad Michoacán con
                                         una superficie total de 10,000 metros cuadrados inició operaciones.
                                         El inmueble propiedad de FNOVA fue hecho a la medida para Grupo Bafar
                                          con una inversión superior a los $636 millones de pesos mediante un
                                          contrato a 10 años.
                                    </p>
                                    <br>

                                    <p></p>
                                                                            <a href="{% url 'frontend:noticia' no=11 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="acd-group">
                <a data-target="#10" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        81 propiedades en 19 ciudades de México forman Fibra Nova Fideicomiso
                        Inmobiliario que se coloca en la Bolsa Mexicana de Valores (BMV)
                    </div>
                </a>
                <div id="10" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                      <p>A partir de Agosto de 2017 FIBRA NOVA inicia su participación en
                                        la Bolsa Mexicana de Valores incluyendo 81 propiedades con un área
                                        rentable de 217,562 metros cuadrados en 19 ciudades de México.
                                    </p>
                                    <br>
                                                                            <a href="{% url 'frontend:noticia' no=10 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="acd-group">
                <a data-target="#9" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        Se inicia la construcción de la nueva planta de Visteon Corporation en Reynosa, Tamaulipas
                    </div>
                </a>
                <div id="9" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                      <p>Visteon Corporation, compañía lider en diseño, ingeniería y manufactura
                                         de componentes electrónicos para vehículos con sede en   Van Buren Township,
                                          Michigan firmó un contrato de arrendamiento para un edificio de manufactura
                                           hecho a la medida de 115,000 pies cuadrados en la Cd. de Reynosa, Tamaulipas.
                                    </p>
                                    <br>
                                                                            <a href="{% url 'frontend:noticia' no=9 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="acd-group">
                <a data-target="#8" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        Weiis-Aug Cp. Inc. inicia operaciones en México
                    </div>
                </a>
                <div id="8" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                      <p>Weiss-Aug Co. Inc., compañía Norteamericana con su corporativo en
                                        East Hanover, NJ inició operaciones en un edificio hecho a la medida
                                        con una superficie de 2,638 metros cuadrados en el Parque Industrial
                                        Aeropuerto en Apodaca, Nuevo León. Este edificio será la primera
                                        operación de manufactura fuera de los Estados Unidos para Weiss-Aug Co.
                                    </p>
                                    <br>
                                                                            <a href="{% url 'frontend:noticia' no=8 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="acd-group">
                <a data-target="#7" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        Apertura de oficina de CEMEX en Querétaro
                    </div>
                </a>
                <div id="7" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                          <p>CEMEX, compañía global de materiales para la construcción con presencia
                                             en más de 50 países, con ventas anuales de US$14.3 billones y más de
                                             43,000 empleados inició operaciones en un espacio de oficinas de 1,000
                                             metros cuadrados en la Cd. De Querétaro propiedad de Fibra Nova.
                                        </p>
                                        <br>
                                                                            <a href="{% url 'frontend:noticia' no=7 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="acd-group">
                <a data-target="#6" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                    <div class="d-flex align-items-start">

                        Visteon Chihuahua celebra la inauguración de su planta
                    </div>
                </a>
                <div id="6" class="acd-des" style="display: none;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                         src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                         title="Enrique Riquelme">
                                    <div class="media-body">

                                          <p>Sachin Lawande, Presidente y CEO de Visteon; Sunil Bilolikar,
                                            Vicepresidente de Grupo Visteon y Operaciones Operations;  Raul Sigala,
                                            Director de Operaciones de America;  el Director General y CEO de Bafar,
                                            Eugenio Baeza y el Gobernador electo del Estado de Chihuahua, Javier Corral
                                            junto a otras autoridades e invitados celebraron la inauguración de la planta
                                            Visteon con un área de construcción de 25,000 metros cuadrados ubicada en el
                                            Parque Tecnológico en el sur de la Ciudad.
                                        </p>
                                        <br>
                                                                            <a href="{% url 'frontend:noticia' no=6 %}"  class="card-link">Leer más</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="acd-group">
                  <a data-target="#5" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                      <div class="d-flex align-items-start">

                          Unitec, subsidiaria de Laureate inicia operaciones en Gudalajara
                      </div>
                  </a>
                  <div id="5" class="acd-des" style="display: none;">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="media">
                                      <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                           src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                           title="Enrique Riquelme">
                                      <div class="media-body">

                                            <p>Dieter Holtz, Presidente de Laureate Mexico; Manuel Campuzano,
                                              Rector de UNITEC; Guillermo Medrano, Director General de Fibra NOVA ;estudiantes
                                               y sus familias así como autoridades gubernamentales se reunieron para celebrar
                                                la inauguración de la Subsidiaria Mexicana de Laurete- UNITEC  campus Guadalajara.
                                                El campus universitario, se encuentra localizado en el área de Tlaquepaque
                                                 y tiene un área de construcción de 9,500 metros cuadrados. UNITEC albergará
                                                 en sus instalaciones a más de 1,200 estudiantes en 15 programas diferentes
                                                 incluyendo nutrición, enfermería, terapia física, entre otras.
                                          </p>
                                          <br>
                                                                              <a href="{% url 'frontend:noticia' no=5 %}"  class="card-link">Leer más</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="acd-group">
                  <a data-target="#4" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                      <div class="d-flex align-items-start">

                          Erae realiza operaciones de manufactura en Apodaca
                      </div>
                  </a>
                  <div id="4" class="acd-des" style="display: none;">
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="media">
                                      <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                           src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                           title="Enrique Riquelme">
                                      <div class="media-body">
                                          <p>
                                            Erae, empresa Coreana dedicada a la manufactura de componentes para
                                             la industria automotriz realiza operaciones en Apodaca, Nuevo León.</p>
                                            <br>

                                            <p>El edificio tiene una superficie de construcción de 4,666 metros
                                               cuadrados y forma parte del portafolio de Fibra NOVA.
                                          </p>
                                          <br>
                                                                              <a href="{% url 'frontend:noticia' no=4 %}"  class="card-link">Leer más</a>
                                      </div>
                                  </div>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>

                <div class="acd-group">
                    <a data-target="#3" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">

                            Truper inicia operaciones de distribución en Guadalajara
                        </div>
                    </a>
                    <div id="3" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-1b.jpg' %}" alt="Blog image"
                                             title="Enrique Riquelme">
                                        <div class="media-body">
                                            <p>
                                              Truper es una compañía Mexicana, de las principales empresas de manufactura
                                              de herramientas con más de 9,000 productos distribuidos en más de 60 países
                                              en el mundo. </p>
                                              <br>

                                              <p>Truper inicia operaciones de distribución en Guadalajara en un edificio
                                              de 7,000 metros cuadrados propiedad de Fibra NOVA.
                                            </p>
                                            <br>
                                                                                <a href="{% url 'frontend:noticia' no=3 %}"  class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acd-group">
                    <a data-target="#2" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">

                            Unitec Campus Querétaro Inicia Operaciones
                        </div>
                    </a>
                    <div id="2" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-3.png' %}" alt="Blog image"
                                             title="Coxenergy">
                                        <div class="media-body">

                                            <p>
                                              Laurate Internacional es una compañía privada con base en Baltimore,
                                              Estados Unidos con más de 80 campus universitarios, presenciales y en
                                              línea en más de 28 países ; brindando sus programas a más de un millón de estudiantes.</p>
                                              <br>

                                              <p>La subsidiaria de Laurate, UNITEC, inició operaciones en la Ciudad
                                                 de Querétaro en un edificio de 7,500 metros cuadrados, el tercer
                                                 proyecto de Laurate que forma parte de Fibra NOVA después del Campus
                                                 Chihuahua y Guadalajara.</p>
                                                 <br>
                                                                                <a href="{% url 'frontend:noticia' no=2 %}" class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="acd-group">
                    <a data-target="#1" href="#" class="acd-heading scroll-to-target" style="text-transform: none">
                        <div class="d-flex align-items-start">
                            Hakakai México inicia operaciones en Monterrey
                        </div>
                    </a>
                    <div id="1" class="acd-des" style="display: none;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="media">
                                        <img class="d-none d-md-block col-md-3 card-img-top align-self-center mr-3"
                                             src="{% static 'images/index/img-2.png' %}" alt="Blog image"
                                             title="Blog image">
                                        <div class="media-body">

                                            <p>
                                              Hakkai, compañía japonesa, realizó una ceremonia de apertura de su
                                              primera planta de manufactura en México, ubicada en el Parque Aeropuerto en Apodaca, Nuevo León.</p>
                                              <br>
                                            <p>Hakkai produce sensores y engranes para la industria automotriz, generando más de 300 empleos. Akihiko Seki,
                                              presidente de Hakkai México, expresó que seleccionaron el Estado de Nuevo León por su ubicación geográfica
                                              y su mano de obra calificada.</p>
                                              <br>

                                                                                <a href="{% url 'frontend:noticia' no=1 %}"  class="card-link">Leer más</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
{% endblock %}
{% block otherscripts %}
    <script>
        $('.accordion').each(function (i, elem) {
            var $elem = $(this),
                $acpanel = $elem.find(".acd-group > .acd-des"),
                $acsnav = $elem.find(".acd-group > .acd-heading");
            $acpanel.hide().first().slideDown("easeOutExpo");
            $acsnav.first().parent().addClass("acd-active");
            $acsnav.on('click', function () {
                if (!$(this).parent().hasClass("acd-active")) {
                    var $this = $(this).next(".acd-des");
                    $acsnav.parent().removeClass("acd-active");
                    $(this).parent().addClass("acd-active");
                    $acpanel.not($this).slideUp("easeInExpo");
                    $(this).next().slideDown("easeOutExpo");
                } else {
                    $(this).parent().removeClass("acd-active");
                    $(this).next().slideUp("easeInExpo");
                }
                return false;
            });
        });
    </script>
{% endblock %}
