{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="work-section sp-one">
        <div class="auto-container">

            <div class="row clearfix">

                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/1.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/2.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/3.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/4.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/5.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>


                <!--Gallery Block-->
                <div class="gallery-item col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <figure class="image imghvr-strip-vert-bottom-right">
                            <img src="{% static 'images/gallery/6.jpg' %}" alt=""/>
                            <figcaption>
                                <div class="overlay-box">
                                    <div class="content">
                                        <a href="#"><span class="icon fa fa-link"></span></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="lower-content">
                            <a href="#"><h3>Project Title</h3></a>
                            <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}