{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row align-items-center pitch1">
              <div class="sec-title sec-title wow fadeInUp" style="margin-bottom: 20px;">
                  <h2>¿Por qué invertir en FIBRAS?</h2>
              </div>
                <div class="col-lg-6 mb-lg-0 wow fadeInLeft text-center text-lg-left shine" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <br><br>
                    <figure class=""><img src="{% static 'images/background/infograma2-.png' %}"></figure>
                    <!--Gráfica de ventajas:
                    Estabilidad y diversificación. Alto potencial de retorno de inversión y la posibilidad de diversificar el portafolio. Las FIBRAS en una cartera de inversiones ofrecen dividendos anuales sólidos y estables, con el agregado de una buena probabilidad de encontrar una revalorización a largo plazo.
                    Facilidad. Las FIBRAS son fáciles de comprar y vender, ya que la mayoría se negocia en bolsas públicas, una característica que mitiga algunos de los inconvenientes tradicionales de los bienes raíces.
                    Conveniencia. Invertir en FIBRAS no genera impuestos, cualquiera puede hacerlo, es un acceso al mercado inmobiliario y cuenta con un precio identificable fácilmente; pueden tener flujos muy predecibles, seguros y no tienen fecha de caducidad.
                  -->
                </div>
                <div class="col-lg-6 pitch1">
                    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <p style="font-size: 17px">Las FIBRAS son inversiones destinados al financiamiento para la adquisición
                           y/o construcción de bienes inmuebles, para obtener ganancias de la renta de dichas propiedades.</p><br>
                        <p class="mb-0" style="font-size: 17px">En general, se especializan en un sector inmobiliario, sin embargo,
                          se conocen por diversificar su portafolio de propiedades en diversos segmentos
                          como el de oficinas, industrial o espacios comerciales.</p><br>
                        <p class="mb-0" style="font-size: 17px">Históricamente las FIBRAS han generado retornos competitivos que,
                          anudados a su captación de ingresos, les permiten generar una plusvalía incremental a largo plazo.</p>
                                          <br><br>
                    </div>
                </div>

                <div class="sec-title sec-title wow fadeInUp" style="margin-bottom: 20px;">
                    <h2>¿Cómo invertir en Fibra Nova?</h2>
                </div>

                <section class="tab-nosotros">
                    <div class="container-fluid container-relative">
                        <div class="row align-items-stretch justify-content-center preguntas-finales d-flex">
                            <div class="col-12 col-lg-6 col-md-10 p-5">
                                <div class="p-5">
                                    <div class="panel-group accordion-event accordion-style-03 margin-4-rem-bottom lg-margin-2-rem-bottom">
                                        <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                                             data-wow-delay="0.4s">
                                            <div class="panel-heading">
                                                <a class="accordion-toggle" href="#ver1">
                                                    <div class="boton-info1">
                                                        <span>Elige una Casa de Bolsa para invertir:</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                                             data-wow-delay="0.6s">
                                            <div class="panel-heading">
                                                <a class="accordion-toggle" href="#ver2">
                                                    <div class="boton-info1">
                                                        <span>Comprar títulos de Fibra Nova:</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                                             data-wow-delay="0.6s">
                                            <div class="panel-heading">
                                                <a class="accordion-toggle" href="#ver3">
                                                    <div class="boton-info1">
                                                        <span>Recibe distribuciones:</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div style="border: 1px solid #1f478d;" class="panel bg-white box-shadow-small border-radius-5px wow animate__fadeInUp"
                                             data-wow-delay="0.6s">
                                            <div class="panel-heading">
                                                <a class="accordion-toggle" href="#ver4">
                                                    <div class="boton-info1">
                                                        <span>Seguir el progreso de tu inversión:</span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 offset-xl-1 col-md-10 wow animate__fadeInRight position-relative"
                                 style="visibility: visible; animation-name: fadeInRight; display: flex; align-items: center; background-image: url({% static 'images/background/ganancias.jpg' %})">
                                <div class="">
                                    <div id="ver1" class="datos">
                                        <p>Para ello, es recomendable investigar
                                          las diferentes opciones en el mercado y comparar comisiones, monto mínimo de apertura y sus diferentes
                                          métodos para la compra-venta de instrumentos de inversión; seleccionando aquella que mejor embone
                                          con tu perfil. Posterior a la elección, deberás abrir una cuenta.</p>
                                    </div>
                                    <div id="ver2" class="datos hidden">
                                        <p>
                                          Una vez creada la cuenta en la
                                             Casa de Bolsa de elección, el siguiente paso es depositar el dinero en tu cuenta
                                              para iniciar los procesos de compra-venta de títulos. Existen dos maneras de
                                              realizar la compra: i) Mediante una orden de compra con un agente de tu Casa
                                              de Bolsa o, ii) Directamente desde tu cuenta en línea (cabe mencionar, que no
                                               todas las casas de bolsa ofrecen dicha opción).
                                        </p>
                                    </div>
                                    <div id="ver3" class="datos hidden">
                                        <p>
                                          De acuerdo con la
                                             Ley del Impuesto sobre la renta, una FIBRA debe distribuir, cuando menos de
                                             forma anual, al menos el 95% de su resultado fiscal. De esta forma, ser
                                             propietario de títulos de Fibra Nova te permite obtener beneficios efectivos
                                             provenientes de distribuciones, las cuales son realizadas de forma recurrente
                                             y depositadas directamente a tu cuenta de inversión.
                                        </p>
                                    </div>
                                    <div id="ver4" class="datos hidden">
                                        <p>
                                          Dedica tiempo
                                            a informarte sobre los resultados trimestrales del Fideicomiso así como otra información relevante.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--<div class="col-lg-12 pitch1">
                    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <p style="font-size: 17px">Elige una Casa de Bolsa para invertir: Para ello, es recomendable investigar
                          las diferentes opciones en el mercado y comparar comisiones, monto mínimo de apertura y sus diferentes
                          métodos para la compra-venta de instrumentos de inversión; seleccionando aquella que mejor embone
                          con tu perfil. Posterior a la elección, deberás abrir una cuenta.</p>
                        <br><p class="mb-0" style="font-size: 17px">Comprar títulos de Fibra Nova: Una vez creada la cuenta en la
                           Casa de Bolsa de elección, el siguiente paso es depositar el dinero en tu cuenta
                            para iniciar los procesos de compra-venta de títulos. Existen dos maneras de
                            realizar la compra: i) Mediante una orden de compra con un agente de tu Casa
                            de Bolsa o, ii) Directamente desde tu cuenta en línea (cabe mencionar, que no
                             todas las casas de bolsa ofrecen dicha opción).
                        </p>
                        <br><p class="mb-0" style="font-size: 17px">Recibe distribuciones: De acuerdo con la
                           Ley del Impuesto sobre la renta, una FIBRA debe distribuir, cuando menos de
                           forma anual, al menos el 95% de su resultado fiscal. De esta forma, ser
                           propietario de títulos de Fibra Nova te permite obtener beneficios efectivos
                           provenientes de distribuciones, las cuales son realizadas de forma recurrente
                           y depositadas directamente a tu cuenta de inversión.</p>
                        <br><p class="mb-0" style="font-size: 17px">Seguir el progreso de tu inversión: Dedica tiempo
                          a informarte sobre los resultados trimestrales del Fideicomiso así como otra información relevante.</p>
                    </div>
                </div>-->

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}

{% block otherscripts %}
    <script>
        $('a.accordion-toggle').click(function (e) {
            e.preventDefault();
            var id = $(this).attr('href');
            $('.datos').addClass('hidden');
            $(id).removeClass('hidden');
        })
    </script>
{% endblock %}
