{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="faq-column col-md-12">

                    <div class="accordion-box">
                      <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                          <div class="acc-btn active">
                              <p class="title">¿Qué es una Fibra?</p>
                              <div class="toggle-icon">
                                  <span class="plus fa fa-angle-right"></span><span
                                      class="minus fa fa-angle-down"></span>
                              </div>
                          </div>
                          <div class="acc-content collapsed">
                              <p>
                                  Una FIBRA es un instrumento de inversión que ofrece un fácil acceso al mercado
                                  inmobiliario para los inversionistas que no cuentan con el capital o la liquidez
                                  suficiente para adquirir o desarrollar bienes inmuebles con la finalidad de obtener
                                  ingresos por el arrendamiento de dichos bienes. A cambio de su capital, los tenedores
                                  reciben Certificados Bursátiles Fiduciarios Inmobiliarios (CBFI´s) los cuales ofrecen rendimientos periódicos
                                  como resultado del cobro de rentas, así como una plusvalía o ganancias de capital
                                  derivados de la variación del precio del certificado.
                              </p>
                          </div>
                      </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Qué es Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <span class="plus fa fa-angle-right"></span><span
                                        class="minus fa fa-angle-down"></span>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>
                                    FIBRA NOVA es un fidecomiso de inversión de Bienes Raíces que cotiza en la BMV,
                                    contando con más de 372 mil metros cuadrados arrendados en diversas ciudades e
                                    industrias de México, el cual se especializa en la adquisición, administración y el desarrollo
                                    de inmuebles para posteriormente destinarlos a arrendamiento.
                                    Ofreciendo un modelo de negocio en constante crecimiento y un portafolio enfocado en
                                    construir valor.
                                </p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Quiénes son sus principales arrendatarios?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Dentro de su lista de clientes, se encuentra: Grupo Bafar, UVM, RR Donnelley, Lear, Legget & Platt,
                                    FireFox, Veritiv, Truper, CEMEX, UNITEC, BRP, Teleperformance México
                                    (Merkafon), entre otros.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Porque invertir en Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova cuenta con un sólido modelo de negocios basado en una administración
                                  internalizada y un portafolio de reciente creación ocupado al 100% de su capacidad
                                  por clientes de clase “A”, los cuales cuentan con contratos a largo plazo. Asimismo,
                                  el capital está respaldado por la alta capacidad de su Gobierno Corporativo, cuyos intereses
                                se encuentran totalmente alineados a los de los inversionistas.</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Cuál es el objetivo principal de Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova tiene como objetivo principal proporcionar retornos atractivos con riesgo ajustado
                                  a sus tenedores, mediante distribuciones estables y la apreciación de sus activos inmobiliarios. </p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Qué son los Certificados Bursátiles Fiduciarios Inmobiliarios (CBFIs)?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Los Certificados Bursátiles Fiduciarios Inmobiliarios (CBFIs) son certificados de participación de
                                  los activos que componen el portafolio de inmuebles de una FIBRA, cuyo rendimiento está vinculado a
                                  los ingresos de operación de dichas propiedades o, en su caso, al producto de su venta. Estos títulos
                                  son una mezcla de inversión en renta fija y renta variable, ya que ofrecen a sus tenedores
                                  la distribución en efectivo de al menos el 95% del resultado fiscal (cuando menos una vez al año), en
                                  forma de dividendo, y les permite obtener un rendimiento adicional proveniente de
                                  la apreciación de los certificados. Los CBFIs pueden comprarse y venderse con la misma facilidad que las
                                  acciones.</p>
                            </div>
                        </div>
                        <!--Start single accordion box-->
                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Quiénes son los principales directivos de Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Guillermo de Jesús Medrano Artalejo - Director General</p>
                                <p>Lorena Martínez Molina - Director de Estructuración y Operaciones</p>
                                <p>Gilberto Delgado López - Director Inmobiliario</p>
                                <p>Luis Carlos Piñón Reza - Director de Finanzas y Administración</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿En que sectores inmobiliarios esta enfocado Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Fibra Nova está enfocado a invertir inicialmente en el sector consumo, de oficinas,
                                  industrial, logística y educativo. No obstante, en un futuro podrá enfocarse en otros
                                  sectores inmobiliarios conforme el Administrador y Asesor considere conveniente en
                                  beneficio de los tenedores.</p>
                            </div>
                        </div>

                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Quiénes dan cobertura a los CBFIs de Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Los CBFIs de Fibra Nova actualmente cuentan con cobertura por parte de BBVA, GBM y Apalache Análisis.</p>
                            </div>
                        </div>


                        <div class="accordion animated out" data-delay="0" data-animation="fadeInUp">
                            <div class="acc-btn">
                                <p class="title">¿Dónde cotizan los Certificados Bursátiles Fiduciarios Inmobiliarios (CBFIs) de Fibra Nova?</p>
                                <div class="toggle-icon">
                                    <i class="plus fa fa-angle-right"></i><i class="minus fa fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="acc-content">
                                <p>Los CBFIs de Fibra Nova cotizan en la Bolsa Mexicana de Valores (BMV),
                                  desde 2017, bajo la clave de pizarra "FNOVA17".</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
