{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div id="fundamentales">
                    <select class="form-control drop-corto" id="select_grafico">
                        <option value="g1" selected>Situación Financiera</option>
                        <option value="g2">Estado de Resultados</option>
                        <option value="g3">Indicadores Operativos</option>
                        <option value="g4">Flujo de Efectivo</option>
                    </select>
                    <br>

                    <div id="g1" class="hidden" data-divG="chart_situacion">
                        <h3>Situación Financiera (Ps. miles)</h3>
                        <div class="contentTable">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">1T21</th>
                                    <th class="col-md-1">4T20</th>
                                    <th class="col-md-1">3T20</th>
                                    <th class="col-md-1">2T20</th>
                                    <th class="col-md-1">1T20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Activo Total</td>
                                    <td>7,575,229</td>
                                    <td>7,087,404</td>
                                    <td>6,950,375</td>
                                    <td>6,915,077</td>
                                    <td>6,992,124</td>
                                <tr>
                                    <td>Pasivo Total</td>
                                    <td>2,368,112</td>
                                    <td>1,969,495</td>
                                    <td>2,073,355</td>
                                    <td>2,088,141</td>
                                    <td>2,278,843</td>
                                </tr>
                                <tr>
                                    <td>Capital Contable</td>
                                    <td>5,207,117</td>
                                    <td>5,117,909</td>
                                    <td>4,877,020</td>
                                    <td>4,826,936</td>
                                    <td>4,713,281</td>
                                </tr>
                                <tr>
                                    <td>Efectivo y Equivalentes de efectivo</td>
                                    <td>30,549</td>
                                    <td>43,854</td>
                                    <td>9,172</td>
                                    <td>3,859</td>
                                    <td>13,030</td>
                                </tr>
                                <tr>
                                    <td>Aportaciones de los Fidecomitentes</td>
                                    <td>3,199,264</td>
                                    <td>3,311,014</td>
                                    <td>3,424,313</td>
                                    <td>3,537,883</td>
                                    <td>3,644,572</td>
                                </tr>
                                <tr>
                                    <td>Propiedades de Inversión</td>
                                    <td>7,071,246</td>
                                    <td>6,900,837</td>
                                    <td>6,720,068</td>
                                    <td>6,727,966</td>
                                    <td>6,666,476</td>
                                </tr>
                                <tr>
                                    <td>CBFI's en Circulación</td>
                                    <td>241,715,825</td>
                                    <td>241,715,825</td>
                                    <td>241,893,855</td>
                                    <td>241,873,024</td>
                                    <td>241,853,455</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="chart_situacion" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g2" class="hidden" data-divG="chart_resultados">
                        <h3>Estado de Resultados (Ps. miles)</h3>
                        <div class="contentTable">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">1T21</th>
                                    <th class="col-md-1">4T20</th>
                                    <th class="col-md-1">3T20</th>
                                    <th class="col-md-1">2T20</th>
                                    <th class="col-md-1">1T20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Ingresos Totales</td>
                                    <td>144,088</td>
                                    <td>142,672</td>
                                    <td>143,831</td>
                                    <td>144,439</td>
                                    <td>130,233</td>
                                </tr>
                                <tr>
                                    <td>Ingresos por Arrendamiento de Inmuebles</td>
                                    <td>143,034</td>
                                    <td>141,641</td>
                                    <td>142,309</td>
                                    <td>143,619</td>
                                    <td>129,282</td>
                                </tr>
                                <tr>
                                    <td>Gastos de Operación</td>
                                    <td>4,210</td>
                                    <td>3,777</td>
                                    <td>4,267</td>
                                    <td>4,136</td>
                                    <td>3,776</td>
                                </tr>
                                <tr>
                                    <td>Ingreso Operativo Neto (ION)</td>
                                    <td>139,878</td>
                                    <td>138,895</td>
                                    <td>139,564</td>
                                    <td>140,303</td>
                                    <td>126,457</td>
                                </tr>
                                <tr>
                                    <td>Margen ION (%)</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                    <td>97%</td>
                                </tr>
                                <tr>
                                    <td>Utilidad de Operación</td>
                                    <td>131,664</td>
                                    <td>129,113</td>
                                    <td>130,988</td>
                                    <td>131,179</td>
                                    <td>117,326</td>
                                </tr>
                                <tr>
                                    <td>EBITDA</td>
                                    <td>131,690</td>
                                    <td>129,198</td>
                                    <td>130,992</td>
                                    <td>131,184</td>
                                    <td>117,331</td>
                                </tr>
                                <tr>
                                    <td>Margen EBITDA (%)</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                    <td>91%</td>
                                    <td>90%</td>
                                </tr>
                                <tr>
                                    <td>Resultado Integral de Financiamiento</td>
                                    <td>(80,705)</td>
                                    <td>180,680</td>
                                    <td>(53,640)</td>
                                    <td>159,317</td>
                                    <td>(388,267)</td>
                                </tr>
                                <tr>
                                    <td>Revaluacion de Propiedades de Inversión</td>
                                    <td>149,999</td>
                                    <td>47,474</td>
                                    <td>85,900</td>
                                    <td>(70,946)</td>
                                    <td>204,700</td>
                                </tr>
                                <tr>
                                    <td>Utilidad Neta</td>
                                    <td>200,958</td>
                                    <td>357,311</td>
                                    <td>163,248</td>
                                    <td>219,962</td>
                                    <td>(66,241)</td>
                                </tr>
                                <tr>
                                    <td>Distribución por CBFI (Ps.)</td>
                                    <td>0.4623</td>
                                    <td>0.4623</td>
                                    <td>0.4676</td>
                                    <td>0.4695</td>
                                    <td>0.4411</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="chart_resultados" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g3" class="hidden" data-divG="chart_operativos">
                        <h3>Indicadores Operativos</h3>
                        <div class="contentTable">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">1T21</th>
                                    <th class="col-md-1">4T20</th>
                                    <th class="col-md-1">3T20</th>
                                    <th class="col-md-1">2T20</th>
                                    <th class="col-md-1">1T20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>ABR (m<sup>2</sup>)</td>
                                    <td>372,793</td>
                                    <td>350,210</td>
                                    <td>342,737</td>
                                    <td>342,737</td>
                                    <td>342,737 </td>
                                </tr>
                                <tr>
                                    <td>Tasa de Ocupación</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Número de Propiedades</td>
                                    <td>100</td>
                                    <td>99</td>
                                    <td>97</td>
                                    <td>97</td>
                                    <td>97</td>
                                </tr>
                                <tr>
                                    <td>Vigencia Promedio de los Contratos (años)</td>
                                    <td>6.2</td>
                                    <td>6.2</td>
                                    <td>6.4</td>
                                    <td>6.8</td>
                                    <td>7.0</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div id="chart_operativos" class="char-fundamentales chartdiv"></div>
                    </div>

                    <div id="g4" class="hidden" data-divG="chart_efectivo">
                        <h3>Flujo de Efectivo (Ps. miles)</h3>
                        <div class="contentTable">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-pink">
                                <tr>
                                    <th class="col-md-4"></th>
                                    <th class="col-md-1">1T21</th>
                                    <th class="col-md-1">4T20</th>
                                    <th class="col-md-1">3T20</th>
                                    <th class="col-md-1">2T20</th>
                                    <th class="col-md-1">1T20</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Actividades de Operación</td>
                                    <td>192,597</td>
                                    <td>127,371</td>
                                    <td>104,206</td>
                                    <td>176,338</td>
                                    <td>101,264</td>
                                </tr>
                                <tr>
                                    <td>Actividades de Inversión</td>
                                    <td>(295,493)</td>
                                    <td>(64,574)</td>
                                    <td>47,259</td>
                                    <td>(21,303)</td>
                                    <td>(546,137)</td>
                                </tr>
                                <tr>
                                    <td>Actividades de Financiamiento</td>
                                    <td>121,929</td>
                                    <td>(28,115)</td>
                                    <td>(146,152)</td>
                                    <td>(164,206)</td>
                                    <td>452,296</td>
                                </tr>
                                <tr>
                                    <td>Efectivo generado en el periodo</td>
                                    <td>19,033</td>
                                    <td>34,682</td>
                                    <td>5,313</td>
                                    <td>(9,171)</td>
                                    <td>7,423</td>
                                </tr>
                                </tbody>
                            </table>
                            <small>* Incluyendo los efectos del tipo de cambio
                            </small>
                        </div>

                        <div id="chart_efectivo" class="char-fundamentales chartdiv"></div>
                    </div>

                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}

{% block otherscripts %}
    <script src="{% static 'js/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'js/amCharts/serial.js' %}"></script>
    <script src="{% static 'js/amCharts/contenido/fundamentales.js' %}"></script>
{% endblock %}
