{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
              <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">Fibra Nova specializes in Build-to-Suit (BTS) properties, this is, offering a building constructed by the developer according to the design, location and physical features required by the user who will lease the property. Since Fibra Nova is not focused on the construction business, the building process is carried out through construction tenders and the user has access to the winning bid. Such project takes approximately 6 months from the signing of the lease contract until substantial progress is achieved. Upon completion of the building, the user will cover operational costs, maintenance costs, among others.
                  <br>
                  <!-- INFOGRAMA 1 -->
                  <div class="video-image-box mar-bottom-40">
                      <figure class="image">
                          <img src="{% static 'images/infograma1-en.png' %}" alt="" class="wow fadeInLeftBig">
                      </figure>
                  </div>
                  <br>

                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">Fibra Nova's aim is to acquire, lease, operate and develop a portfolio of real estate assets targeting fast-growing economic sectors, seeking to deliver attractive long-term risk-adjusted returns to its holders through stable distributions and the generation of capital gains.</p>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">In the coming years, Fibra Nova expects to grow its asset portfolio in a selective and diversified manner, with the objective of strengthening its position as a prominent player in the Mexican real estate market, bearing in mind, in particular, the following factors:</p>

                  <br>
                  <!-- INFOGRAMA 2 -->
                  <div class="video-image-box mar-bottom-40">
                      <figure class="image">
                          <img src="{% static 'images/infograma2-en.png' %}" alt="" class="wow fadeInRightBig">
                      </figure>
                  </div>
                  <br>

                <!--<p>Todo lo anterior acompañado de un sólido gobierno corporativo con una plataforma
                  de administración internalizada que permite maximizar la rentabilidad y alinear su estructura a los intereses de los inversionistas.</p>-->

                <!--<div class="col-md-12 text-center mb-20">
                    <img src="{% static 'images/contenido/infograma1.png' %}" alt="">
                </div>-->

                <!-- <p>Solido modelo de negocios basado en administración internacionalizada con una firme
                    estructura financiera impulsado por un mercado de bienes y raíces en crecimiento con alto
                    potencial de oportunidades. <br>
                    Portafolio en crecimiento respaldado con la experiencia de un selecto grupo de operadores
                    y desarrolladores de inmuebles. <br>
                    Gobierno Corporativo por encima de los estándares del sector con una amplia experiencia y
                    un desarrollo de relaciones con otras empresas sobresaliente.<br>
                    Alto nivel de certidumbre gracias al nivel de ocupación por clientes de clase “A” con
                    contratos a largo plazo (8.3 años en promedio).</p>-->

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
