{% extends 'layouts/base.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/timeline/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/historia.css' %}?v=1.0.1">
{% endblock %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-12" id="historia">
                    <section class="slice  no-padding">
                        <div class="infoGeneral">
                            <div class="w-section inverse">
                                <div class="">

                                    <ul class="timeline">
                                      <li class="year">2021</li>
                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova becomes the first Mexican REIT to invest in the country’s agri-food sector by acquiring a 1,654-hectare export-oriented agro-industrial property. The transaction was settled with CBFIs.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-1.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova announces that, as authorized by its Holders' Meeting held on April 21, 2021, a capital increase of $1,830 million pesos will be carried out.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-2.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova signs a purchase commitment for the acquisition of a ft<sup>2</sup> industrial building leased to Electrolux, located in Ciudad Juarez.
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-3.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova signs a 10-year lease agreement with Lear Corporation for a building in Ciudad Juarez. The tenant is a New York Stock Exchange-listed company headquartered in Southfield, Michigan and it is one of the largest manufacturers in the automotive industry operating in 39 countries.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-4.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <div class="clearfix"></div>
                                      <br><br>

                                      <li class="year">2020</li>
                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>At the end of 2020, Fibra Nova announced a new 5-year lease agreement for a 60,000 ft<sup>2</sup> property with a multinational automotive company specialized in manufacturing chassis, suspension and brake components for the global market.
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-1.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova signed for a new 19,000 ft<sup>2</sup> build-to-suit corporate office building located in Chihuahua City. The tenant is an automotive company listed on the New York Stock Exchange.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-2.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova signed a new 5-year lease for a 165,000 ft<sup>2</sup> building in the Ciudad Juarez. The tenant is a U.S. public company listed on the New York Stock Exchange.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-3.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <div class="clearfix"></div>
                                      <br><br>

                                        <li class="year">2019</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova announces a lease agreement with a privately held U.S. electronics company operating in the Americas for a 127,000 ft<sup>2</sup> manufacturing building in Reynosa, Tamaulipas. The agreement consists of a 7-year NNN lease.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s"">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a 5-year lease agreement for a 131,000 ft<sup>2</sup> <i>build to suit</i> manufacturing facility in Ciudad Juarez. The tenant is a U.S. company listed on the NASDAQ and has a worldwide presence.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a lease agreement for the construction of a new 58,526 ft<sup>2</sup> office complex in the City of Querétaro. The tenant is a public company listed on the NYSE and headquartered in the United States.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-3.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova announces a 3-year agreement for the lease of an 86,223 ft<sup>2</sup> industrial facility in Ciudad Juarez to a public company listed on the TSX Composite Index and NASDAQ in the United States, headquartered in Canada.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-4.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a lease agreement for the third phase expansion of UNITEC Campus Guadalajara. The agreement consists of a 9-year NNN lease, and the total built area will reach 158,000 ft<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-5.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a lease agreement with Visteon Corporation (a leading U.S. manufacturer of components for the automotive industry) for the expansion of its service plant located in the Bafar Technology Park in Chihuahua, Chihuahua. The agreement consists of a 9-year NNN dollar-denominated lease.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-6.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2018</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova adds 5 retail properties to its portfolio under the Carne Mart store format, which are leased to Grupo Bafar.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs new lease agreement with a NYSE-listed automotive components manufacturer for the construction of a 22,500 m<sup>2</sup> building in Queretaro, Queretaro, with an estimated investment of $13.3 million dollars.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-E.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova announces new contract with Legget & Platt Inc. (a NYSE-listed company operating in 18 countries) for the lease of a 257,000 ft<sup>2</sup> building located in Ciudad Juarez, Chihuahua.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-C.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a lease agreement with Alt Technologies for a 62,000 ft<sup>2</sup> <i>build to suit</i> building in Chihuahua, Chihuahua. In addition, the Technical Committee approved investments totaling approximately $80 million dollars in the cities of Monterrey, Queretaro, Chihuahua and Ciudad Juarez.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova signs a lease agreement for the second phase of the UNITEC educational complex in the city of Queretaro. This contract includes 5,577 m<sup>2</sup> plus parking lots and an investment of $81 million dollars.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-firma.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova acquires an industrial building located in Chihuahua, Chihuahua for $2.5 million dollars, with an area of 10,692 m<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-F.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2017</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>The "Planta La Piedad" property, which is part of Fibra Nova's initial portfolio, begins operations. In addition, Fibra Nova acquires the "Teleperformance" (<i>Call Center</i> located in Chihuahua) and "Visteon Reynosa" (industrial warehouse) properties.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Inauguration of UNITEC Campus Queretaro, an educational facility that is part of Fibra Nova's initial portfolio.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova begins operations on August 3, launching its Initial Public Offering on the Mexican Stock Exchange. With these resources, the Trust completed the acquisition of its initial portfolio, comprised of 81 real estate assets with a total GLA of 217,562 m<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-3.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        `
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
