{% extends 'layouts/base.html' %}
{% load static %}
{% block otherstyles %}
    <link rel="stylesheet" href="{% static 'css/timeline/timeline.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline/historia.css' %}?v=1.0.1">
{% endblock %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-md-12" id="historia">
                    <section class="slice  no-padding">
                        <div class="infoGeneral">
                            <div class="w-section inverse">
                                <div class="">

                                    <ul class="timeline">
                                      <li class="year">2021</li>
                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova se convierte en la primera fibra en invertir en propiedades del sector
                                                agroalimentario en México al adquirir una propiedad agroindustrial de 1,654 hectáreas
                                                enfocada al sector exportador. La transacción fue pagada con CBFIs.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-1.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova anuncia que, conforme a lo autorizado por su Asamblea de tenedores celebrada el
                                                21 de abril 2021, se realizará un aumento de capital por Ps.1,830 millones.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-2.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova firma un acuerdo vinculante con promesa de compra para un edificio
                                                industrial de 192,000 ft<sup>2</sup> ubicado en Ciudad Juárez arrendado a la trasnacional Electrolux.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-3.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Se firma un contrato de arrendamiento por 10 años con Lear Corporation por un
                                                edificio en Ciudad Juárez. El arrendatario es una empresa que cotiza en la Bolsa
                                                de Nueva York con sede en Southfield, Michigan; es uno de los mayores
                                                fabricantes de la industria automotriz con presencia en 39 países alrededor del mundo.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2021-4.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <div class="clearfix"></div>
                                      <br><br>

                                      <li class="year">2020</li>
                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>A finales de 2020, Fibra Nova anunció un nuevo contrato de arrendamiento por cinco años
                                                por un inmueble de 60,000 ft<sup>2</sup> con una compañía multinacional del sector
                                                automotriz especializada en la fabricación de chasis, suspensión y frenos para el mercado global.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-1.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  left_side down wow fadeInLeftBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Se firma un nuevo contrato de arrendamiento para un nuevo edificio de oficinas corporativas
                                                de 19,000 ft<sup>2</sup> tipo <i>Build to Suit</i> ubicado en la Ciudad de Chihuahua. El
                                                arrendatario es una empresa del sector automotriz que cotiza en la bolsa de Nueva York.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-2.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <li class="event  right_side wow fadeInRightBig" data-wow-duration="1.5s">
                                          <div class="event-date">
                                              <p>Fibra Nova firmó un nuevo contrato de arrendamiento por cinco años de un edificio de
                                                165,000 ft<sup>2</sup> en la ciudad de Juárez. El arrendatario es una compañía
                                                pública estadounidense que cotiza en la Bolsa de Nueva York.</p>
                                          </div>
                                          <div class="row">
                                              <div class="col-md-12">
                                                  <div class="event-body">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <img src="{% static 'images/historia/2020-3.jpg' %}"
                                                                   class="img-responsive" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </li>

                                      <div class="clearfix"></div>
                                      <br><br>

                                        <li class="year">2019</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se anuncia contrato de arrendamiento, con una empresa privada estadounidense
                                                  de la industria electrónica con presencia en todo el conteniente americano,
                                                  para un edificio de fabricación de 127,000 ft<sup>2</sup> en Reynosa, Tamaulipas. El acuerdo es un contrato
                                                  triple neto a 7 años.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s"">
                                            <div class="event-date">
                                                <p>Firma de un contrato de arrendamiento por 5 años de un inmueble para manufactura
                                                  tipo <i>build to suit</i> en Ciudad Juárez con una superficie de 131,000 ft<sup>2</sup>. El arrendatario es una compañía estadounidense
                                                  que cotiza en el NASDAQ y cuenta con presencia alrededor del mundo.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Firma de un contrato de arrendamiento para la construcción de un nuevo complejo de oficinas de 58,526 ft<sup>2</sup> en la
                                                  ciudad de Querétaro. El arrendatario es una compañía pública que cotiza en el NYSE y cuyas oficinas
                                                  centrales se ubican en Estados Unidos.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-3.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se anuncia acuerdo por 3 años para el arrendamiento de una nave industrial de 86,223 ft<sup>2</sup> en
                                                  Ciudad Juárez a una empresa pública listada en el TSX Composite Index y el NASDAQ
                                                  en Estados Unidos, cuyas oficinas centrales se encuentran en Canadá.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-4.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Firma de un contrato de arrendamiento para la ampliación de UNITEC Campus Guadalajara
                                                  en su fase 3. El acuerdo es un contrato triple neto a 9 años y el área total construida
                                                  alcanzará 158,000 ft<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-5.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Firma de un contrato de arrendamiento con Visteon Corporation (una empresa estadounidense
                                                  líder en fabricación de componentes para la industria automotriz) para la expansión de su
                                                  planta de servicios localizada en el Parque Tecnológico Bafar en Chihuahua, Chihuahua. El
                                                  acuerdo es un contrato triple neto con rentas en dólares y un plazo de 9 años.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2019-6.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2018</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se incorporan al portafolio 5 inmuebles del sector retail bajo el formato de tiendas Carne Mart
                                                  que se encuentran arrendadas a Grupo Bafar.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova firma nuevo contrato de arrendamiento con un fabricante de componentes de la industria
                                                  automotriz que cotiza en la Bolsa de Valores de Nueva York, para la construcción de un edificio de
                                                  22,500 m<sup>2</sup> en Querétaro, Querétaro, con una inversión estimada de USD$13.3 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-E.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova anuncia nuevo contrato con Legget & Platt Inc. (una compañía listada en la Bolsa de
                                                  Valores de Nueva York que cuenta con operaciones en 18 países) para el arrendamiento de un edificio de
                                                  257,000 ft<sup>2</sup> ubicado en Cd. Juárez, Chihuahua.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-C.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se firma contrato de arrendamiento con Alt Technologies para un edificio <i>build to suit</i> en Chihuahua, Chihuahua,
                                                  con una superficie de 62 mil ft<sup>2</sup>. Además, el Comité Técnico aprobó la realización de inversiones por un total
                                                  cercano a los USD$80 millones en las ciudades de Monterrey, Querétaro, Chihuahua y Ciudad Juárez.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se firma un contrato de arrendamiento para la segunda fase del complejo educativo de la UNITEC en la ciudad de Querétaro.
                                                  Dicho contrato contempla 5,577 m<sup>2</sup> más áreas de estacionamiento y una inversión de Ps.81 millones.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-firma.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Se adquiere una nave industrial ubicada en Chihuahua, Chihuahua por USD$2.5 millones, con
                                                  una superficie de 10,692 m<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2018-F.png' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <div class="clearfix"></div>
                                        <br><br>

                                        <li class="year">2017</li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Inicia operaciones el inmueble “Planta La Piedad”, que forma parte del portafolio
                                                  inicial de Fibra Nova. Además se realiza la adquisición de los inmuebles “Teleperformance”
                                                  (<i>Call Center</i> ubicado en Chihuahua) y “Visteon Reynosa” (nave industrial).</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-1.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  right_side down wow fadeInRightBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Inauguración del UNITEC Campus Querétaro, complejo educativo que forma parte
                                                  del portafolio inicial de Fibra Nova.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-2.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="event  left_side wow fadeInLeftBig" data-wow-duration="1.5s">
                                            <div class="event-date">
                                                <p>Fibra Nova inicia operaciones el 3 de agosto, realizando su Oferta Pública Inicial
                                                  en la BMV. Con estos recursos, el Fideicomiso formalizó
                                                  la adquisición de su portafolio inicial, compuesto por 81 activos inmobiliarios
                                                  cuya ABR en conjunto ascendía a 217,562 m<sup>2</sup>.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="event-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <img src="{% static 'images/historia/2017-3.jpg' %}"
                                                                     class="img-responsive" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        `
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
