{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix m-0">
                <div class="col-md-12">
                <table id="table1" class="table table-responsive table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Asambleas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/22-04-2021-Acuerdos.pdf">
                            2021-04-22 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/22-04-2021-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/07-04-2021-Convocatoria.pdf">
                            2021-04-07 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/07-04-2021-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/06-04-2021-Acuerdos.pdf">
                            2021-04-06 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/06-04-2021-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/25-03-2021-Convocatoria.pdf">
                            2021-03-25 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/25-03-2021-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/02-02-2021-Acuerdos.pdf">
                            2021-02-02 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/02-02-2021-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/15-01-2021-Convocatoria.pdf">
                            2021-01-15 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/15-01-2021-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/04-11-2020-Acuerdos.pdf">
                            2020-11-04 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/04-11-2020-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/22-10-2020-Convocatoria.pdf">
                            2020-10-22 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/22-10-2020-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/28-04-2020-Acuerdos.pdf">
                            2020-04-28 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/28-04-2020-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/03-04-2020-Convocatoria.pdf">
                            2020-04-03 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/03-04-2020-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/21-01-2020-Acuerdos.pdf">
                            2020-01-21 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/21-01-2020-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/08-01-2020-Convocatoria.pdf">
                            2020-01-08 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/08-01-2020-Convocatoria.pdf">
                            Convocatoria de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/23-04-2019-Acuerdos.pdf">
                            2019-04-23 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/23-04-2019-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/05-04-2019-Convocatoria.pdf">
                            2019-04-05 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/05-04-2019-Convocatoria.pdf">
                            Convocatoria de Asamblea</a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/18-01-2019-Acuerdos.pdf">
                            2019-01-18 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/18-01-2019-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/04-01-2019-Convocatoria.pdf">
                            2019-01-04 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/04-01-2019-Convocatoria.pdf">
                            Convocatoria de Asamblea</a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/24-04-2018-Acuerdos.pdf">
                            2018-04-24 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/24-04-2018-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/09-04-2018-Convocatoria.pdf">
                            2018-04-09 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/09-04-2018-Convocatoria.pdf">
                            Convocatoria de Asamblea</a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank" href="{{ urlbase }}/Asambleas/12-09-2017-Acuerdos.pdf">
                            2017-09-12 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/12-09-2017-Acuerdos.pdf">
                            Acuerdos de Asamblea </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/Asambleas/30-08-2017-Convocatoria.pdf">
                            2017-08-30 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/Asambleas/30-08-2017-Convocatoria.pdf">
                            Convocatoria de Asamblea</a></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block otherstyles %}
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}?v=1.0.1" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatable-ajustes.css' %}" rel="stylesheet">
{% endblock %}

{% block otherscripts %}
    <script>
        if (locale === 'es') {
            var trime = $('#table1').DataTable({
                "language": {
                    "lengthMenu": "Mostrar en bloques de  _MENU_  registros",
                    "zeroRecords": "No se he encontrado",
                    "info": "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                    "infoEmpty": "No hay registros disponibles",
                    "infoFiltered": "(filtrado de _MAX_ registros en total)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sPrevious": "Anterior",
                        "sNext": "Siguiente",
                        "sLast": "Último"
                    }
                },
                "pagingType": $(window).width() < 768 ? "full" : "full_numbers",
                "bSort": true,
                "order": [[1, 'desc']],
                "dom": "<'row'<'col-lg-9 d-flex align-items-center'l><'col-lg-3'<'#year.mb-2 mr-5 d-flex align-items-center'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                initComplete: function () {
                    var label = $('<label class="mb-0" style="margin-right:10px;">Año</label>')
                        .appendTo($('#year'));
                    var select = $('<select class="form-control form-control-sm" id="t_doc"><option value="">Todos</option></select>')
                        .appendTo($('#year'))
                        .on('change', function () {
                            trime
                                .columns(1)
                                .search($(this).val())
                                .draw();
                        });
                    var array_years = [
                        {tipo: 2021, name: '2021'},
                        {tipo: 2020, name: '2020'},
                        {tipo: 2019, name: '2019'},
                        {tipo: 2018, name: '2018'},
                        {tipo: 2017, name: '2017'},
                    ];
                    $.each(array_years, function (index, value) {
                        select.append('<option value="' + value.tipo + '">' + value.name + '</option>')
                    });
                }
            });
        } else {
            var trime = $('#table1').DataTable({
                "pagingType": $(window).width() < 768 ? "full" : "full_numbers",
                "bSort": true,
                "order": [[1, 'desc']],
                "dom": "<'row'<'col-lg-9 d-flex align-items-center'l><'col-lg-3'<'#year.mb-2 mr-5 d-flex align-items-center'>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                initComplete: function () {
                    var label = $('<label class="mb-0" style="margin-right:10px;">Year</label>')
                        .appendTo($('#year'));
                    var select = $('<select class="form-control form-control-sm" id="t_doc"><option value="">All</option></select>')
                        .appendTo($('#year'))
                        .on('change', function () {
                            trime
                                .columns(1)
                                .search($(this).val())
                                .draw();
                        });
                    var array_years = [
                        {tipo: 2021, name: '2021'},
                        {tipo: 2020, name: '2020'},
                        {tipo: 2019, name: '2019'},
                        {tipo: 2018, name: '2018'},
                        {tipo: 2017, name: '2017'},
                    ];
                    $.each(array_years, function (index, value) {
                        select.append('<option value="' + value.tipo + '">' + value.name + '</option>')
                    });
                }
            });
        }
    </script>
{% endblock %}