{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row align-items-center pitch1">
                <div class="col-lg-12" style="margin-bottom: 30px;">

                <div class="col-lg-12 pitch1">
                    <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s"
                         style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="text"><p>Fibra Nova cuenta con un compromiso enfocado a la responsabilidad
                            y solidaridad hacia las comunidades donde tiene presencia, impulsado
                            en todos los ámbitos posibles el comportamiento socialmente responsable. En este sentido,
                            es de especial interes transitar hacia un modelo de negocio aun más responsable, que se
                            alinee
                            a los mejores estándares Ambientales, Sociales y de Gobernanza (ASG)
                            del mercado.</p><br>

                            <p>Con un fuerte compromiso con la protección y conservación del medio ambiente, Fibra Nova
                                lleva a
                                cabo sus operaciones de acuerdo la legislación federal y estatal en
                                materia de protección ambiental, la cual toma en consideración, entre otras cosas,
                                la planeación ecológica, la elaboración de estudios de impacto y riesgo ambiental, la
                                contaminación atmosférica, la designación de áreas naturales protegidas, la protección
                                de la flora y fauna, la conservación y racionalización del uso de los recursos
                                naturales y la contaminación del suelo.</p><br>

                            <p>Asimismo, hace uso de las mejores prácticas modernas que permitan a todas sus
                                instalaciones ser más eficientes
                                en el consumo de energía eléctrica, mediante la utilización de techos aislados,
                                iluminación led y domos,
                                así como un riguroso control de los sistemas de riego y sanitarios para maximizar el uso
                                del agua.</p>
                            <br>
                            <h1 class="wow fadeInLeftBig">Documentos Corporativos</h1>
                        </div>

                    </div>
                </div>

            </div>
            <br><br>

            <div class="row">
                <div class="col-sm-6 col-md-4 wow fadeInUpBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Codigo-de-Etica-Fibra-Nova.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento1.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>Define la manera en que todos quienes conforman Fibra Nova deben comportarse, colocando
                                a la honestidad como base del actuar diario.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInRightBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Politica-Corporativa-de-anticorrupcion-FNOVA.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento2.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>Establece las responsabilidades y obligaciones en materia de anticorrupción que los Colaboradores
                                y terceros que actuan en nombre de Fibra Nova deben basar sus actividades diarias.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4 wow fadeInLeftBig">
                    <a href="http://cdn.investorcloud.net/FNOVA/2021-Politica-corporativa-de-integridad-FNOVA.pdf"
                       target="_blank">
                        <div class="hover-black" style="position: relative">
                            <img class="img-fluid" src="{% static 'images/contenido/documento3.png' %}" alt="">
                            <div class="bg-black-opacity team-member-details">
                                <p>Define los lineamientos y procedimientos que aseguran que Fibra Nova y sus Colaboradores cumplan con
                                las leyes de forma etica.</p>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-md-12 text-center mb-20">
                    <img src="{% static 'images/contenido/foto1.png' %}" alt="" class="wow fadeInUpBig">
                </div>
                <div class="col-md-12 text-center mb-20">
                    <img src="{% static 'images/contenido/foto2.png' %}" alt="" class="wow fadeInUpBig">
                </div>

            </div>
            </div>

        </div>
    </section>
{% endblock %}
