{% extends 'layouts/base.html' %}

{% block content %}
<section class="default-section">
    <div class="auto-container">
        <div class="row clearfix">
            <table id="table1" class="table table-responsive table-hover">
                <thead></thead>
                <tbody>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_914252_1.pdf">
                          2019-04-23 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_914252_1.pdf">
                          Acuerdos de Asamblea </a></td>
                  </tr>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_911001_1.pdf">
                          2019-04-05 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_911001_1.pdf">
                          Convocatoria de Asamblea</a></td>
                  </tr>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_892025_1.pdf">
                          2019-01-18 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_892025_1.pdf">
                          Acuerdos de Asamblea </a></td>
                  </tr>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_888541_1.pdf">
                          2019-04-01 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_888541_1.pdf">
                          Convocatoria de Asamblea</a></td>
                  </tr>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_825672_1.pdf">
                          2018-04-24 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_825672_1.pdf">
                          Acuerdos de Asamblea </a></td>
                  </tr>
                  <tr>
                      <td class="td-tab-1">
                          <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                      <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_821940_1.pdf">
                          2018-04-09 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_821940_1.pdf">
                          Convocatoria de Asamblea</a></td>
                  </tr>
                <tr>
                    <td class="td-tab-1">
                        <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                    <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_779697_1.pdf">
                        2017-09-12 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/acuerdot/acuerdot_779697_1.pdf">
                        Acuerdos de Asamblea </a></td>
                </tr>
                <tr>
                    <td class="td-tab-1">
                        <a target="_blank" href=""><i class="fa fa-download"></i></a></td>
                    <td class="td-tab-2"><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_777451_1.pdf">
                        2017-08-30 </a><br><a target="_blank" href="https://www.bmv.com.mx/docs-pub/convocat/convocat_777451_1.pdf">
                        Convocatoria de Asamblea</a></td>
                </tr>
                </tbody>
            </table>
        </div>
</section>
{% endblock %}
