{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <table id="table1" class="table table-responsive table-hover">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href=""><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="">
                            2018-01-01 </a><br><a target="_blank"
                                                  href="">
                            Avisos, Acuerdos y Asambleas </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href=""><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="">
                            2017-01-01 </a><br><a target="_blank"
                                                  href="">
                            Estatutos Sociales </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href=""><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="">
                            2017-01-01 </a><br><a target="_blank"
                                                  href="">
                            Código de Ética </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}
