{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <table id="table1" class="table table-responsive table-hover">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href="{{ urlbase }}/2021-Codigo-de-Etica-Fibra-Nova.pdf"><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/2021-Codigo-de-Etica-Fibra-Nova.pdf">
                            2021-01-01 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/2021-Codigo-de-Etica-Fibra-Nova.pdf">
                            Código de Ética </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href="{{ urlbase }}/2021-Politica-Corporativa-de-anticorrupcion-FNOVA.pdf"><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/2021-Politica-Corporativa-de-anticorrupcion-FNOVA.pdf">
                            2021-01-01 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/2021-Politica-Corporativa-de-anticorrupcion-FNOVA.pdf">
                            Política Corporativa de Anticorrupción </a></td>
                    </tr>
                    <tr>
                        <td class="td-tab-1">
                            <a target="_blank"
                               href="{{ urlbase }}/2021-Politica-corporativa-de-integridad-FNOVA.pdf"><i
                                    class="fa fa-download"></i></a></td>
                        <td class="td-tab-2"><a target="_blank"
                                                href="{{ urlbase }}/2021-Politica-corporativa-de-integridad-FNOVA.pdf">
                            2021-01-01 </a><br><a target="_blank"
                                                  href="{{ urlbase }}/2021-Politica-corporativa-de-integridad-FNOVA.pdf">
                            Política Corporativa de Integridad </a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}
