{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <section class="testimonial sp-one parallax-bg">
                    <div class="auto-container">

                        <div class="two-item-carousel owl-carousel owl-theme owl-dot-style-one owl-nav-none">
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>jhone Doe</h3>
                                            <div class="designation">Manager</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Robert William</h3>
                                            <div class="designation">CEO-Founder</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>jhone Doe</h3>
                                            <div class="designation">Manager</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Robert William</h3>
                                            <div class="designation">CEO-Founder</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>jhone Doe</h3>
                                            <div class="designation">Manager</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">The heights by great men reached kept were attained by sudden
                                        flight, but they while companion slept, were tooiling upward in the night.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Robert William</h3>
                                            <div class="designation">CEO-Founder</div>
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}