{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <section class="testimonial sp-one parallax-bg">
                    <div class="auto-container">

                        <div class="two-item-carousel owl-carousel owl-theme owl-dot-style-one owl-nav-none">
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Es licenciado en Administración de Empresas, graduado de la
                                        Universidad de Las Cruces, Nuevo México y cuenta con un posgrado por parte de
                                        Harvard Business School. Es presidente del consejo de administración, director
                                        general y socio fundador de Grupo Bafar. Está al frente de la empresa desde su
                                        inicio en el año de 1983 y participa en diversos comités como el Consejo
                                        Mexicano de la Carne, CANACINTRA Delegación Chihuahua, integrante de la
                                        Asociación Nacional de Empacadores TIF y el Consejo Nacional Agropecuario.
                                        También es Consejero de “Food Group” y del Consejo Mexicano de la Industria de
                                        Productos de Consumo, denominado “Conméxico” así como consejero del Consejo
                                        Coordinador Empresarial. De igual forma, tiene participación en el consejo de
                                        diversas organizaciones como NAFIN, ITESM, Banamex, Telmex y BBVA Bancomer.
                                        Fungió como presidente municipal de la ciudad de Chihuahua. Es reconocido como
                                        uno de los 100 empresarios más importantes de México y uno de los líderes más
                                        influyentes en México según diversas publicaciones.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>Oscar Eugenio Baeza Fares </h3>
                                            {#                                            <div class="designation">Manager</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Es Contador Público del Instituto Tecnológico y de Estudios
                                        Superiores de Monterrey (campus Monterrey) y cuenta con un postgrado por parte
                                        de Harvard Business School. Es vicepresidente del consejo de administración y
                                        actualmente director de fusiones, adquisiciones y alianzas de Grupo Bafar.
                                        Durante más de 30 años dentro de Grupo Bafar ha ocupado diversos puestos
                                        directivos siendo pionero en el desarrollo de productos, mercados y marcas
                                        carnes frías y quesos en el mercado mexicano. Ha sido líder y pieza clave en la
                                        adquisición de varias compañías como Grupo Burr en el pacífico, Parma, Sabori y
                                        Campestre marcas de la multinacional Nestlé, carnes frías Ponderosa en el
                                        noreste y las tiendas Zagora en Puebla.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Guillermo Enrique Baeza Fares </h3>
                                            {#                                            <div class="designation">CEO-Founder</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Estudió la carrera de Ingeniería Industrial en la Universidad
                                        Iberoamericana. Tiene experiencia laboral de 40 años en el medio financiero.
                                        Actualmente se desempeña como consultor financiero independiente y participa
                                        como consejero independiente en varias empresas públicas en México. Hasta el año
                                        2002 fue socio de Capital Access, banqueros de inversión. Previamente colaboró
                                        como director en GBM Grupo Bursátil Mexicano, Casa de Bolsa; asimismo, ha
                                        desempeñado cargos ejecutivos en las áreas de promoción y operación de empresas,
                                        tales como: Casa de Bolsa Banamex y Multivalores Casa de Bolsa, de la cual fue
                                        Socio y Director General.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>Herminio Padruno Santos </h3>
                                            {#                                            <div class="designation">Manager</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Es ingeniero industrial y de sistemas por el Instituto Tecnológico
                                        de Monterrey y cuenta con estudios de posgrado por parte de la Universidad de
                                        Nueva York, tiene más de 20 años de experiencia como asesor de negocios, es
                                        socio fundador de Alfaro Dávila & Rios S.C. (ADR), ocupo posiciones directivas
                                        en Credit Suisse y en el Banco de Inversión Donaldson Luftkin and Jenrette.
                                        Especialista en procesos fusiones y adquisiciones, reestructuras,
                                        financiamientos, operaciones en mercados de capitales e inversión participando
                                        en importantes transacciones de empresas públicas de México y del extranjero.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Ricardo Dávila Quiñones </h3>
                                            {#                                            <div class="designation">CEO-Founder</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Es ingeniero industrial y de sistemas por el Instituto Tecnológico
                                        de Monterrey y cursó el diplomado en Administración en Harvard Business School.
                                        Es presidente del Grupo Ruba, una de las principales empresas del norte del país
                                        dedicada a la construcción de casas; así como de Cubiertas Industriales de
                                        México (Cubimsa), cuyo negocio es la impermeabilización, aislamiento e
                                        iluminación natural para techos en edificios y naves industriales; dirige
                                        también un importante rancho ganadero en el estado de Chihuahua. Fue presidente
                                        de Coparmex en Chihuahua, así como consejero de Grupo Punto Alto, Grupo Cementos
                                        de Chihuahua y Coparmex a nivel nacional. También participa en los siguientes
                                        organismos: fue presidente de Centro de Desarrollo para el Liderazgo Humano,
                                        A.C. y participa en el consejo del Tecnológico de Monterrey.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-1.jpg' %}" alt="">
                                            </div>
                                            <h3>Luis Enrique Terrazas Seyffert </h3>
                                            {#                                            <div class="designation">Manager</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Es Licenciado en Derecho por la Universidad Iberoamericana, cuenta
                                        con estudios de posgrado en la Universidad de New York y Hague Academy of
                                        International Law. Actualmente es socio del despacho legal EGAO y tiene más de
                                        35 años de experiencia asesorando a clientes en operación de estructuración e
                                        implementación de joint ventures en México y ha participado activamente en
                                        numerosas fusiones y adquisiciones y contratos de concesión de licencias y
                                        transferencia de tecnología. Asesor legal de regulaciones de maquila a la
                                        oficina de promoción industrial de Yucatán y Chihuahua. Es orador y panelista en
                                        la Cámara de Comercio Latinoamericana en Suiza, sección de impuestos
                                        internacionales. Ha sido ponente y panelista del marco legal de préstamos
                                        internacionales en varios foros como la Cámara Americana de Comercio de México y
                                        programas de educación legal continúa en Freshfields Buckhause Deringer LP.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Carlos Ignacio Enriquez Terrazas</h3>
{#                                            <div class="designation"></div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="testimonial-block-four">
                                <div class="inner-box">
                                    <div class="text">Tiene una licenciatura y maestría en Negocios (MBA) por la
                                        Universidad de Alabama en Estados Unidos, tiene más de 15 años de experiencia
                                        profesional en la industria de la manufactura de exportación en México, Estados
                                        Unidos y Canadá. Actualmente es vicepresidente de compras en Electrolux AB en
                                        Carolina del Norte, Estados Unidos, una de las empresas líderes en la
                                        fabricación de aparatos eléctricos. Ha ocupado importantes posiciones en áreas
                                        administrativas y financieras en Franke y The Vista Corporation, importantes
                                        empresas manufactureras de muebles y aparatos para el hogar e industria. Dentro
                                        de su experiencia profesional ha permitido implementar estrategias de lago plazo
                                        en proyectos en toda Norteamérica, generando alianzas con el gobierno y
                                        alcanzando significativos ahorros y eficiencias operativas en los proyectos en
                                        los que ha participado.
                                    </div>
                                    <div class="user-info">
                                        <div class="inner">
                                            <div class="author-image">
                                                <img src="{% static 'images/resource/author-2.jpg' %}" alt="">
                                            </div>
                                            <h3>Jacob Burroughs </h3>
{#                                            <div class="designation">Manager</div>#}
                                            <div class="quote"><span class="flaticon-left-quote-1"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}