{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <section class="testimonial-section sp-one">
                    <div class="auto-container">

                        <div class="two-item-carousel owl-carousel owl-theme owl-nav-none">
                            <div class="testimonial-block-five">
                                <div class="top-content">
                                    <div class="img-box">
                                        <figure><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></figure>
                                    </div>
                                    <div class="text">Vainly and far some well then impalpably tight sed apart
                                        moronically crud willful in for candidly as ornliy excruciat
                                        more antagonistically pangolin much.
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="text">Adam Smith - <span>CO-Founder</span></div>
                                    <ul class="author-rating in_block">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial-block-five">
                                <div class="top-content">
                                    <div class="img-box">
                                        <figure><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></figure>
                                    </div>
                                    <div class="text">Vainly and far some well then impalpably tight sed apart
                                        moronically crud willful in for candidly as ornliy excruciat
                                        more antagonistically pangolin much.
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="text">Robert William - <span>Manager</span></div>
                                    <ul class="author-rating in_block">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial-block-five">
                                <div class="top-content">
                                    <div class="img-box">
                                        <figure><img src="{% static 'images/resource/author-1.jpg' %}" alt=""></figure>
                                    </div>
                                    <div class="text">Vainly and far some well then impalpably tight sed apart
                                        moronically crud willful in for candidly as ornliy excruciat
                                        more antagonistically pangolin much.
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="text">Adam Smith - <span>CO-Founder</span></div>
                                    <ul class="author-rating in_block">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial-block-five">
                                <div class="top-content">
                                    <div class="img-box">
                                        <figure><img src="{% static 'images/resource/author-3.jpg' %}" alt=""></figure>
                                    </div>
                                    <div class="text">Vainly and far some well then impalpably tight sed apart
                                        moronically crud willful in for candidly as ornliy excruciat
                                        more antagonistically pangolin much.
                                    </div>
                                </div>
                                <div class="author-info">
                                    <div class="text">Robert William - <span>Manager</span></div>
                                    <ul class="author-rating in_block">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end column -->
                        </div>
                    </div>
                </section>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}