{% extends 'layouts/base.html' %}

{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="col-md-9">Documento</th>
                        <th>Archivo</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td class="text-center"><a href="#"><i class="fa fa-file-pdf-o fa-2x"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br><br>
        </div>
    </section>
{% endblock %}