{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
<div class="container calculadora">
    <div class="row justify-content-center">
        <div class=" col-sm-12 col-xs-12">
              <div class="row" style="margin: 0px;">
                <div class="team-item col-xs-12 col-sm-6 col-md-4 mb-30 wow fadeInUpBig">
                  <div class="single-service">
                    <h2 style="color:#1F478D;">BBVA</h2>
                    <div class="service-details">
                      <h4>Francisco Chavez</h4>
                      <a href="mailto:f.chavez@bbva.com">f.chavez@bbva.com</a>
                      <p>Tel. +52 (55) 56219703</p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="team-item col-xs-12 col-sm-6 col-md-4 mb-30 wow fadeInRightBig">
                  <div class="single-service">
                    <h2 style="color:#1F478D;">Grupo Bursátil Mexicano</h2>

                    <div class="service-details">
                      <h4>Eugenio Saldaña</h4>
                      <a href="mailto:lesaldana@gbm.com.mx">lesaldana@gbm.com.mx</a>
                      <p>Tel. 52 (55) 54805800</p>
                      <p>Ext. 4848</p>
                    </div>
                  </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="team-item col-xs-12 col-sm-6 col-md-4 mb-30 wow fadeInLeftBig">

                  <div class="single-service">
                    <h2 style="color:#1F478D;">Apalache Estructuración</h2>
                    <div class="service-details">
                      <h4>Jorge Plácido</h4>
                      <a href="mailto:jorge.placido@apalache.mx">jorge.placido@apalache.mx</a>
                      <p>Tel. +52 (55) 5412-4273</p>
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
              <br>


        </div><!-- end col-lg-9 -->
    </div><!-- end row -->
    <div class="clearfix"></div>
</div>
    </section>
{% endblock %}
