{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <section class="default-section">
        <div class="auto-container">
            <div class="row clearfix">
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">In accordance with the Mexican Income Tax Law, a Mexican REIT must distribute at least 95% of its
                 taxable income on an annual basis, calculated as required by the same law, considering cumulative income generated during the full year and subtracting authorized
               deduction (the loss from previous years pending amortization must be subtracted.)</p>

               <div class="text-center title">Distribution per CBFI (in Mexican pesos)</div>
               <div id="chart_distribuciones" style="width: 100%;height: 400px">

               </div>
                <p class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">The Technical Committee will deermine the terms of the cash distributions, considering factors such as:</p>
                <ul class="list3 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                    <li>Actual operating results</li>
                    <li>Retained cash flows</li>
                    <li>Terms and conditions of any financing</li>
                    <li>Any related debt service requirements</li>
                    <li>Capex requirements</li>
                    <li>Taxable income</li>
                    <li>Cash distribution obligations under applicable law</li>
                    <li>Operating expenses</li>
                    <li>Other factors deemed material</li>
                </ul>

                <table class="table table-bordered table-hover makeDataTatble">
                    <thead>
                    <tr>
                        <th class="text-center">Notice to Holders</th>
                        <th class="text-center">Date of Release</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/23-07-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/23-07-2021-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-07-23</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/07-05-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/07-05-2021-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-05-07</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/06-05-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/06-05-2021-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-05-06</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion-2.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion-2.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-04-27</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/27-04-2021-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-04-27</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/03-03-2021-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/03-03-2021-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2021-03-03</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/05-11-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/05-11-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-11-05</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/05-08-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/05-08-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-08-05</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/12-05-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/12-05-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-05-12</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/10-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/10-03-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-03-10</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/03-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/03-03-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-03-03</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/02-03-2020-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/02-03-2020-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2020-03-02</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/21-11-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/21-11-2019-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2019-11-21</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/20-08-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/20-08-2019-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2019-08-20</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-05-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-05-2019-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2019-05-13</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/06-03-2019-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/06-03-2019-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2019-03-06</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-11-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-11-2018-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-11-13</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/29-08-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/29-08-2018-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-08-29</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion-2.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion-2.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-08-28</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/28-08-2018-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-08-28</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/17-05-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/17-05-2018-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-05-17</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/26-02-2018-Distribucion.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/26-02-2018-Distribucion.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2018-02-26</td>
                      </tr>
                      <tr>
                          <td class="td-tab-2 text-center"><a target="_blank"
                             href="{{ urlbase }}/Distribuciones/13-11-2017-Distribucion-3T17.pdf"><i
                                  class="fa fa-download"></i></a><a target="_blank"
                                                    href="{{ urlbase }}/Distribuciones/13-11-2017-Distribucion-3T17.pdf">
                                                    Notice to Holders  </a></td>
                          <td class="text-center td-tab-2">2017-11-13</td>
                      </tr>
                    </tbody>
                </table>

            </div>
            <br><br>
        </div>
    </section>
{% endblock %}
{% block otherscripts %}
    <script src="{% static 'js/amCharts/amcharts.js' %}"></script>
    <script src="{% static 'js/amCharts/serial.js' %}"></script>
    <script src="{% static 'js/amCharts/contenido/distribuciones.js' %}?v=1.0.3"></script>
{% endblock %}
{% block otherstyles %}
    <link href="{% static 'css/dataTables.bootstrap4.min.css' %}?v=1.0.1" rel="stylesheet">
    <link href="{% static 'css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/datatable-ajustes.css' %}" rel="stylesheet">
{% endblock %}
